<div class="add-to-cart-popup popup-overlay popup-wrapper" style="display:none;">
  <div class="outer">
    <div class="inner">
      <div class="popup-content">
        <div class="image"><img src="{{ 'add_to_cart_popup_background_image.jpg' | asset_url }}"  style="background-image: url('{{ 'add_to_cart_popup_background_image.jpg' | asset_url }}');"/></div>
        <div class="content">
          <h2>{{ settings.add_to_cart_title }}</h2>
          <p>{{ settings.add_to_cart_description }}</p>
          <a class="button button--black" href="/cart">View Cart</a>
          <a class="link" href="/">Continue Shopping</a>
        </div>
      </div>
    </div>
  </div>
</div>
