<div class="panel panel--product" data-handle="[[ handle ]]" data-variant-id="[[ objectID ]]">
    <div class="panel__header">
        <a class="panel__header__background"
           href="/products/[[ handle ]]?variant=[[ objectID ]]"
           style="background-image: url('[[# helpers.largeImage ]][[/ helpers.largeImage ]]')"
        ></a>
        <!-- include 'wishlist-button-collection' with '[[ id ]]' -->
        <div class="panel__header__ribbons">
            <ul class="panel__header__ribbons__list">
                [[# tags['her'] ]]
                <li class="panel__header__ribbons__list__new"><span>New</span></li>
                [[/ tags['her'] ]]
            </ul>
        </div>
    </div>
    <div class="panel__body">
        <a class="panel__body__title" href="/products/[[ handle ]]?variant=[[ objectID ]]">
            [[# helpers.fullTitle ]][[/ helpers.fullTitle ]]
        </a>
        <div class="panel__body__price">
            [[# helpers.formattedPriceWrapped ]][[/ helpers.formattedPriceWrapped ]]
        </div>
    </div>
</div>
