{% unless article == blank %}
<div class="spacer-sm show-mobile"></div>
<div class="panel panel--article">
    {% if article.image %}
        <div class="panel__header">
            <a class="panel__header__background"
               href="{{ article.url }}" {% if article.image %} style="background-image: url('{{ article.image | img_url: '370x', format: 'pjpg' }}');"{% endif %}></a>
        </div>
    {% endif %}

    <div class="panel__body">
        <a class="panel__body__title" href="{{ article.url }}">{{ article.title }}</a>

        <p class="panel__body__content">
            {% if article.excerpt == blank %}
                {{ article.content | strip_html | truncate: 200 }}
            {% else %}
                {{ article.excerpt | strip_html | truncate: 200 }}
            {% endif %}
        </p>

        <a class="panel__body__link" href="{{ article.url }}">Tell me more</a>
    </div>
</div>
{% endunless %}