{% unless settings.recent_blog == blank or settings.recent_blog.empty? %}
{% assign blog = blogs[settings.recent_blog] %}

<div class="container">
    {% unless settings.recent_blog_title == '' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="divider divider--bottom"></div>
            <h3 class="page-title">
                {{ settings.blog_title }}
                <small>{{ settings.blog_subtitle }}</small>
            </h3>
        </div>
    </div>
    {% endunless %}

    <div class="row">
        {% for article in blog.articles limit: 3 %}
            <div class="col-sm-4">
                {% include 'article-item' %}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="button button--black" href="{{ blog.url }}">View all</a>
        </div>
    </div>
</div>
{% endunless %}