{% assign pages = blog.articles_count | divided_by: 6 | ceil | plus: 1 %}

{% if pages < 10 %}
    {% assign issue = '000' | append: pages %}
    {% elsif pages < 100 %}
    {% assign issue = '00' | append: pages %}
    {% elsif pages < 1000 %}
    {% assign issue = '0' | append: pages %}
{% else %}
    {% assign issue = pages %}
{% endif %}

<span>Your monthly magazine: Issue {{ issue }}</span>