<!-- /snippets/breadcrumb.liquid -->
{% comment %}
Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' or template == 'cart' %}
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

    {% if template contains 'product' %}

        {% if collection %}
            <span aria-hidden="true">&rsaquo;</span>
            {% if collection.handle %}
                {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                {{ collection.title | link_to: url }}
            {% endif %}
        {% endif %}
        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ product.title }}</span>

        {% elsif template contains 'collection' and collection.handle %}

        <span aria-hidden="true">&rsaquo;</span>
        {% if current_tags %}
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
            {{ collection.title | link_to: url }}
            <span aria-hidden="true">&rsaquo;</span>
            <span>{{ current_tags | join: " + " }}</span>
        {% else %}
            <span>{{ collection.title }}</span>
        {% endif %}

        {% elsif template == 'blog' %}

        <span aria-hidden="true">&rsaquo;</span>
        {% if current_tags %}
            {{ blog.title | link_to: blog.url }}
            <span aria-hidden="true">&rsaquo;</span>
            <span>{{ current_tags | join: " + " }}</span>
        {% else %}
            <span>{{ blog.title }}</span>
        {% endif %}

        {% elsif template == 'article' %}

        <span aria-hidden="true">&rsaquo;</span>
        {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ article.title }}</span>

        {% elsif template contains 'page' %}

        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ page.title }}</span>

    {% else %}

        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ page_title }}</span>

    {% endif %}
</nav>
{% endunless %}
