{% if customer %}{% if customer.tags contains "Wholesale" %}
            <script>
                var storeArguments = {
                    customer: "{{customer.id}}",
                    shopAddress: "{{shop.permanent_domain}}",
                };
            </script>
            {{"CK_script.js" | asset_url | script_tag }}                
            {% endif %}{% endif %}