<div class="collection__sorting" id="filter">
    <button id="toggle-filter" class="button button--outline-grey-dark">Filter</button>

    <select name="sort_by" id="sort-by" title="Sort by">
        <option value="manual">Featured</option>
        <option value="best-selling">Best Selling</option>
        <option value="price-ascending">Price: Low to High</option>
        <option value="price-descending">Price: High to Low</option>
        <option value="title-ascending">A-Z</option>
        <option value="title-descending">Z-A</option>
        <option value="created-ascending">Oldest to Newest</option>
        <option value="created-descending">Newest to Oldest</option>
    </select>
</div>

<script>
    /*============================================================================
     Inline JS because collection liquid object is only available
     on collection pages, and not external JS files
     ==============================================================================*/

    Shopify.queryParams = {};

    if (location.search.length) {
        for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
            aKeyValue = aCouples[i].split('=');
            if (aKeyValue.length > 1) {
                Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
            }
        }
    }

    jQuery('#sort-by')
            .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
            .bind('change', function () {
                Shopify.queryParams.sort_by = jQuery(this).val();
                location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
            });

    function toggleFilters() {
        jQuery('.collection__products').toggleClass('collection--filters-active');
        jQuery('#toggle-filter').toggleClass('button--filters-active');
    }

    jQuery('#toggle-filter').click(function (e) {
        e.preventDefault();
        toggleFilters();
    });

    jQuery(document).ready(function ($) {
        if (window.location.hash) {
            var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character

            if (hash === 'filter') {
                jQuery('.collection__products').addClass('collection--disable-transition');
                toggleFilters();

                setTimeout(function () {
                    jQuery('.collection__products').removeClass('collection--disable-transition');
                }, 100)
            }
        }
    });
</script>