<ul class="tag-filter__list">
    {% for t in tags %}
        {% assign tag = t | strip %}
        {% assign tag_name = tag | split: ":" | last | capitalize %}
        {% if current_tags contains tag %}
            <li>
                <label class="form__styled">
                    <input type="checkbox" value="{{ tag | handle }}" checked>
                    <span class="{{ tag | handle }}">{{ tag_name }}</span>
                </label>
            </li>
            {% elsif collection.all_tags contains tag %}
            <li>
                <label class="form__styled">
                    <input type="checkbox" value="{{ tag | handle }}">
                    <span class="{{ tag | handle }}">{{ tag_name }}</span>
                </label>
            </li>
        {% endif %}
    {% endfor %}
</ul>