{% assign heading = override_heading | default: collection.title %}

<a class="grid-item grid-item--collection" href="{{ collection.url }}"
        {% if override_image %}
            style="background-image: url({{ override_image }})"
            {% elsif collection.image %}
            style="background-image: url({{ collection.image | img_url: '555x' }})"
        {% endif %}
>
  
    <div class="grid-item__inner">
        <div class="grid-item__title">{{ heading | escape }}</div>
        <span class="button button--white">{{ cta | default: 'Shop now' }}</span>
    </div>
</a>