<div class="panel panel--product">
    <div class="panel__header">
        <a class="panel__header__background"
           href="{{ link }}"
                {% if collection.image %}
                    style="background-image: url({{ collection.image | img_url: 'x240' }})"
                {% endif %}
        ></a>
    </div>
    <div class="panel__body">
        <a class="panel__body__title" href="{{ link }}">{{ collection.title | escape }}</a>
    </div>
</div>
