{% section 'filter_swatches' %}
<div class="accordion filter-accordion">
  <dl class="tag-filter">
    {% if settings.collection_filter_1_enabled %}
      <div class="filter-container">
        <dt>
          <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">{{ settings.collection_filter_1_heading }}</a>
          <a name="filter-clear" class="clear-filters cf1">Clear</a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed {% if settings.collection_filter_1_heading contains 'Colour' %}colour-filters{% endif %}" id="accordion1" aria-hidden="true">
          {% assign tags = settings.collection_filter_1_tags | split: ',' %}
          {% include 'collection-filter-list' | tags: tags %}
        </dd>
      </div>

    {% endif %}
    {% if settings.collection_filter_2_enabled %}
    <div class="filter-container">
    <dt>
      <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">{{ settings.collection_filter_2_heading }}</a>
      <a name="filter-clear" class="clear-filters cf2">Clear</a>
    </dt>
    <dd class="accordion-content accordionItem is-collapsed {% if settings.collection_filter_2_heading contains 'Colour' %}colour-filters{% endif %}" id="accordion2" aria-hidden="true">
      {% assign tags = settings.collection_filter_2_tags | split: ',' %}
      {% include 'collection-filter-list' | tags: tags %}
    </dd>
    </div>
    {% endif %}
    {% if settings.collection_filter_3_enabled %}
    <div class="filter-container">
    <dt>
      <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">{{ settings.collection_filter_3_heading }}</a>
      <a name="filter-clear" class="clear-filters">Clear</a>
    </dt>
    <dd class="accordion-content accordionItem is-collapsed {% if settings.collection_filter_3_heading contains 'Colour' %}colour-filters{% endif %}" id="accordion3" aria-hidden="true">
      {% assign tags = settings.collection_filter_3_tags | split: ',' %}
      {% include 'collection-filter-list' | tags: tags %}
    </dd>
    </div>
    {% endif %}
    {% if settings.collection_filter_4_enabled %}
    <div class="filter-container">
    <dt>
      <a href="#accordion4" aria-expanded="false" aria-controls="accordion4" class="accordion-title accordionTitle js-accordionTrigger">{{ settings.collection_filter_4_heading }}</a>
      <a name="filter-clear" class="clear-filters">Clear</a>
    </dt>
    <dd class="accordion-content accordionItem is-collapsed {% if settings.collection_filter_4_heading contains 'Colour' %}colour-filters{% endif %}" id="accordion4" aria-hidden="true">
      {% assign tags = settings.collection_filter_4_tags | split: ',' %}
      {% include 'collection-filter-list' | tags: tags %}
    </dd>
    </div>
    {% endif %}
    {% if settings.collection_filter_5_enabled %}
    <div class="filter-container">
    <dt>
      <a href="#accordion5" aria-expanded="false" aria-controls="accordion5" class="accordion-title accordionTitle js-accordionTrigger">{{ settings.collection_filter_5_heading }}</a>
      <a name="filter-clear" class="clear-filters">Clear</a>
    </dt>
    <dd class="accordion-content accordionItem is-collapsed {% if settings.collection_filter_5_heading contains 'Colour' %}colour-filters{% endif %}" id="accordion5" aria-hidden="true">
      {% assign tags = settings.collection_filter_5_tags | split: ',' %}
      {% include 'collection-filter-list' | tags: tags %}
    </dd>
    </div>
    {% endif %}
  </dl>
</div>

{% comment %}
<div class="tag-filter">
    <div class="tag-filter__title">Type</div>
    <ul class="tag-filter__list">
        {% for product_type in collection.all_types %}
            {% unless product_type == blank %}
            <li>
                <label class="form__styled">
                    <input type="radio" value="{{ product_type | handle }}">
                    <span>{{ product_type | link_to_type }}</span>
                </label>
            </li>
            {% endunless %}
        {% endfor %}
    </ul>
</div>

<div class="tag-filter">
    <div class="tag-filter__title">Brands</div>
    <ul class="tag-filter__list">
        {% for product_vendor in collection.all_vendors %}
            <li>
                <label class="form__styled">
                    {% if collection.current_vendor and product_vendor.handle == collection.current_vendor.handle %}
                        <input type="radio" value="{{ product_vendor | handle }}" checked>
                    {% else %}
                        <input type="radio" value="{{ product_vendor | handle }}">
                    {% endif %}
                    <span>{{ product_vendor | link_to_vendor }}</span>
                </label>
            </li>
        {% endfor %}
    </ul>
</div>
{% endcomment %}

{% assign current_filters = current_tags | first | handle %}
{% for tag in current_tags | offset: 1 %}
    {% assign t = tag | handle %}
    {% assign current_filters = current_filters | append: '+' | append: t %}
{% endfor %}

<script>

    Shopify.queryParams = {};
    if (location.search.length) {
        for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
            aKeyValue = aCouples[i].split('=');
            if (aKeyValue.length > 1) {
                Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
            }
        }
    }

    var current_tags = '{{ current_filters }}';
    var filters = jQuery('.tag-filter__list input[type=checkbox]');
    filters.each(function() {
        if ($(this).prop('checked') && !$(this).parents('.filter-container').find('.clear-filters').hasClass('is-enabled')) {
                $(this).parents('.filter-container').find('.clear-filters').addClass('is-enabled');
        }
    });
    /**** TODO simplify all the filters!! ***/
    filters.change(filterChange);
    function filterChange () {
        var changing_tag = jQuery(this).val();

        if (current_tags.indexOf(changing_tag) !== -1) {
            // Tag already selected
            current_tags = current_tags.replace(changing_tag, ''); // Remove the tag
            current_tags = current_tags.replace('++', '+'); // Fix any double +
        } else {
            // Tag needs to be selected
            current_tags = current_tags + '+' + changing_tag; // Add the tag
        }

        // Remove + from start or end
        if (current_tags[0] == '+') {
            current_tags = current_tags.slice(1, current_tags.length);
        }

        if (current_tags[current_tags.length - 1] == '+') {
            current_tags = current_tags.slice(0, current_tags.length - 1);
        }


      {% if collection.handle %}

        var newURL = '/collections/{{ collection.handle }}';
        if (current_tags.length) {
            newURL += '/' + current_tags;
        }

        var search = jQuery.param(Shopify.queryParams);
        if (search.length) {
            newURL += '?' + search;
        }

        location.href = newURL + '#filter';

      {% else %}

        if (current_tags.length) {
            Shopify.queryParams.constraint = current_tags;
        } else {
            delete Shopify.queryParams.constraint;
        }

        location.search = jQuery.param(Shopify.queryParams) + '#filter';

      {% endif %}
    }

    jQuery(document).ready(function ($) {
        $('.collection__products__wrapper').css('min-height', $('.collection__filters').height());
        filterCleartoggles = $('.clear-filters');
        filterClear = $('.applied-filters li a');
        filterClear.each(clearFilter);
        filterCleartoggles.each(clearFilters);
        function clearFilters () {
            $(this).on('click', function() {
                var inputVals =[], filterInputs = $(this).parent().next().find('input[type=checkbox]:checked');
                //console.log(filterInputs);
                filterInputs.each(function() {
                    inputVals.push($(this).val());
                });
                current_filters = '{{ current_filters }}';
                newFilterarr = current_filters.split('+');
                newFilterarr = newFilterarr.filter(function(item) {
                    return inputVals.indexOf(item) === -1;
                });
                clearTags = newFilterarr.join('+');
              {% if collection.handle %}
                var newURL = '/collections/{{ collection.handle }}';
                if (clearTags.length) {
                    newURL += '/' + clearTags;
                }
                var search = jQuery.param(Shopify.queryParams);
                if (search.length) {
                    newURL += '?' + search;
                }
                location.href = newURL + '#filter';
              {% else %}
                if (clearTags.length) {
                    Shopify.queryParams.constraint = clearTags;
                } else {
                    delete Shopify.queryParams.constraint;
                }
                location.search = jQuery.param(Shopify.queryParams) + '#filter';
              {% endif %}
            });
        }
        function clearFilter () {
            $(this).on('click', function() {
                singleFilter = $(this).attr('name');
                console.log(singleFilter);
                current_filters = '{{ current_filters }}';
                if (current_filters.indexOf(singleFilter) !== -1) {
                    // Tag already selected
                    current_filters = current_filters.replace(singleFilter, ''); // Remove the tag
                    current_filters = current_filters.replace('++', '+'); // Fix any double +
                }
                if (current_filters[0] == '+') {
                    current_filters = current_filters.slice(1, current_filters.length);
                }

                if (current_filters[current_filters.length - 1] == '+') {
                    current_filters = current_filters.slice(0, current_filters.length - 1);
                }
              {% if collection.handle %}
                var newURL = '/collections/{{ collection.handle }}';
                if (current_filters.length) {
                    newURL += '/' + current_filters;
                }
                var search = jQuery.param(Shopify.queryParams);
                if (search.length) {
                    newURL += '?' + search;
                }
                location.href = newURL + '#filter';
              {% else %}
                if (current_filters.length) {
                    Shopify.queryParams.constraint = current_filters;
                } else {
                    delete Shopify.queryParams.constraint;
                }
                location.search = jQuery.param(Shopify.queryParams) + '#filter';
              {% endif %}
            });
        }
        $('.filters-heading a').on('click', function() {
          {% if collection.handle %}
            var newURL = '/collections/{{ collection.handle }}';

            var search = jQuery.param(Shopify.queryParams);
            if (search.length) {
                newURL += '?' + search;
            }
            location.href = newURL + '#filter';
          {% else %}
            location.search = jQuery.param(Shopify.queryParams) + '#filter';
          {% endif %}
        });
    });
    (function(){
        var d = document,
            accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
            setAria,
            setAccordionAria,
            switchAccordion,
            touchSupported = ('ontouchstart' in window),
            pointerSupported = ('pointerdown' in window);
        skipClickDelay = function(e){
            e.preventDefault();
            e.target.click();
        };

        setAriaAttr = function(el, ariaType, newProperty){
            el.setAttribute(ariaType, newProperty);
        };
        setAccordionAria = function(el1, el2, expanded){
            switch(expanded) {
                case "true":
                    setAriaAttr(el1, 'aria-expanded', 'true');
                    setAriaAttr(el2, 'aria-hidden', 'false');
                    break;
                case "false":
                    setAriaAttr(el1, 'aria-expanded', 'false');
                    setAriaAttr(el2, 'aria-hidden', 'true');
                    break;
                default:
                    break;
            }
        };
//function
        switchAccordion = function(e) {
            //console.log("triggered");
            e.preventDefault();
            var thisAnswer = e.target.parentNode.nextElementSibling;
            var thisQuestion = e.target;
            if(thisAnswer.classList.contains('is-collapsed')) {
                setAccordionAria(thisQuestion, thisAnswer, 'true');
            } else {
                setAccordionAria(thisQuestion, thisAnswer, 'false');
            }
            thisQuestion.classList.toggle('is-collapsed');
            thisQuestion.classList.toggle('is-expanded');
            thisAnswer.classList.toggle('is-collapsed');
            thisAnswer.classList.toggle('is-expanded');

            thisAnswer.classList.toggle('animateIn');
        };

        for (var i=0,len=accordionToggles.length; i<len; i++) {
            if(touchSupported) {
                accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
            }
            if(pointerSupported){
                accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
            }
            accordionToggles[i].addEventListener('click', switchAccordion, false);
            if (document.documentElement.clientWidth >= 768) {
                accordionToggles[i].click();
            }
        }

    })();
</script>