{% section 'filter_swatches' %}

{% if settings.collection_filter_1_enabled %}
    <div class="tag-filter {% if settings.collection_filter_1_heading contains 'Colour' %}colour-filters{% endif %}">
        <div class="tag-filter__title">{{ settings.collection_filter_1_heading }}</div>
        {% assign tags = settings.collection_filter_1_tags | split: ',' %}
        {% include 'collection-filter-list' | tags: tags %}
    </div>
{% endif %}

{% if settings.collection_filter_2_enabled %}
    <div class="tag-filter {% if settings.collection_filter_2_heading contains 'Colour' %}colour-filters{% endif %}">
        <div class="tag-filter__title">{{ settings.collection_filter_2_heading }}</div>
        {% assign tags = settings.collection_filter_2_tags | split: ',' %}
        {% include 'collection-filter-list' | tags: tags %}
    </div>
{% endif %}

{% if settings.collection_filter_3_enabled %}
    <div class="tag-filter {% if settings.collection_filter_3_heading contains 'Colour' %}colour-filters{% endif %}">
        <div class="tag-filter__title">{{ settings.collection_filter_3_heading }}</div>
        {% assign tags = settings.collection_filter_3_tags | split: ',' %}
        {% include 'collection-filter-list' | tags: tags %}
    </div>
{% endif %}

{% if settings.collection_filter_4_enabled %}
    <div class="tag-filter {% if settings.collection_filter_4_heading contains 'Colour' %}colour-filters{% endif %}">
        <div class="tag-filter__title">{{ settings.collection_filter_4_heading }}</div>
        {% assign tags = settings.collection_filter_4_tags | split: ',' %}
        {% include 'collection-filter-list' | tags: tags %}
    </div>
{% endif %}

{% if settings.collection_filter_5_enabled %}
    <div class="tag-filter {% if settings.collection_filter_5_heading contains 'Colour' %}colour-filters{% endif %}">
        <div class="tag-filter__title">{{ settings.collection_filter_5_heading }}</div>
        {% assign tags = settings.collection_filter_5_tags | split: ',' %}
        {% include 'collection-filter-list' | tags: tags %}
    </div>
{% endif %}

{% comment %}
<div class="tag-filter">
    <div class="tag-filter__title">Type</div>
    <ul class="tag-filter__list">
        {% for product_type in collection.all_types %}
            {% unless product_type == blank %}
            <li>
                <label class="form__styled">
                    <input type="radio" value="{{ product_type | handle }}">
                    <span>{{ product_type | link_to_type }}</span>
                </label>
            </li>
            {% endunless %}
        {% endfor %}
    </ul>
</div>

<div class="tag-filter">
    <div class="tag-filter__title">Brands</div>
    <ul class="tag-filter__list">
        {% for product_vendor in collection.all_vendors %}
            <li>
                <label class="form__styled">
                    {% if collection.current_vendor and product_vendor.handle == collection.current_vendor.handle %}
                        <input type="radio" value="{{ product_vendor | handle }}" checked>
                    {% else %}
                        <input type="radio" value="{{ product_vendor | handle }}">
                    {% endif %}
                    <span>{{ product_vendor | link_to_vendor }}</span>
                </label>
            </li>
        {% endfor %}
    </ul>
</div>
{% endcomment %}

{% assign current_filters = current_tags | first | handle %}
{% for tag in current_tags | offset: 1 %}
    {% assign t = tag | handle %}
    {% assign current_filters = current_filters | append: '+' | append: t %}
{% endfor %}

<script>

    Shopify.queryParams = {};
    if (location.search.length) {
        for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
            aKeyValue = aCouples[i].split('=');
            if (aKeyValue.length > 1) {
                Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
            }
        }
    }

    var current_tags = '{{ current_filters }}';
    var filters = jQuery('.tag-filter input[type=checkbox]');

    filters.change(function () {

        var changing_tag = jQuery(this).val();

        if (current_tags.indexOf(changing_tag) !== -1) {
            // Tag already selected
            current_tags = current_tags.replace(changing_tag, ''); // Remove the tag
            current_tags = current_tags.replace('++', '+'); // Fix any double +
        } else {
            // Tag needs to be selected
            current_tags = current_tags + '+' + changing_tag; // Add the tag
        }

        // Remove + from start or end
        if (current_tags[0] == '+') {
            current_tags = current_tags.slice(1, current_tags.length);
        }

        if (current_tags[current_tags.length - 1] == '+') {
            current_tags = current_tags.slice(0, current_tags.length - 1);
        }


        {% if collection.handle %}

        var newURL = '/collections/{{ collection.handle }}';
        if (current_tags.length) {
            newURL += '/' + current_tags;
        }

        var search = jQuery.param(Shopify.queryParams);
        if (search.length) {
            newURL += '?' + search;
        }

        location.href = newURL + '#filter';

        {% else %}

        if (current_tags.length) {
            Shopify.queryParams.constraint = current_tags;
        } else {
            delete Shopify.queryParams.constraint;
        }

        location.search = jQuery.param(Shopify.queryParams) + '#filter';

        {% endif %}
    });

    jQuery(document).ready(function ($) {
        $('.collection__products__wrapper').css('min-height', $('.collection__filters').height());
    });
</script>