<!-- /snippets/collection-views.liquid -->
{% comment %}
Toggle between collection.liquid and collection.list.liquid with the
?view= parameter.
{% endcomment %}

<div class="collection-view">
    <button type="button" title="{{ 'collections.general.grid_view' | t }}"
            class="change-view{% unless template contains 'list' %} change-view--active{% endunless %}"
            data-view="grid">
    <span class="icon-fallback-text">
      <span class="icon icon-grid-view" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'collections.general.grid_view' | t }}</span>
    </span>
    </button>
    <button type="button" title="{{ 'collections.general.list_view' | t }}"
            class="change-view{% if template contains 'list' %} change-view--active{% endif %}" data-view="list">
    <span class="icon-fallback-text">
      <span class="icon icon-list-view" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'collections.general.list_view' | t }}</span>
    </span>
    </button>
</div>
