{% unless collection == blank %}

{% assign super = '' %}
{% assign parent = '' %}

{% if settings.main_menu_linklist %}
    {% assign main_menu_linklist = settings.main_menu_linklist %}
{% else %}
    {% assign main_menu_linklist = 'main-menu' %}
{% endif %}

{% comment %} Find the nav/list this collection is in {% endcomment %}

{% for list in linklists %}
    {% for link in list.links %}

        {% if link.object.handle == collection.handle %}
            {% assign parent = list.handle %}
            {% break %}
        {% endif %}

    {% endfor %}
{% endfor %}

{% comment %} Find the main menu item that list is in {% endcomment %}

{% for link in linklists[main_menu_linklist].links %}

    {% if parent contains link.handle %}
        {% assign super = link.title %}
        {% break %}
    {% endif %}

{% endfor %}

{% assign size = super | size %}
{% if size > 0 %}
    <span>{{ super }}</span>
{% endif %}

{% endunless %}