{% unless collection == blank %}

{% assign title = collection.title %}
{% assign title = title | replace: ' for Him', '' | replace: ' for Her', '' | replace: ' for Kids', '' %}

{% assign size = title | size %}
{% if size > 0 %}
    <span>{{ title }}</span>
{% endif %}

{% endunless %}