{% unless settings.cross-promotion_sellers_enabled == blank %}
<div class="sellers">

    {% unless settings.cross-promotion_sellers_heading == blank %}
    <h4 class="page-title">{{ settings.cross-promotion_sellers_heading }}</h4>
    {% endunless %}

    {% unless settings.cross-promotion_sellers_body == blank %}
    <p>{{ settings.cross-promotion_sellers_body }}</p>
    <div class="spacer-sm"></div>
    {% endunless %}

    {% unless settings.cross-promotion_sellers_cta_link == blank or settings.cross-promotion_sellers_cta_text == blank %}
    <a class="button button--text"
       href="{{ settings.cross-promotion_sellers_cta_link }}">{{ settings.cross-promotion_sellers_cta_text }}</a>
    {% endunless %}

</div>
{% endunless %}