{% unless settings.cross-promotion_enabled == blank %}
<div class="cross-promotion {{ crossPromotionClass | default: '' }}">
    <div class="cross-promotion__image"
         style="background-image: url({{ 'cross-promotion_image.jpg' | asset_img_url: '1140x' }})"></div>

    <div class="cross-promotion__content">
        {% unless settings.cross-promotion_heading == blank %}
        <h4 class="page-title">{{ settings.cross-promotion_heading }}</h4>
        {% endunless %}

        {% unless settings.cross-promotion_body == blank %}
        <p>{{ settings.cross-promotion_body }}</p>
        <div class="spacer-sm"></div>
        {% endunless %}

        {% unless settings.cross-promotion_cta_link == blank or settings.cross-promotion_cta_text == blank %}
        <a class="button button--white"
                {% if settings.cross-promotion_cta_tab %}
                    target="_blank"
                {% endif %}
           href="{{ settings.cross-promotion_cta_link }}">{{ settings.cross-promotion_cta_text }}</a>
        {% endunless %}
    </div>

</div>
{% endunless %}