{% unless settings.cross-promotion_guarantee_enabled == blank %}
<div class="saq">

    {% unless settings.cross-promotion_guarantee_heading == blank %}
    <h4 class="page-title">{{ settings.cross-promotion_guarantee_heading }}</h4>
    {% endunless %}

    {% unless settings.cross-promotion_guarantee_body == blank %}
    <p>{{ settings.cross-promotion_guarantee_body }}</p>
    <div class="spacer-sm"></div>
    {% endunless %}
  
	{% unless settings.cross-promotion_guarantee_cta_link == blank or settings.cross-promotion_guarantee_cta_text == blank %}
    <a class="button button--text"
       href="{{ settings.cross-promotion_guarantee_cta_link }}">{{ settings.cross-promotion_guarantee_cta_text }}</a>
    {% endunless %}
  
</div>
{% endunless %}

