{% if settings.cross-promotion_saq_enabled != blank or settings.cross-promotion_sellers_enabled != blank or settings.cross-promotion_guarantee_enabled != blank %}
    <div class="container">

        <div class="row eq">

            {% unless settings.cross-promotion_saq_enabled == blank %}
            <div class="col-sm-4 eq {% if settings.cross-promotion_sellers_enabled == blank %}col-sm-offset-3{% endif %}">
                {% include 'cross-promotion-saq' %}
            </div>
            {% endunless %}

            {% unless settings.cross-promotion_sellers_enabled == blank %}
            <div class="col-sm-4 eq {% if settings.cross-promotion_saq_enabled == blank %}col-sm-offset-3{% endif %}">
                {% include 'cross-promotion-sellers' %}
            </div>
            {% endunless %}
          
            {% unless settings.cross-promotion_guarantee_enabled == blank %}
            <div class="col-sm-4 eq {% if settings.cross-promotion_guarantee_enabled == blank %}col-sm-offset-3{% endif %}">
                {% include 'cross-promotion-guarantee' %}
            </div>
            {% endunless %}
        </div>

    </div>
{% endif %}