{% unless settings.cross-promotion_saq_enabled == blank %}
<div class="saq">

    {% unless settings.cross-promotion_saq_heading == blank %}
    <h4 class="page-title">{{ settings.cross-promotion_saq_heading }}</h4>
    {% endunless %}

    {% unless settings.cross-promotion_saq_body == blank %}
    <p>{{ settings.cross-promotion_saq_body }}</p>
    <div class="spacer-sm"></div>
    {% endunless %}

    {% include 'newsletter-form' %}

</div>
{% endunless %}