<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

{{ 'wrapped.js' | asset_url | script_tag }}

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 870473823;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/870473823/?guid=ON&amp;script=0"/>
    </div>
</noscript>

<!-- start Mixpanel -->
<script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("2b25a00f96dd56a2112b0558097cc8a7");</script>
<!-- end Mixpanel -->


<!-- <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us14.list-manage.com","uuid":"92aed36e475c29d33e3a91849","lid":"095a76ae9d"}) })</script>
<script type="text/javascript">
$(function() { 
$(document).on('click', '.mc-modal-bg', function(event) {event.preventDefault(); $(".mc-closeModal").click();});
});
</script> -->

<style>
.mc-closeModal {background-color:#073375; color:#fff; text-transform:uppercase; font-size:16px; padding:6px 12px;}
</style>

  
  
<script type="text/javascript">
    
function addItemCustom(form_id) {
  //fbq('track', 'AddToCart'); 
  if($("#"+form_id).deserialize($('#'+form_id).serialize()) == 'no') {
	$.ajax({
		type: 'POST',                             
		url: '/cart/add.js',
		dataType: 'json',                               
		data: $('#'+form_id).serialize(),
		success: addToCartOk,                        
		error: addToCartFail                            
	});
  } else {
    return false;
  }
}
  
function trackAddToCart() {
  var PRODUCT    = {{ product | json }};
  var PRODUCT_ID = PRODUCT.id;
  var SKU        = PRODUCT.variants.length ? PRODUCT.variants[0].sku : '';
  var CATEGORY   = PRODUCT.type;
  var NAME       = PRODUCT.title;
  var PRICE      = (PRODUCT.price / 100);
  var BRAND      = PRODUCT.vendor;

  if (window.analytics) {
    window.analytics.track('Product Added', {
      product_id: PRODUCT_ID,
      sku: SKU,
      category: CATEGORY,
      name: NAME,
      price: PRICE,
      brand: BRAND,
    });    
  }
}

function addToCartOk() {
  var cur_url = window.location.href;
  $('.add-to-cart-popup .content .link').attr('href','javascript:;')
  $('.add-to-cart-popup').css('display','block');
  $('header .header__nav__right .icon.icon-bag').addClass('icon--accent');
  trackAddToCart();
}
  


function addToCartFail() {
}
  
$(document).on('click','.add-to-cart-popup .content .link',function() {
  $('.add-to-cart-popup').css('display','none');
});  

    

jQuery.fn.deserialize = function (data) {
  	var error = 'no';
    var f = this,
        map = {},
        find = function (selector) { return f.is("form") ? f.find(selector) : f.filter(selector); };
    //Get map of values
    jQuery.each(data.split("&"), function () {
        var nv = this.split("="),
            n = decodeURIComponent(nv[0]),
            v = nv.length > 1 ? decodeURIComponent(nv[1]) : null;
        if (!(n in map)) {
            map[n] = [];
        }
        map[n].push(v);
    })
    console.log(map)
    //Set values for all form elements in the data
    jQuery.each(map, function (n, v) {
        //find("[name='" + n + "']").val(v);
    })
    console.log(find)
    //Clear all form elements not in form data
    find("input:text,textarea").each(function () {
        //if (!(jQuery(this).attr("name") in map)) {
          //console.log(jQuery(this).val());
          //console.log(jQuery(this).parent().parent().hasClass('option-required'));
          if(jQuery(this).parent().parent().hasClass('option-required')) {
            //console.log('test');
            if(jQuery.trim(jQuery(this).val()) == '') {
            	jQuery(this).css('border','1px solid red');
              	error = 'yes';
            } else {
              	jQuery(this).css('border','');
            }
          }
          //jQuery(this).val("");
        //}
    });

    find("select").each(function () {
      if(jQuery(this).parent().parent().parent().hasClass('option-required')) {
        if(jQuery.trim(jQuery(this).val()) == '') {
          jQuery(this).css('border','1px solid red');
          error = 'yes';
        } else {
          jQuery(this).css('border','');
        }
      }
    });

    find("input:checkbox,input:radio").each(function () {
      if(jQuery(this).parent().hasClass('option-required')) {
        console.log('test');
        if(this.checked == false) {
          jQuery(this).css('outline','1px solid red');
          error = 'yes';
        } else {
          jQuery(this).css('outline','');
        }
      }
        //if (!(jQuery(this).attr("name") in map)) {
            //this.checked = false;
        //}
    })
    return error;
};    
    
</script>

{% comment %}
  If you want to animate your feedback message.
{% endcomment %}

{% comment %}
{{ '//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css' | stylesheet_tag }}
{% endcomment %}

{{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' | stylesheet_tag }}

<style>
.ajaxified-cart-feedback {
  display: block;
  line-height: 36px;
  font-size: 90%;
  vertical-align: middle;
}
.ajaxified-cart-feedback.success { 
  color: #3D9970;
}
.ajaxified-cart-feedback.error { 
  color: #FF4136; 
} 
.ajaxified-cart-feedback a {
  border-bottom: 1px solid;
}
</style>