{% unless link_list == blank or link_list.empty? %}
{% assign list = linklists[link_list] %}
<h5>{{ list.title }}</h5>
<hr>
<ul class="footer__upper__nav">
    {% for link in list.links %}
        {% if customer %}
            {% if link.url != '/account/login' and link.url != '/account/register' %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
        {% else %}
            {% if link.url != '/account' %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
{% endunless %}