{% if first_time_accessed %} <script>

var lftOrders = {{ customer.orders.size }};
var custType = 'repeatcustomer';
if (lftOrders == 1)
{
custType = 'newcustomer';
}

var coupons = 'None'; 
{% assign lcoupons = "" %}

{% for discount in order.discounts %}  
{% assign lcoupons = lcoupons | append:  discount.code | upcase   %}
{% endfor %}


var dataLayer = window.dataLayer = window.dataLayer || [];
dataLayer.push(
{
'ecommerce' : {
'purchase': {
'actionField': {
'id': '{{order.order_number}}',
'revenue': {{total_price | times: 0.01}},
'subtotal': {{subtotal_price | times: 0.01}},
'tax': {{tax_price | times: 0.01}},
'shipping': {{shipping_price | times: 0.01}},
'customerType': custType,
'lifetimeOrders': lftOrders,
'email': '{{order.email}}',
'coupon': '{{ lcoupons }}'
},
'products': [
{% for line_item in line_items %}
{
'id': '{{line_item.sku}}',
'name': '{{line_item.vendor | append: ' - '  | append: line_item.product.title}}',
'category': '{{line_item.product.type}}',
'brand': '{{line_item.vendor}}',
'price': {{line_item.line_price | times: 0.01}},
'quantity': {{line_item.quantity}}
},
{% endfor %}]
}}}
);

</script> 

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PGF75D5');</script>  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGF75D5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> {% endif %} 