{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
{{ 'modernizr.min.js' | asset_url | script_tag }}

<!-- Shopify Customer JS ================================================== -->
{% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{% endif %}

{% if template == 'index' and settings.instagram_id != blank %}
    {{ 'instafeed.js' | asset_url | script_tag }}
{% endif %}

<!-- Bugsnag -->
<script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js"
        data-apikey="61f2865eda628c7274f205fa199c3fdb"></script>
<!-- End Bugsnag -->

<!-- Hotjar Tracking Code for Wrapped -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:480672,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>