<div class="spacer"></div>
<div class="container">
    <div class="row">
        {% assign collection = collections[settings.homepage_collection_grid_1] %}
        {% assign image = 'homepage_collection_grid_1_image.jpg' | asset_img_url: '555x' %}
        {% assign cta = settings.homepage_collection_grid_1_cta %}
        <div class="col-sm-6">
            {% include 'collection-grid-item' | override_heading: settings.homepage_collection_grid_1_heading | override_image: image %}
        </div>

        {% assign collection = collections[settings.homepage_collection_grid_2] %}
        {% assign image = 'homepage_collection_grid_2_image.jpg' | asset_img_url: '555x' %}
        {% assign cta = settings.homepage_collection_grid_2_cta %}
        <div class="col-sm-6">
            {% include 'collection-grid-item' | override_heading: settings.homepage_collection_grid_2_heading | override_image: image %}
        </div>
    </div>

    <div class="row">
        {% assign collection = collections[settings.homepage_collection_grid_3] %}
        {% assign image = 'homepage_collection_grid_3_image.jpg' | asset_img_url: '555x' %}
        {% assign cta = settings.homepage_collection_grid_3_cta %}
        <div class="col-sm-6">
            {% include 'collection-grid-item' | override_heading: settings.homepage_collection_grid_3_heading | override_image: image %}
        </div>

        {% assign collection = collections[settings.homepage_collection_grid_4] %}
        {% assign image = 'homepage_collection_grid_4_image.jpg' | asset_img_url: '555x' %}
        {% assign cta = settings.homepage_collection_grid_4_cta %}
        <div class="col-sm-6">
            {% include 'collection-grid-item' | override_heading: settings.homepage_collection_grid_4_heading | override_image: image %}
        </div>
    </div>

    <div class="row">

        {% assign collection = collections[settings.homepage_collection_grid_5] %}
        {% assign cta = settings.homepage_collection_grid_5_cta %}
        <div class="col-sm-3 col-xs-6">
            <a class="grid-item grid-item--collection-small" href="{{ collection.url }}">
                {{ cta | default: 'Shop' }}
            </a>
        </div>

        {% assign collection = collections[settings.homepage_collection_grid_6] %}
        {% assign cta = settings.homepage_collection_grid_6_cta %}
        <div class="col-sm-3 col-xs-6">
            <a class="grid-item grid-item--collection-small" href="{{ collection.url }}">
                {{ cta | default: 'Shop' }}
            </a>
        </div>

        {% assign collection = collections[settings.homepage_collection_grid_7] %}
        {% assign cta = settings.homepage_collection_grid_7_cta %}
        <div class="col-sm-3 col-xs-6">
            <a class="grid-item grid-item--collection-small" href="{{ collection.url }}">
                {{ cta | default: 'Shop' }}
            </a>
        </div>

        {% assign collection = collections[settings.homepage_collection_grid_8] %}
        {% assign cta = settings.homepage_collection_grid_8_cta %}
        <div class="col-sm-3 col-xs-6">
            <a class="grid-item grid-item--collection-small" href="{{ collection.url }}">
                {{ cta | default: 'Shop' }}
            </a>
        </div>
    </div>
</div>