<a class="grid-item grid-item--collection" href="{{ collection.url }}"
        {% if collection.image %}
            style="background-image: url({{ collection.image | img_url: 'x240' }})"
        {% endif %}
>
    <div class="grid-item__inner">
        <div class="grid-item__title">{{ collection.title | escape }}</div>
        <span class="button button--white">{{ cta | default: 'Shop now' }}</span>
    </div>
</a>