<div class="hero"
     style="background-image: url({{ 'homepage_hero_image.jpg' | asset_img_url: '1600x' }});"
>
    {% if settings.homepage_hero_overlay and settings.homepage_hero_overlay != "0" %}
        <div class="hero__overlay" style="opacity: {{ settings.homepage_hero_overlay }}"></div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 {{ settings.homepage_hero_align }}">

                {% if settings.homepage_hero_heading %}
                    <h2 class="hero__heading">{{ settings.homepage_hero_heading }}</h2>
                {% endif %}

                {% if settings.homepage_hero_subheading %}
                    <h3 class="hero__subheading">{{ settings.homepage_hero_subheading }}</h3>
                {% endif %}

                {% if settings.homepage_hero_button_enabled %}
                    <div class="spacer-sm"></div>
                    <a class="button button--white"
                       href="{{ settings.homepage_hero_button_link }}">{{ settings.homepage_hero_button_text }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
