<div class="spacer"></div>
<div class="background--grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="spacer-sm"></div>

                {% include 'newsletter-form' %}

                <div class="spacer-sm"></div>
            </div>
        </div>
    </div>
</div>