{% unless settings.instagram_id == blank %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% unless settings.homepage_instagram_subtitle == '' %}
            <h3 class="page-title">{{ settings.homepage_instagram_subtitle }}</h3>
            {% endunless %}

            <div id="instafeed"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var userFeed = new Instafeed({
            get: 'user',
            userId: 'self',
            accessToken: "{{ settings.instagram_id }}",
            sortBy: 'most-recent',
            resolution: 'standard_resolution',
            limit: {{ settings.instagram_photo_count }},
            template: {% raw %}'<a href="{{ link }}" target="_blank" style="background-image: url({{ image }});" class="grid__item instagram--square {% endraw %}{{ settings.instagram_grid_width_large }} {{ settings.instagram_grid_width_medium }} {{ settings.instagram_grid_width_small }}{% raw %}"><span class="icon icon-instagram"></span></a>'{% endraw %}
        });
        userFeed.run();
    });
</script>

{% endunless %}
