{% if settings.homepage_collection != blank %}
    {% assign collection = collections[settings.homepage_collection] %}
    {% assign count = collections[settings.homepage_collection].products_count %}
    {% if collections[settings.homepage_collection].empty? %}
        {% assign count = 0 %}
    {% endif %}

    {% case count %}
    {% when 1 %}
    {% assign column = 'col-sm-4 col-sm-offset-4' %}
    {% when 2 %}
    {% assign column = 'col-xs-6 col-sm-6' %}
    {% when 3 %}
    {% assign column = 'col-xs-6 col-sm-4' %}
    {% when 4 %}
    {% assign column = 'col-xs-6 col-sm-3' %}
{% else %}
    {% assign column = 'col-xs-6 col-sm-2' %}
    {% endcase %}

    <div class="container">
        {% unless settings.homepage_collection_title == '' %}
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">{{ settings.homepage_collection_title }}</h3>
            </div>
        </div>
        {% endunless %}

        <div class="row eq">
            {% for product in collection.products  limit: 6 %}
                {% if product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}
                <div class="{{ column }}">
                    {% include 'product-grid-item' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}