{% unless settings.homepage_cta_text == blank %}
<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="cta">
                {{ settings.homepage_cta_text }}
                {% unless settings.homepage_cta_link == blank %}
                <a href="{{ settings.homepage_cta_link }}">Read more &gt;</a>
                {% endunless %}
            </div>

        </div>
    </div>
</div>
{% endunless %}