{% unless settings.cross-promotion_enabled == blank %}
<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% include 'cross-promotion' %}
        </div>
    </div>
</div>
{% endunless %}