{% unless settings.homepage_lead_text == blank %}
<div class="background--grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="lead">
                    {% unless settings.homepage_lead_intro == blank %}
                    <div class="lead__intro">{{ settings.homepage_lead_intro }}</div>
                    {% endunless %}
                    <div class="lead__text">{{ settings.homepage_lead_text }}</div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endunless %}