{% unless settings.homepage_blog == blank or settings.homepage_blog.empty? %}
{% assign blog = blogs[settings.homepage_blog] %}

<div class="container">
    {% unless settings.homepage_blog_title == '' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="divider divider--bottom"></div>
            <h3 class="page-title">{{ settings.homepage_blog_title }}</h3>
        </div>
    </div>
    {% endunless %}

    <div class="row">
        {% for article in blog.articles limit: 3 %}
            <div class="col-sm-4">
                {% include 'article-item' %}
            </div>
        {% endfor %}
    </div>

    <div class="spacer-sm"></div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="button button--black" href="{{ blog.url }}">View all</a>
        </div>
    </div>
</div>
{% endunless %}