{% if settings.cross-promotion_saq_enabled != blank or settings.cross-promotion_sellers_enabled != blank %}
<div class="spacer"></div>
<div class="container">

    <div class="row eq">

        {% unless settings.cross-promotion_saq_enabled == blank %}
        <div class="col-sm-6 eq {% if settings.cross-promotion_sellers_enabled == blank %}col-sm-offset-3{% endif %}">
            <div class="saq">

                {% unless settings.cross-promotion_saq_heading == blank %}
                <h3 class="page-title">{{ settings.cross-promotion_saq_heading }}</h3>
                {% endunless %}

                {% unless settings.cross-promotion_saq_body == blank %}
                <p>{{ settings.cross-promotion_saq_body }}</p>
                <div class="spacer-sm"></div>
                {% endunless %}

                {% include 'newsletter-form' %}

            </div>
        </div>
        {% endunless %}

        {% unless settings.cross-promotion_sellers_enabled == blank %}
        <div class="col-sm-6 eq {% if settings.cross-promotion_saq_enabled == blank %}col-sm-offset-3{% endif %}">
            <div class="sellers">

                {% unless settings.cross-promotion_sellers_heading == blank %}
                <h3 class="page-title">{{ settings.cross-promotion_sellers_heading }}</h3>
                {% endunless %}

                {% unless settings.cross-promotion_sellers_body == blank %}
                <p>{{ settings.cross-promotion_sellers_body }}</p>
                <div class="spacer-sm"></div>
                {% endunless %}

                {% unless settings.cross-promotion_sellers_cta_link == blank or settings.cross-promotion_sellers_cta_text == blank %}
                <a class="button button--text"
                   href="{{ settings.cross-promotion_sellers_cta_link }}">{{ settings.cross-promotion_sellers_cta_text }}</a>
                {% endunless %}

            </div>
        </div>
        {% endunless %}
    </div>

</div>
{% endif %}