<div class="container">
    {% unless settings.homepage_collections_title == '' %}
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">{{ settings.homepage_collections_title }}</h3>
        </div>
    </div>
    {% endunless %}

    <div class="row eq">

        {% assign collection = collections[settings.homepage_collections_1] %}
        {% capture tag %}{% include 'collection-super' %}{% endcapture %}
        {% assign tag = tag | strip %}
        <div class="col-xs-6 col-sm-3">
            <div class="panel panel--collection">
                {% if collection.image %}
                    <div class="panel__header">
                        <a class="panel__header__background"
                           href="{{ collection.url }}" {% if collection.image %} style="background-image: url('{{ collection.image | img_url: '370x', format: 'pjpg' }}');"{% endif %}></a>
                    </div>
                {% endif %}

                <div class="panel__body">
                    {% if tag.size > 0 %}
                        <a class="panel__body__meta" href="{{ collection.url }}">{{ tag }}</a>
                    {% endif %}

                    <a class="panel__body__title" href="{{ collection.url }}">{{ collection.title }}</a>
                </div>
            </div>
        </div>

        {% assign collection = collections[settings.homepage_collections_2] %}
        {% capture tag %}{% include 'collection-super' %}{% endcapture %}
        {% assign tag = tag | strip %}
        <div class="col-xs-6 col-sm-3">
            <div class="panel panel--collection">
                {% if collection.image %}
                    <div class="panel__header">
                        <a class="panel__header__background"
                           href="{{ collection.url }}" {% if collection.image %} style="background-image: url('{{ collection.image | img_url: '370x', format: 'pjpg' }}');"{% endif %}></a>
                    </div>
                {% endif %}

                <div class="panel__body">
                    {% if tag.size > 0 %}
                        <a class="panel__body__meta" href="{{ collection.url }}">{{ tag }}</a>
                    {% endif %}

                    <a class="panel__body__title" href="{{ collection.url }}">{{ collection.title }}</a>
                </div>
            </div>
        </div>

        {% assign collection = collections[settings.homepage_collections_3] %}
        {% capture tag %}{% include 'collection-super' %}{% endcapture %}
        {% assign tag = tag | strip %}
        <div class="col-xs-6 col-sm-3">
            <div class="panel panel--collection">
                {% if collection.image %}
                    <div class="panel__header">
                        <a class="panel__header__background"
                           href="{{ collection.url }}" {% if collection.image %} style="background-image: url('{{ collection.image | img_url: '370x', format: 'pjpg' }}');"{% endif %}></a>
                    </div>
                {% endif %}

                <div class="panel__body">
                    {% if tag.size > 0 %}
                        <a class="panel__body__meta" href="{{ collection.url }}">{{ tag }}</a>
                    {% endif %}

                    <a class="panel__body__title" href="{{ collection.url }}">{{ collection.title }}</a>
                </div>
            </div>
        </div>

        {% assign collection = collections[settings.homepage_collections_4] %}
        {% capture tag %}{% include 'collection-super' %}{% endcapture %}
        {% assign tag = tag | strip %}
        <div class="col-xs-6 col-sm-3">
            <div class="panel panel--collection">
                {% if collection.image %}
                    <div class="panel__header">
                        <a class="panel__header__background"
                           href="{{ collection.url }}" {% if collection.image %} style="background-image: url('{{ collection.image | img_url: '370x', format: 'pjpg' }}');"{% endif %}></a>
                    </div>
                {% endif %}

                <div class="panel__body">
                    {% if tag.size > 0 %}
                        <a class="panel__body__meta" href="{{ collection.url }}">{{ tag }}</a>
                    {% endif %}

                    <a class="panel__body__title" href="{{ collection.url }}">{{ collection.title }}</a>
                </div>
            </div>
        </div>
    </div>
</div>