{% unless settings.homepage_countdown_enabled == blank %}
<div class="spacer"></div>
<div class="countdown">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="countdown__heading">{{ settings.homepage_countdown_heading }}</h2>

                <div class="countdown__timer" id="countdown">
                    {{ settings.homepage_countdown_date }}
                </div>

                <a class="button button--pink"
                   href="{{ settings.homepage_countdown_cta_link }}">{{ settings.homepage_countdown_cta_text }}</a>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function ($) {
        $("#countdown").lofCountDown({
            TargetDate: "{{ settings.homepage_countdown_date }}",
            DisplayFormat: "<div class=\'countdown__timer__days\'><span class=\'num\'>%%D%%</span><span class=\'text\'>days</span></div>\n<div class=\'countdown__timer__hours\'><span class=\'num\'>%%H%%</span><span class=\'text\'>hours</span></div>\n<div class=\'countdown__timer__mins\'><span class=\'num\'>%%M%%</span><span class=\'text\'>min</span></div>\n<div class=\'countdown__timer__secs\'><span class=\'num\'>%%S%%</span><span class=\'text\'>sec</span></div>",
            FinishMessage: "Expired"
        });
    });
</script>
{{ 'jquery.countdown.js' | asset_url | script_tag }}
{% endunless %}