<div class="container-fluid">
    <div class="row">
        <div id="instagram-feed"></div>
    </div>
</div>

{{ 'instafeed.js' | asset_url | script_tag }}
<script type="text/javascript">
    var feed = new Instafeed({
        target: 'instagram-feed',
        get: 'user',
        userId: '{{ settings.social_instagram_user_id }}',
        limit: 6,
        resolution: 'standard_resolution',
        clientId: '{{ settings.social_instagram_client_id }}',
        accessToken: '{{ settings.social_instagram_access_token }}',

        {% raw %}
        template: '<div class="col-sm-2">\n    <div class="panel panel--instagram">\n        <div class="panel__header">\n            <a class="panel__header__background" href="{{link}}" target="_blank" style="background-image: url(\'{{image}}\');"></a>\n        </div>\n    </div>\n</div>'
        {% endraw %}
    });
    feed.run();
</script>