{% if link.type == 'collection_link' %}
    {% assign found = true %}

    {% if link.object.handle == settings.main_menu_promotion_1_collection %}
        {% assign product = all_products[settings.main_menu_promotion_1_product] %}
        {% assign heading = settings.main_menu_promotion_1_heading %}
    {% elsif link.object.handle == settings.main_menu_promotion_2_collection %}
        {% assign product = all_products[settings.main_menu_promotion_2_product] %}
        {% assign heading = settings.main_menu_promotion_2_heading %}
    {% elsif link.object.handle == settings.main_menu_promotion_3_collection %}
        {% assign product = all_products[settings.main_menu_promotion_3_product] %}
        {% assign heading = settings.main_menu_promotion_3_heading %}
    {% elsif link.object.handle == settings.main_menu_promotion_4_collection %}
        {% assign product = all_products[settings.main_menu_promotion_4_product] %}
        {% assign heading = settings.main_menu_promotion_4_heading %}
    {% else %}
        {% assign found = false %}
    {% endif %}

    {% if found == true %}

        {% assign temp_link = product.url %}

        {% for c in product.collections %}
            {% if c.handle == link.object.handle %}
                {% assign temp_link = product.url | within: link.object %}
            {% endif %}
        {% endfor %}

        <li class="header__nav__drawer__promotion-column">
            {% include 'product-grid-item' | link_override: temp_link | product_heading: heading %}
        </li>
    {% endif %}
{% endif %}