{% if settings.main_menu_linklist %}
    {% assign main_menu_linklist = settings.main_menu_linklist %}
{% else %}
    {% assign main_menu_linklist = 'main-menu' %}
{% endif %}

<ul>

    {% for link in linklists[main_menu_linklist].links %}
        <li>
            <div>{{ link.title }}</div>

            {% capture subnav %}
            {% for list in linklists %}

                {% if list.handle contains link.handle and list.size > 0 %}
                    <div class="col-sm-3">
                        <h4>{{ list.title }}</h4>

                        <ul>
                            {% for link in list.links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            {% endfor %}
            {% endcapture %}

            {% assign subnav = subnav | trim %}

            {% if subnav | size > 0 %}
                <div>
                    <div class="row">
                    {{ subnav }}
                    </div>
                </div>
            {% endif %}

        </li>
    {% endfor %}

</ul>
