{% unless link == blank %}

{% capture subnav %}
{% for list in linklists %}

    {% if list.handle contains link.handle and list.size > 0 %}
        <li class="header__nav__drawer__column {% unless list.links.empty? %}header__nav__drawer__column--children{% endunless %}">
            <a href="#">
                {{ list.title }} {% unless list.links.empty? %}<i class="icon icon-angle-right"></i>{% endunless %}
            </a>
            <ul>
                <li class="header__nav__drawer__title">{{ list.title }}</li>
                {% for link in list.links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

{% endfor %}
{% endcapture %}

{% assign subnav = subnav | strip %}
{% assign subnav_size = subnav | size %}

{% if subnav_size > 0 %}
    <ul class="header__nav__drawer" style="display: none;">
        <li class="header__nav__drawer__title">{{ title }}</li>
        {{ subnav }}
        {% include 'nav-promotion' %}
    </ul>
{% endif %}

{% endunless %}