{% if settings.main_menu_linklist %}
    {% assign main_menu_linklist = settings.main_menu_linklist %}
{% else %}
    {% assign main_menu_linklist = 'main-menu' %}
{% endif %}

{% if settings.main_menu_highlight_items %}
    {% assign highlight_items = settings.main_menu_highlight_items %}
{% else %}
    {% assign highlight_items = '' %}
{% endif %}

<header class="header">

    {% if settings.header_message_enabled and settings.header_message.size > 0 %}
        <div class="header__message" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        {{ settings.header_message }}

                        <a class="header__message__close" href="#"><i class="icon icon-cross"></i></a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="header__upper" itemscope itemtype="http://schema.org/Organization">
        <div class="header__upper__back header__upper__back--hide">
            <a href="#"><i class="icon icon-angle-left"></i> Back</a>
        </div>

        <div class="header__upper__left">
            <a href="#" class="header__upper__toggle">
                <span class="header__upper__toggle__button"></span>
            </a>

            <a href="#" class="header__search">
                <i class="icon icon-search"></i>
            </a>
        </div>

        <div class="header__upper__right">
            <div class="wishlist"><!-- include 'wishlist-link' --></div>
            <a href="/cart">
                <i class="icon icon-bag {% if cart.item_count > 0 %}icon--accent{% endif %}"></i> {% if cart.item_count > 0 %}<span id="navcart-count" class="cart-count">({{ cart.item_count }})</span>{% endif %}
            </a>
            <li class="header__account">
                <a class="header__account__link" href="/account"><i class="icon icon-head"></i></a>
                <ul class="header__account__list" style="display: none;">
                    {% if customer %}
                        <li><a href="/account">My Account</a></li>
                        <li><a href="/account/logout">Logout</a></li>
                    {% else %}
                        <li>{{ 'Login' | customer_login_link }}</li>
                        {% if shop.customer_accounts_optional %}
                            <li>{{ 'Create Account' | customer_register_link }}</li>
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
        </div>

        <a class="header__upper__logo" href="{{ shop.url }}" itemprop="url">
            <img src="{{ 'wrapped-logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
        </a>
    </div>

    <div class="container header__nav">

      {% comment %}
      <ul class="header__nav__center">

            {% for link in linklists[main_menu_linklist].links %}

                {% capture subnav %}{% include 'nav-dropdown' title: link.title %}{% endcapture %}
                {% assign subnav_size = subnav | strip | size %}

                <!-- {{ link.handle }} -->
                <li class="header__nav__item {% if highlight_items contains link.handle %}header__nav__item--highlight{% endif %} {% if subnav_size > 0 %}header__nav__item--children{% endif %}">
                    <a href="{{ link.url }}">
                        {{ link.title }}{% if subnav_size > 0 %}<i class="icon icon-angle-right"></i>{% endif %}
                    </a>

                    {{ subnav }}
                </li>
            {% endfor %}

            {% if customer %}
                <li class="header__nav__item header__nav__item--small"><a href="/account">My Account</a></li>
                <li class="header__nav__item header__nav__item--small"><a href="/account/logout">Logout</a></li>
            {% else %}
                <li class="header__nav__item header__nav__item--small">{{ 'Login' | customer_login_link }}</li>
                {% if shop.customer_accounts_optional %}
                    <li class="header__nav__item header__nav__item--small">{{ 'Join' | customer_register_link }}</li>
                {% endif %}
            {% endif %}
            <li class="header__nav__item header__nav__item--small">
                <a href="{{ settings.main_menu_sellers_link }}">Sell with us</a>
            </li>
        </ul>
      {% endcomment %}
      
        <div class="main-navigation globomenu-custommenu">
          
        </div> 
      
        <ul class="header__nav__right">
            <li><!-- include 'wishlist-link' --></li>
            <li><a href="#" class="header__search"><i class="icon icon-search"></i></a></li>
            <li><a href="/cart"><i class="icon icon-bag {% if cart.item_count > 0 %}icon--accent{% endif %}"></i> {% if cart.item_count > 0 %}<span id="mini-navcart-count" class="cart-count">({{ cart.item_count }})</span>{% endif %}</a>
            </li>
            <li class="header__account">
                <a class="header__account__link" href="/account"><i class="icon icon-head"></i></a>
                <ul class="header__account__list" style="display: none;">
                    {% if customer %}
                        <li><a href="/account">My Account</a></li>
                        <li><a href="/account/logout">Logout</a></li>
                    {% else %}
                        <li>{{ 'Login' | customer_login_link }}</li>
                        {% if shop.customer_accounts_optional %}
                            <li>{{ 'Create Account' | customer_register_link }}</li>
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>

    <div class="search">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="search__wrapper">
                        <form action="/search">
                            <span class="search__search"><i class="icon icon-search"></i></span>
                            <input class="search__field" type="text" id="search_input" name="q" value=""
                                   placeholder="Search for... something extraordinary">
                            <span class="search__close"><i class="icon icon-cross"></i></span>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
  
</header>
<script>

  if($('.shopify-section .nav_menu').parent().find('.nav_sub_menu').css('display') == 'none') {
    $('.shopify-section .nav_sub_menu').parent().addClass('children');
  }
  $(document).ready(function() {
    var viewPortWidth = $(window).width();
    if(viewPortWidth < 992) {
      $('.nav_menu a').addClass('close'); 
      $('.nav_menu a').click(function() {
       if($(this).parent().parent().find('.nav_sub_menu').length > 0) {
         var current_menu_status = $(this).parent().parent().find('.nav_sub_menu').css('display');
       }
    $('.nav_sub_menu').slideUp();
        $('.nav_menu a').removeClass('open');
        $('.nav_menu a').addClass('close');
        if(current_menu_status == 'block') {
           $('.nav_sub_menu').slideUp();
           $(this).addClass('close');
           $(this).removeClass('open');
        }
        if(current_menu_status == 'none') {
           $(this).parent().next().slideDown();
           $(this).addClass('open');
           $(this).removeClass('close');
        }
     });
      
      $('.nav_sub_menu div ul').css('display','none');
      $('.nav_sub_menu div').addClass('collapse');
      $('.nav_sub_menu div h3').click(function() {
      if($(this).parent().find('ul').length > 0) {
         var current_sub_menu_status = $(this).parent().find('ul').css('display');
       }
        $('.nav_sub_menu ul').slideUp();
      $('.nav_sub_menu div').removeClass('expandable');
        $('.nav_sub_menu div').addClass('collapse');

        if(current_sub_menu_status == 'block') {
           $('.nav_sub_menu ul').slideUp();
          $(this).parent().addClass('collapse');
          $(this).parent().removeClass('expandable');
        }
        if(current_sub_menu_status == 'none') {
          $(this).next().slideDown();
          $(this).parent().addClass('expandable');
          $(this).parent().removeClass('collapse');
        }
      });
    } else {
    $(".nav_menu").hover(function() {
          $(this).parent().addClass('hover');
          $(this).next('.nav_sub_menu').show();
           
        },function(){
          $(this).parent().removeClass('hover');
            $('.nav_sub_menu').hide();

        });
        $(".nav_sub_menu").hover(function() {
          $(this).parent().addClass('hover');
            $(this).show();
        }, function () {
            $(this).parent().removeClass('hover');
            $('.nav_sub_menu').hide();
        });    
    }
  });
  
</script>