{% comment %}
{% if newsletter_count %}
  {% assign newsletter_count = newsletter_count | plus: 1 %}
{% endif %}

{% form 'customer' %}
  {% if form.posted_successfully? %}
    <p><em>{{ 'general.newsletter_form.subscribed' | t }}</em></p>
  {% elsif form.errors %}
    {% for field in form.errors %}
      <p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
    {% endfor %}
  {% endif %}
{% endform %}

{% endcomment %}

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

<style type="text/css">
  #mc_embed_signup {background: #fff; clear: left; font: 14px Helvetica, Arial, sans-serif; width: 100%;}
</style>

<div id="mc_embed_signup">
  <form action="https://wrapped.us17.list-manage.com/subscribe/post?u=44fbf9569ef91d968e01c97c9&amp;id=743d1ea65d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_44fbf9569ef91d968e01c97c9_743d1ea65d" tabindex="-1" value="">
      </div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>
<!-- End MailChimp Signup Form --> 
