{%- if shop.metafields.ninja_head_code.store != blank -%}
	{{ shop.metafields.ninja_head_code.store }}
{%- endif -%}
{%- if template contains 'product' -%}
    {%- if shop.metafields.ninja_head_code.products_head != blank -%}
        {{ shop.metafields.ninja_head_code.products_head }}
    {%- endif -%}

    {%- if product.metafields.ninja_head_code.head != blank -%}
        {{ product.metafields.ninja_head_code.head }}
    {%- endif -%}
{%- endif -%}
{%- if template contains 'collection' -%}
    {%- if shop.metafields.ninja_head_code.collections_head != blank -%}
        {{ shop.metafields.ninja_head_code.collections_head }}
    {%- endif -%}

    {%- if collection.metafields.ninja_head_code.head != blank -%}
        {{ collection.metafields.ninja_head_code.head }}
    {%- endif -%}
{%- endif -%}
{%- if template contains 'page' -%}
    {%- if shop.metafields.ninja_head_code.pages_head != blank -%}
        {{ shop.metafields.ninja_head_code.pages_head }}
    {%- endif -%}

    {%- if page.metafields.ninja_head_code.head != blank -%}
        {{ page.metafields.ninja_head_code.head }}
    {%- endif -%}
{%- endif -%}
{%- if template contains 'blog' -%}
    {%- if shop.metafields.ninja_head_code.blogs_head != blank -%}
        {{ shop.metafields.ninja_head_code.blogs_head }}
    {%- endif -%}

    {%- if blog.metafields.ninja_head_code.head != blank -%}
        {{ blog.metafields.ninja_head_code.head }}
    {%- endif -%}
{%- endif -%}
{%- if template contains 'article' -%}
    {%- if shop.metafields.ninja_head_code.blogs_head != blank -%}
        {{ shop.metafields.ninja_head_code.blogs_head }}
    {%- endif -%}

    {%- if article.metafields.ninja_head_code.head != blank -%}
        {{ article.metafields.ninja_head_code.head }}
    {%- endif -%}
{%- endif -%}
{%- if template contains 'index' -%}
    {%- if shop.metafields.ninja_head_code.home != blank -%}
        {{ shop.metafields.ninja_head_code.home }}
    {%- endif -%}
{%- endif -%}
{%- if template contains 'cart' -%}
    {%- if shop.metafields.ninja_head_code.cart != blank -%}
        {{ shop.metafields.ninja_head_code.cart }}
    {%- endif -%}
{%- endif -%}