<!-- snippets/onboarding-empty-collection.liquid -->
<div class="grid__item">
    <div class="helper-section">
        <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'collections.onboarding.modal_title' | t }}</h3>
            <p>{{ 'collections.onboarding.no_products_html' | t }}</p>
            <p><a href="/admin/products/new"
                  class="admin-btn-primary">{{ 'collections.onboarding.add_product' | t }}</a></p>
        </div>

        <div class="grid-uniform helper-content">
            {% assign index = 1 %}
            {% for i in (1..8) %}
                {% case i %}
                {% when 7 %}
                {% assign index = 1 %}
                {% when 8 %}
                {% assign index = 2 %}
                {% endcase %}
                <div class="grid__item product-grid-item one-half large--one-quarter">
                    <a href="/admin/products" class="grid__image">
                        {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                        {{ imageUrl | img_tag }}
                    </a>
                    <div class="figcaption {{ settings.product_grid_style }}">
                        <p class="h6 name_wrapper"><a
                                    href="/admin/products">{{ 'home_page.onboarding.product_title' | t }}</a></p>
                        <p class="price_wrapper">$19.99</p>
                    </div>
                </div>
                {% assign index = index | plus: 1 %}
            {% endfor %}
        </div>
    </div>
</div>