{% if paginate.pages > 1 %}
    <ul class="pagination">
        {% if paginate.previous %}
            <li class="pagination__prev">
                <a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">&lt;</a>
            </li>
        {% endif %}

        {% for part in paginate.parts %}
            {% if part.is_link %}
                <li><a href="{{ part.url }}" title="Page {{ part.title }}">{{ part.title }}</a></li>
            {% else %}
                <li {% if part.title == paginate.current_page %}class="active"{% endif %}>
                    <span>{{ part.title }}</span>
                </li>
            {% endif %}
        {% endfor %}

        {% if paginate.next %}
            <li class="pagination__next">
                <a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">&gt;</a>
            </li>
        {% endif %}
    </ul>
{% endif %}