
  {% if product.variants.size >= 1 %}
    <script>
        var $addToCartForm = $('form[action="/cart/add"]');
        if (window.MutationObserver && $addToCartForm.length) {
            if (typeof observer === 'object' && typeof observer.disconnect === 'function') {
                observer.disconnect();
            }
            var config = { childList: true, subtree: true };
            var observer = new MutationObserver(function() {
              {% for option in product.options %}
                $('#product-selectors:eq({{ forloop.index0 }})')
                    .filter(function() {
                        return $(this).find('option').size() > 1
                    })
                    .prepend('<option value="">Please choose one</option>')
                    .val('')
                    .trigger('change');
              {% endfor %}
                observer.disconnect();
            });
            observer.observe($addToCartForm[0], config);
        }
        $('#product-selectors').prop('required', true);
    </script>
  {% endif %}
