{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}

{% assign link = product.url %}
{% assign tag_string = product.tags | join: ',' | downcase %}
{% assign tag_array = tag_string | split: ',' %}


<div class="panel panel--product-large">
    <div class="panel__header">
        <a class="panel__header__background"
           href="{{ link }}"
           style="background-image: url({{ product.featured_image | img_url: '265x' }})"
        ></a>
    </div>
    <div class="panel__body">
        <a class="panel__body__title" href="{{ link }}">{{ product.title }}</a>
        <div class="panel__body__price">
            <span class="panel__body__price__current">{% if product.price_varies %}From {% endif %}{{ product.price | money }}</span>
            {% if on_sale %}
                <span class="panel__body__price__compare">{{ product.compare_at_price | money }}</span>
            {% endif %}
        </div>

        <div class="spacer-xs"></div>

        <a class="button button--black" href="{{ product.url }}">Shop Now</a>

        {% comment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
            {% if customer.id %}
                <input type="hidden" name="customer_id" value="{{ customer.id }}">
            {% endif %}

            <input type="hidden" name="id" value="{{ product.variants[0].id }}"/>

            {% if product.available %}
                <button type="submit" class="button button--black button--small">Add to bag</button>
            {% else %}
                <button type="submit" class="button button--black button--small" disabled="disabled">Sold out</button>
            {% endif %}
        </form>
        {% endcomment %}
    </div>
</div>
