<div class="tabs">
    <ul class="tabs__nav" id="product-tabs">

        <li class="active" role="presentation">
            <a href="#collapse-description" data-toggle="tab">Description</a>
        </li>

        {% if product.description contains '[tabs]' %}
            {% capture tabs %}{% include 'content-shortcode' content: product.description shortcode: '[tabs]' %}{% endcapture %}
            {% assign tabs = tabs | strip | split: '[/tab]' %}
            {% if tabs.size > 0 %}{% for _tab in tabs %}
                <li {% if active %}class="active" {% assign active = false %} {% endif %}>
                    <a href="#collapse-tab-{{ forloop.index }}" data-toggle="tab"
                       class="text-uppercase">{% include 'product-tab-content-shortcode' content: _tab shortcode: 'name' %}</a>
                </li>
            {% endfor %}{% endif %}
        {% endif %}

        <li role="presentation">
            <a href="#collapse-reviews" data-toggle="tab">Reviews</a>
        </li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="product-tab-content" class="tabs__content">

                    <div id="collapse-description" class="tabs__content__pane fade in active" itemprop="description">
                        {{ content }}
                    </div>

                    {% if product.description contains '[tabs]' %}
                        {% capture tabs %}{% include 'content-shortcode' content: product.description shortcode: '[tabs]' %}{% endcapture %}
                        {% assign tabs = tabs | strip | split: '[/tab]' %}
                        {% if tabs.size > 0 %}
                            {% for _tab in tabs %}
                                <div class="tabs__content__pane fade " id="collapse-tab-{{ forloop.index }}">
                                    {% include 'product-tab-content-shortcode' content: _tab %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    <div id="collapse-reviews" class="tabs__content__pane fade">
                      <p style="padding: 0 24px;">
                        By clicking submit review, you agree to Wrapped's 
                        <a href="https://www.wrapped.com/pages/terms-conditions" target="_blank" rel="noopener">
                          Terms
                        </a>
                         and 
                        <a href="https://www.wrapped.com/pages/privacy" target="_blank" rel="noopener">
                          Privacy Policy
                        </a>
                      </p>

                      <span id="shopify-product-reviews" data-id="{{ product.id }}">
                        {{ product.metafields.spr.reviews }}
                      </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery('#product-tabs a').click(function (e) {
        e.preventDefault();
        jQuery(this).tab('show');
    })
</script>
