{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}


{% assign product_collection_link = product.url %}
{% assign product_link = link_override | default: product_collection_link %}

{% assign tag_string = product.tags | join: ',' | downcase %}
{% assign tag_array = tag_string | split: ',' %}


<div class="panel panel--product">
    <div class="panel__header">
        <a class="panel__header__background"
           href="{{ product_link }}"
           style="background-image: url({{ product.featured_image | img_url: '360x360', crop: 'center', format: 'pjpg' }})"
        ></a>
        <!-- include 'wishlist-button-collection' with '{{ product.id }}' -->
        <div class="panel__header__ribbons">
            <ul class="panel__header__ribbons__list">
                {% if sold_out %}
                    <li class="panel__header__ribbons__list__sold-out"><span>Sold out</span></li>
                {% else %}
                    {% if tag_array contains 'new' %}
                        <li class="panel__header__ribbons__list__new"><span>New</span></li>
                    {% endif %}

                    {% if on_sale %}
                        <li class="panel__header__ribbons__list__sale"><span>Sale</span></li>
                    {% endif %}

                    {% if tag_array contains 'exclusive' %}
                        <li class="panel__header__ribbons__list__exclusive"><span>Exclusive</span></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="panel__body">
        {% if product_heading %}
            <div class="panel__body__heading">{{ product_heading }}</div>
        {% endif %}
        <a class="panel__body__title" href="{{ product_link }}">{{ product.title }}</a>
        <div class="panel__body__price">
            <span class="panel__body__price__current">{% if product.price_varies %}From {% endif %}{{ product.price | money }}</span>
            {% if on_sale %}
                <span class="panel__body__price__compare">{{ product.compare_at_price | money }}</span>
            {% endif %}
        </div>
    </div>
</div>
