<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <meta itemprop="price" content="{{ product.price }}">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">

    <h1 class="product__details__title" itemprop="name">{{ product.title }}</h1>

    {% if product.vendor %}
        <div class="product__details__subtitle">{{ product.vendor }}</div>
    {% endif %}

    <form action="{{ form_action }}" method="{{ form_method }}" enctype="multipart/form-data"
          id="{{ form_id }}" class="{{ form_class }}">
        {% if customer.id %}
            <input type="hidden" name="customer_id" value="{{ customer.id }}">
        {% endif %}


        <div class="spacer-sm"></div>

        <div class="product__details__variations" id="product-variants">

            {% assign variantCount = product.variants | size %}
            {% if product.available %}
                {% if variantCount > 1 %}


                    <select id="product-selectors" name="id">
                        {% for variant in product.variants %}
                            <option
                                    {% if variant == current_variant %} selected="selected"{% endif %}
                                    value="{{ variant.id }}"
                            >
                                {{ variant.price | money }}
                            </option>
                        {% endfor %}
                    </select>

                {% else %}
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}"/>
                {% endif %}
            {% endif %}
        </div>

        {% capture customisation %}{% include 'product-customizer' %}{% endcapture %}
        {% unless customisation contains "Liquid error" %}
        <div class="product__details__customisation">
            {{ customisation }}
        </div>
        <div class="spacer-sm"></div>
        {% endunless %}

        <div class="submit-details">
            {% if product.available %}
                <div class="product__details__quantity">
                    <input type="text" id="quantity" name="quantity" value="1">

                    <div class="product__details__quantity__modifiers">
                        <span class="down"><i class="icon icon-minus"></i></span>
                        <span class="up"><i class="icon icon-plus"></i></span>
                    </div>
                </div>

                <!--<button type="submit" class="button button--black" id="AddToCart">Add to bag</button>-->
          		<a href="javascript:;" class="button button--black" onclick="addItemCustom('{{ form_id }}')">Add to bag</a>
            {% else %}
                <button type="submit" class="button button--black" disabled="disabled">Sold out</button>
            {% endif %}
          	<!-- include 'wishlist-button-product' with '{{ product.id }}' -->
        </div>

        <div class="product__details__message">
            <p>{{ product.description }}</p>
        </div>
    </form>
</div>