{% comment %}
Based on the related products by Collection
solution documented here by Caroline Schnapp:
https://docs.shopify.com/support/your-store/products/can-i-recommend-related-products
{% endcomment %}

{% comment %}
Set either or both to true, if you want
to limit yourself to items with same vendor, and/or type.
{% endcomment %}

{% assign same_vendor = false %}
{% assign same_type = false %}

{% comment %}
Collections to ignore.
Never pick related items from those.
{% endcomment %}

{% assign exclusions = 'frontpage,all' | split: ',' %}

{% comment %}
Looking for a relevant collection.
{% endcomment %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
    {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
    {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
      {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
      {% endunless %}
  {% endfor %}
{% endunless %}

{% comment %}
If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}

    <!-- Related collection: {{ collection.handle }} -->

    {% assign counter = 0 %}
    {% assign break_at = 5 %}
    {% assign current_product = product %}

    {% capture upsell_items %}
    {% for product in collection.products %}
        {% unless product.handle == current_product.handle %}
        {% unless same_vendor and current_product.vendor != product.vendor %}
        {% unless same_type and current_product.type != product.type %}

        <div class="col-sm-6">
            {% include 'product-grid-item-large' %}
        </div>

        {% assign counter = counter | plus: 1 %}
        {% if counter == 2 %}
            {% break %}
        {% endif %}

        {% endunless %}
        {% endunless %}
        {% endunless %}
    {% endfor %}
    {% endcapture %}

    {% assign start_loop = counter | plus: 1 %}
    {% assign counter = 0 %}

    {% capture related_items %}
    {% for product in collection.products offset:start_loop %}
        {% unless product.handle == current_product.handle %}
        {% unless same_vendor and current_product.vendor != product.vendor %}
        {% unless same_type and current_product.type != product.type %}

        {% assign mod = counter | modulo:6 %}

        {% if counter == 0 or mod == 0 %}
            <div class="row eq">
        {% endif %}

        <div class="col-xs-6 col-sm-2">
            {% include 'product-grid-item' %}
        </div>

        {% if forloop.last or mod == 5 %}
            </div>

            {% if forloop.last == false and counter != break_at %}
                <div class="spacer"></div>
            {% endif %}
        {% endif %}

        {% if counter == break_at %}
            {% break %}
        {% endif %}

        {% assign counter = counter | plus: 1 %}

        {% endunless %}
        {% endunless %}
        {% endunless %}
    {% endfor %}
    {% endcapture %}

    {% assign upsell_items = upsell_items | trim %}

    {% unless upsell_items == blank %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Would you like some milk with those brownie points?</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    {{ upsell_items }}
                </div>
            </div>
        </div>
    </div>
    {% endunless %}

    {% assign related_items = related_items | trim %}

    {% unless related_items == blank %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">More crowd pleasers</h4>
            </div>
        </div>

        {{ related_items }}
    </div>
    {% endunless %}

{% endif %}
