<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <meta itemprop="price" content="{{ product.price }}">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">

    <h1 class="product__details__title" itemprop="name">{{ product.title }}</h1>

    {% if product.vendor %}
        <div class="product__details__subtitle">{{ product.vendor }}</div>
    {% endif %}

    <div class="product__details__price">
        <span class="product__details__price__current">{{ product.price | money }}</span>
        {% if on_sale %}
            <span class="product__details__price__compare">{{ product.compare_at_price | money }}</span>
        {% endif %}
    </div>

    <form action="{{ form_action }}" method="{{ form_method }}" enctype="multipart/form-data"
          id="{{ form_id }}" class="{{ form_class }}">
        {% if customer.id %}
            <input type="hidden" name="customer_id" value="{{ customer.id }}">
        {% endif %}

        <div class="spacer-sm"></div>

        <div class="row">
            <div class="col-md-6">
                {% if current_variant.inventory_management %}
                    {% assign first_inventory = current_variant.inventory_quantity %}
                    {% if first_inventory > 5 %}
                        <div class="product__details__availability product__details__availability--many">Many in stock
                        </div>
                        {% elsif first_inventory > 0 %}
                        <div class="product__details__availability product__details__availability--few">
                            Everybody wants me - only {{ first_inventory }} left!
                        </div>
                    {% else %}
                        <div class="product__details__availability product__details__availability--sold-out">Sold out
                        </div>
                    {% endif %}
                {% else %}
                    <div class="product__details__availability product__details__availability--many">Many in stock</div>
                {% endif %}

                {% if product.available %}
                    {% if current_variant.inventory_management %}
                        {% if current_variant.inventory_quantity > 0 %}
                            <link itemprop="availability" href="http://schema.org/InStock">
                        {% else %}
                            <link itemprop="availability" href="http://schema.org/OutOfStock">
                        {% endif %}
                    {% else %}
                        <link itemprop="availability" href="http://schema.org/InStock">
                    {% endif %}
                {% else %}
                    <link itemprop="availability" href="http://schema.org/OutOfStock">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="product__details__share">
                    {% include 'social-sharing' | social_share_message : 'Drop a hint' %}
                </div>
            </div>
        </div>

        <div class="spacer-sm"></div>

        <div class="product__details__variations" id="product-variants">
           {% if product.variants.size > 1 %}
		{% if product.options[0] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[0] }}</label>
			<select id='select-one' onchange="letsDoThis()">
				{% for variant in product.variants %}
					{% unless used contains variant.option1 %}
						<option value="{{ variant.option1 }}">{{ variant.option1 }} {% if product.variants.price > 0 %} {{ variant.price | money }} {% endif %}</option>
						{% capture used %}{{ used }} {{ variant.option1 }}{% endcapture %}
					{% endunless %}
				{% endfor %}
			</select>
		{% endif %}
		{% if product.options[1] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[1] }}</label>
			<select id='select-two' onchange="letsDoThis()">
				{% for variant in product.variants %}
					{% unless used contains variant.option2 %}
						<option value="{{ variant.option2 }}">{{ variant.option2 }}</option>
						{% capture used %}{{ used }} {{ variant.option2 }}{% endcapture %}
					{% endunless %}
				{% endfor %}
			</select>
		{% endif %}
		{% if product.options[2] %}
			{% assign used = '' %}
			<label for="select-one">{{ product.options[2] }}</label>
			<select id='select-three' onchange="letsDoThis()">
				{% for variant in product.variants %}
					{% unless used contains variant.option3 %}
						<option value="{{ variant.option3 }}">{{ variant.option3 }}</option>
						{% capture used %}{{ used }} {{ variant.option3 }}{% endcapture %}
					{% endunless %}
				{% endfor %}
			</select>
		{% endif %}
	{% endif %}
          
          
	<input type="hidden"name="id" id="product-select" value="{{ product.variants.first.id }}" />	
          
          
          
          {% assign variantCount = product.variants | size %}
            {% if product.available %}
                {% if variantCount > 1 %}
                    <select id="product-selectors" name="id">
                        {% for variant in product.variants %}
                      		{% if variant.available %}
                              <option
                                      {% if variant == current_variant %} selected="selected"{% endif %}
                                      value="{{ variant.id }}"
                              >
                                  {{ variant.title }} - {{ variant.price | money }}
                              </option>
                      		{% endif %}
                        {% endfor %}
                    </select>
                    <div class="spacer-sm"></div>
                {% else %}
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}"/>
                {% endif %}
            {% endif %}
        </div>

        {% capture customisation %}{% include 'product-customizer' %}{% endcapture %}
        {% unless customisation contains "Liquid error" %}
        <div class="product__details__customisation">
            {{ customisation }}
        </div>
        <div class="spacer-sm"></div>
        {% endunless %}

        <div>
            {% if product.available %}

                {% if current_variant.inventory_management %}
                    {% if current_variant.inventory_quantity > 0 %}
                        <div class="product__details__quantity">
                            <input type="text" id="quantity" name="quantity" value="1">

                            <div class="product__details__quantity__modifiers">
                                <span class="down"><i class="icon icon-minus"></i></span>
                                <span class="up"><i class="icon icon-plus"></i></span>
                            </div>
                        </div>

                        <button type="submit" class="button button--black" id="AddToCart">Add to bag</button>
                    {% else %}
                        <button type="submit" class="button button--black" disabled="disabled">Sold out</button>
                    {% endif %}
                {% else %}
                    <div class="product__details__quantity">
                        <input type="text" id="quantity" name="quantity" value="1">

                        <div class="product__details__quantity__modifiers">
                            <span class="down"><i class="icon icon-minus"></i></span>
                            <span class="up"><i class="icon icon-plus"></i></span>
                        </div>
                    </div>

                    <button type="submit" class="button button--black" id="AddToCart">Add to bag</button>
                {% endif %}
            {% else %}
                <button type="submit" class="button button--black" disabled="disabled">Sold out</button>
            {% endif %}
        </div>

        {% unless settings.homepage_cta_text == blank %}
        <div class="product__details__message">
            <img src="{{ 'wrapped-bow-icon.png' | asset_url }}" width="100" height="100">
            <p>{{ settings.homepage_cta_text }}</p>
        </div>
        {% endunless %}
    </form>
</div>

<script>
	function letsDoThis() {
		{% if product.options[0] %}var opt1 = document.getElementById('select-one').value;{% endif %}
		{% if product.options[1] %}var opt2 = document.getElementById('select-two').value;{% endif %}
		{% if product.options[2] %}var opt3 = document.getElementById('select-three').value;{% endif %}
		var id = '';
		{% for v in product.variants %}
		if(opt1=="{{ v.option1 }}"{% if product.options[1] %} && opt2=="{{ v.option2 }}"{% endif %}{% if product.options[2] %} && opt3=="{{ v.option3 }}"{% endif %}) {
				var id = {{ v.id }};
				var price = "{{ v.price | money }}";
			}
		{% endfor %}
		if(id!='') {
			document.getElementById('product-select').value = id;
			document.getElementById('price').innerHTML = price;
		} else {
			document.getElementById('product-select').value = '';
			document.getElementById('price').innerHTML = 'Unavailable';
		}
		
	}
</script>