<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="{{ product.price }}">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">

    <h1 class="product__details__title" itemprop="name">{{ product.title }}</h1>

    {% if product.vendor %}
        <div class="product__details__subtitle">{{ product.vendor }}</div>
    {% endif %}

    <div class="product__details__price">
        <span class="product__details__price__current">{{ product.price | money }}</span>
        {% if on_sale %}
            <span class="product__details__price__compare">{{ product.compare_at_price | money }}</span>
        {% endif %}
    </div>
  
  	<!-- Begin Afterpay Liquid Snippet for Shopify v2.0.7 -->
	{% assign afterpay_minimum_value_in_cents = 4 %}
    {% assign afterpay_maximum_value_in_cents = 100000 %}
    {% assign afterpay_logo_theme = 'colour' %}
    {% assign afterpay_count_eligible_variants = 0 %}
    {% if shop.currency == 'AUD' %}
      {% for afterpay_variant in product.variants %}
        {% if afterpay_variant.available and afterpay_variant.price >= afterpay_minimum_value_in_cents and afterpay_variant.price <= afterpay_maximum_value_in_cents %}
          {% assign afterpay_count_eligible_variants = afterpay_count_eligible_variants | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if afterpay_count_eligible_variants > 0 %}
      <p class="afterpay-paragraph" style="display:{% if product.selected_or_first_available_variant.available and product.selected_or_first_available_variant.price >= afterpay_minimum_value_in_cents and product.selected_or_first_available_variant.price <= afterpay_maximum_value_in_cents %}block{% else %}none{% endif %};" data-product-id="{{ product.id }}">
        or make 4 interest-free payments of
        <strong><span class="afterpay-instalments">${{ product.selected_or_first_available_variant.price | divided_by: 4.0 | round | money_without_currency }}&nbsp;AUD</span></strong>
        fortnightly with 
        <a style="display:inline-block; margin-bottom:10px;" href="https://www.afterpay.com.au/terms" target="_blank">
          <img style="vertical-align:middle;" src="https://static.secure-afterpay.com.au/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}.png" srcset="https://static.secure-afterpay.com.au/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}.png 1x, https://static.secure-afterpay.com.au/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}@2x.png 2x, https://static.secure-afterpay.com.au/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}@3x.png 3x" width="100" height="21" alt="Afterpay" />
          <span style="font-size:12px;"><u>More info</u></span>
        </a>
      </p>
      {% if product.price_varies or afterpay_count_eligible_variants < product.variants.size %}
        <script type="text/javascript">
          if (typeof Afterpay === 'undefined') {
            var Afterpay = {products:[]};
            Afterpay.loadScript = function(url, callback) {
              var script = document.createElement('script');
              script.type = 'text/javascript';
              if (script.readyState) { // I.E.
                script.onreadystatechange = function() {
                  if (script.readyState == 'loaded' || script.readyState == 'complete') {
                    script.onreadystatechange = null;
                    callback();
                  }
                };
              } else { // Others
                script.onload = function() {
                  callback();
                };
              }
              script.src = url;
              document.getElementsByTagName('head')[0].appendChild(script);
            };
            Afterpay.init = function($) {
              $('body').on('change', $('form[action^="/cart/add"]'), function(event) {
                var $form = $(event.target).closest('form');
                var $afterpay_paragraph = null;
                var should_show_instalments = false;
                var selected_variant_id = parseInt($('input[name=id]:checked, select[name=id], input[name=id], hidden[name=id]', $form).val(), 10);
                if (isNaN(selected_variant_id)) {
                  var $variant_options = $form.find('input[name=id][value], select[name=id] option[value], hidden[name=id][value]').filter(function(index, element) {
                    return $(element).attr('value').match(/^[1-9][0-9]*$/);
                  });
                  $variant_options.each(function(index, element) {
                    $.each(Afterpay.products, function(product_index, product) {
                      $.each(product.variants, function(variant_index, variant) {
                        if (variant.id == $(element).val()) {
                          $afterpay_paragraph = $('.afterpay-paragraph[data-product-id=' + product.id + ']');
                          return false;
                        }
                      });
                      if ($afterpay_paragraph !== null) {
                        return false;
                      }
                    });
                    if ($afterpay_paragraph !== null) {
                      return false;
                    }
                  });
                } else if (selected_variant_id > 0) {
                  $.each(Afterpay.products, function(product_index, product) {
                    $.each(product.variants, function(variant_index, variant) {
                      if (variant.id == selected_variant_id) {
                        $afterpay_paragraph = $('.afterpay-paragraph[data-product-id=' + product.id + ']');
                        if (variant.available && variant.price >= {{ afterpay_minimum_value_in_cents }} && variant.price <= {{ afterpay_maximum_value_in_cents }}) {
                          should_show_instalments = true;
                          $afterpay_paragraph.find('.afterpay-instalments').html('$' + (Math.round(variant.price / 4) / 100).toFixed(2) + '&nbsp;AUD');
                        }
                      }
                    });
                  });
                }
                if ($afterpay_paragraph !== null) {
                  if (should_show_instalments) {
                    $afterpay_paragraph.show();
                  } else {
                    $afterpay_paragraph.hide();
                  }
                }
              });
            };
            if (typeof jQuery === 'undefined' || parseFloat(jQuery.fn.jquery) < 1.7) {
              Afterpay.loadScript('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js', function() {
                var jQuery_1_12_4 = jQuery.noConflict(true);
                Afterpay.init(jQuery_1_12_4);
              });
            } else {
              Afterpay.init(jQuery);
            }
          }
          Afterpay.products.push({{ product | json }});
        </script>
      {% endif %}
    {% endif %}
    <!-- End Afterpay Liquid Snippet for Shopify -->

    {% if product.tags contains "delivery:Now (Next Day)" %}
      {% assign highlight_delivery = 1 %}
    {% elsif product.tags contains "delivery:Soon (3 days)" %}
      {% assign highlight_delivery = 2 %}
    {% elsif product.tags contains "delivery:Shortly (7 days)" %}
      {% assign highlight_delivery = 3 %}
    {% elsif product.tags contains "delivery:No Hurry (+7 days)" %}
      {% assign highlight_delivery = 4 %}
    {% endif %}

    {% assign delivery_tags = "Now (Next Day)|Soon (3 days)|Shortly (7 days)|No Hurry (+7 days)" | split: "|" %}

    {% comment %}
      <table class="delivery-table">
        <thead>
          <tr>
            <th>
              Delivery
            </th>
          </tr>
        </thead>
        <tbody>
          {% for delivery_tag in delivery_tags %}
            <tr>
              <td {% if forloop.index >= highlight_delivery %}class="highlight"{% else %}class="muted"{% endif %}>
                {{ delivery_tag }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endcomment %}

    <form action="{{ form_action }}" method="{{ form_method }}" enctype="multipart/form-data"
          id="{{ form_id }}" class="{{ form_class }} ss">
        {% if customer.id %}
            <input type="hidden" name="customer_id" value="{{ customer.id }}">
        {% endif %}

        <div class="spacer-sm"></div>

        <div class="row">
            <div class="col-md-6">
                {% if current_variant.inventory_management %}
                    {% assign first_inventory = current_variant.inventory_quantity %}
                    {% if first_inventory > 5 %}
                        <div class="product__details__availability product__details__availability--many">Many in stock
                        </div>
                        {% elsif first_inventory > 0 %}
                        <div class="product__details__availability product__details__availability--few">
                            Everybody wants me - only {{ first_inventory }} left!
                        </div>
                    {% else %}
                        <div class="product__details__availability product__details__availability--sold-out">Sold out
                        </div>
                    {% endif %}
                {% else %}
                    <div class="product__details__availability product__details__availability--many">Many in stock</div>
                {% endif %}

                {% if product.available %}
                    {% if current_variant.inventory_management %}
                        {% if current_variant.inventory_quantity > 0 %}
                            <link itemprop="availability" href="http://schema.org/InStock">
                        {% else %}
                            <link itemprop="availability" href="http://schema.org/OutOfStock">
                        {% endif %}
                    {% else %}
                        <link itemprop="availability" href="http://schema.org/InStock">
                    {% endif %}
                {% else %}
                    <link itemprop="availability" href="http://schema.org/OutOfStock">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="product__details__share">
                    {% include 'social-sharing' | social_share_message : 'Drop a hint' %}
                </div>
            </div>
        </div>

        <div class="spacer-sm"></div>

        <div class="product__details__variations" id="product-variants">
            {% assign variantCount = product.variants | size %}
            {% if product.available %}
                {% if variantCount > 1 %}
                  <label class="field-required" for="select-one">
                    {% assign labelString =  product.options[0] | downcase %}
                    {% if  labelString contains "choose" or labelString contains "pick" %}
                      {{ product.options[0] }}
                    {% else %}
                      Please select preferred {{ product.options[0] }}
                      {% endif %}</label>
                    <select id="product-selectors" name="id" required="required">
                        {% for variant in product.variants %}
                      		{% if variant.available %}
                              <option
                                  {% if forloop.length <= 1 and variant == product.selected_or_first_available_variant %} selected="selected"{% endif %}
                                      value="{{ variant.id }}"
                              >
                                  {{ variant.title }} - {{ variant.price | money }}
                              </option>
                      		{% endif %}
                        {% endfor %}
                    </select>
                    <div class="spacer-sm"></div>
                {% else %}
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}"/>
                {% endif %}
            {% endif %}
        </div>
      
        <!-- Bespoke Same Day shipping -->
        {% assign hasSameDay = 'no' %}
      	{% for tag in product.tags %}
          {% capture tagL %}{{ tag | downcase }}{% endcapture %}
          {% if tagL contains 'sameday-' %}
      		{% assign shipRate = tagL | remove: 'sameday-' | times:100 | divided_by:100 | money %}
              {% assign hasSameDay = 'yes' %}
          {% endif %}
		{% endfor %}
        {% capture store_day %}{{ 'now' | date: "%w" }}{% endcapture %} 
		{% capture store_time %}{{ 'now' | date: "%H" }}{% endcapture %} 
        {% if hasSameDay == 'yes' %}
           {% if store_time < '11' %}
             {% if store_day != '0' %}
               {% if store_day != '6' %}
                <div class="product-customizer-option option-type-checkbox bespokeSameDayDeliveryOption">
                  <div class="inner">
                    <input type="checkbox" id="opt_bespoke_sameday" value="✓" name="properties[Same Day Shipping]">
                    <label for="opt_bespoke_sameday">{{ settings.shipping_title }} ({{ shipRate }})</label>
                    <div class="product-customizer-option-description">{{ settings.shipping_status }}</div>
                  </div>
                </div>
              {% endif %}
      	    {% endif %}
	      {% endif %}
        {% endif %}
        
        {{ 'moment.min.js' | asset_url | script_tag }}
		{{ 'moment-timezone.min.js' | asset_url | script_tag }}
        <script type="text/javascript">
          var cutOffTimeToday = moment().tz("Australia/Sydney").startOf('day').hour(11).minute(00); //11:00am Sydney time today
          var now = moment();
          if (now < cutOffTimeToday) {
            $('.bespokeSameDayDeliveryOption').show();
          }
        </script>
        <!-- end Bespoke -->

        {% capture customisation %}{% include 'product-customizer' %}{% endcapture %}
        {% unless customisation contains "Liquid error" %}
        <div class="product__details__customisation">
            {{ customisation }}
        </div>
        {% endunless %}
      
        <div class="spacer-sm"></div>

        <div class="submit-details">
            {% if product.available %}

                {% if current_variant.inventory_management %}
                    {% if current_variant.inventory_quantity > 0 %}
                        <div class="product__details__quantity">
                            <input type="text" id="quantity" name="quantity" value="1">

                            <div class="product__details__quantity__modifiers">
                                <span class="down"><i class="icon icon-minus"></i></span>
                                <span class="up"><i class="icon icon-plus"></i></span>
                            </div>
                        </div>
                        
                        {% if product.metafields.product_customizer == empty %}
                          <a href="javascript:;" class="button button--black" onclick="addItemCustom('{{ form_id }}')">Add to bag</a>
                        {% else %}
                          <button type="submit" class="button button--black" id="AddToCart">Add to bag</button>
          				{% endif %}
                    {% else %}
                        <button type="submit" class="button button--black" disabled="disabled">Sold out</button>
                    {% endif %}
                {% else %}
                    <div class="product__details__quantity">
                        <input type="text" id="quantity" name="quantity" value="1">

                        <div class="product__details__quantity__modifiers">
                            <span class="down"><i class="icon icon-minus"></i></span>
                            <span class="up"><i class="icon icon-plus"></i></span>
                        </div>
                    </div>

                        {% if product.metafields.product_customizer == empty %}
                          <a href="javascript:;" class="button button--black" onclick="addItemCustom('{{ form_id }}')">Add to bag</a>
                        {% else %}
                          <button type="submit" class="button button--black" id="AddToCart" >Add to bag</button>
          				{% endif %}
                {% endif %}
            {% else %}
                <button type="submit" class="button button--black" disabled="disabled">Sold out</button>
            {% endif %}
          
          <!-- include 'wishlist-button-product' with '{{ product.id }}' -->
        </div>

        {% unless settings.homepage_cta_text == blank %}
        <div class="product__details__message">
            <img src="{{ 'wrapped-bow-icon.png' | asset_url }}" width="100" height="100">
            <p>{{ settings.homepage_cta_text }}</p>
        </div>
        {% endunless %}
    </form>
</div>