<div class="signup-popup popup-overlay" style="display:none;">
  <div class="signup-inner">
    <a href="javascript:;" class="close-btn">Close</a>
    <h4>WIN* $1000 to spend at Wrapped</h4>

    <p>
      Sign up to receive inspiration, insights and ideas on lifestyle and colour delivered straight to your inbox and we’ll automatically enter you into the prize draw. By clicking subscribe, you agree to Wrapped's 
      <a href="https://www.wrapped.com/pages/terms-conditions" target="_blank" rel="noopener">
        Terms
      </a>
       and 
      <a href="https://www.wrapped.com/pages/privacy" target="_blank" rel="noopener">
        Privacy Policy
      </a>
    </p>

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

    <style type="text/css">
      #mc_embed_signup {background: #fff; clear: left; font: 14px Helvetica, Arial, sans-serif; width: 100%;}
    </style>

    <div id="mc_embed_signup">
      <form action="https://wrapped.us17.list-manage.com/subscribe/post?u=44fbf9569ef91d968e01c97c9&amp;id=743d1ea65d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_44fbf9569ef91d968e01c97c9_743d1ea65d" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </div>
      </form>
    </div>
    <!-- End MailChimp Signup Form -->
  </div>
</div>

<script>
  var d = new Date();
  d.setTime(d.getTime() + (30*24*60*60*1000));

  $(document).ready(function() {
    var y = getCookieValue('close_button_click2');

    if(y == '' || y == null) {
      y = 0;
    } 
    
    if(y != 'Yes') {  
      $('.signup-popup').css('display','block');
    }
    document.cookie = "close_button_click2="+y+"; expires="+d.toUTCString()+"; path=/";
  });

  $('.close-btn').click(function(){
    $('.signup-popup').css('display','none');
    document.cookie = "close_button_click2=Yes; expires="+d.toUTCString()+"; path=/";
  });
    
  function getCookieValue(key) {
    var cookies = document.cookie.split('; ');

    for (var i = 0, parts; (parts = cookies[i] && cookies[i].split('=')); i++) {
      if (decode(parts.shift()) === key) {
        return decode(parts.join('='));
      }
    }
    return null;
  }

  function decode(s) {
    return decodeURIComponent(s.replace(/\+/g, ' '));
  }
</script>
