{% if template contains 'article' or template contains 'blog' %}
    {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
    {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}
    {% elsif template contains 'product' %}
    {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
    {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}
    {% elsif template == 'password' %}
    {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
    {% capture shareTitle %}{% unless shop.description == blank %}{{ shop.description | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
{% endif %}

<ul class="list list--social-sharing">

    {% if social_share_message %}
        <li class="list__message">{{ social_share_message }}</li>
    {% endif %}

    {% if settings.share_facebook_enabled %}
        <li>
            {% if settings.settings.social_facebook_id != blank %}
                <a target="_blank"
                   href="https://www.facebook.com/dialog/share?app_id={{ settings.social_facebook_id }}&display=page&href={{ permalinkURL }}&redirect_uri={{ permalinkURL }}">
                    <i class="icon icon-facebook"></i>
                </a>
            {% else %}
                <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ permalinkURL }}">
                    <i class="icon icon-facebook"></i>
                </a>
            {% endif %}
        </li>
    {% endif %}

    {% if settings.share_twitter_enabled %}
        <li>
            <a target="_blank" href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }}">
                <i class="icon icon-twitter"></i>
            </a>
        </li>
    {% endif %}

    {% if product.featured_image or article.image %}

        {% if settings.share_pinterest_enabled %}
            <li>
                <a target="_blank"
                   href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{% if template contains 'product' %}{{ product | img_url: '1024x1024' }}{% else %}{{ article | img_url: '1024x1024' }}{% endif %}&amp;description={{ shareTitle }}">
                    <i class="icon icon-pinterest"></i>
                </a>
            </li>
        {% endif %}

    {% endif %}

</ul>
