{% if shop.customer_accounts_enabled %}
  <div id="ssw-topauth" class="ssw-topauth">
    {% if customer %}
      <div class="ssw-tprofile ssw-dropdown">
        <a class="ssw-dropdown-toggle" data-toggle="ssw-dropdown" href="#">
          <i class="ssw-icon-user"></i>
          {{ customer.first_name }}
          {% if customer.last_name != 'Unknown' %}
            {{ customer.last_name | slice:0 | upcase }}.
          {% endif %}
          <i class="ssw-icon-down-open-big"></i>
        </a>
        <ul class="ssw-dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li id="customer_myorders_li"><a tabindex="-1" href="/account">{{ 'socialshopwave.my_orders' | t }}</a></li>
          {% include 'ssw-widget-dropdown' %}
          <li class="ssw-divider"></li>
          <li><a id="customer_logout_link" tabindex="-1" href="/account/logout">{{ 'socialshopwave.logout' | t }}</a></li>
        </ul>
      </div>

      {% include 'ssw-widget-notification' %}

    {% else %}
      <a id="customer_login_link" href="javascript:void(0);" data-toggle="ssw-modal" data-target="#login_modal" onclick="trackShopStats('login_popup_view', 'all')">{{ 'socialshopwave.log_in' | t }}</a>
      <span class="ssw-login-divider">/</span>
      <a id="customer_register_link" data-toggle="ssw-modal" data-target="#signup_modal" href="javascript:void(0);" onclick="trackShopStats('login_popup_view', 'all')">{{ 'socialshopwave.sign_up' | t }}</a>
    {% endif %}
  </div>
{% endif %}