<ul class="list list--social-links">
    {% if social_link_message %}
        <li class="list__message">{{ social_link_message }}</li>
    {% endif %}

    {% if settings.social_twitter_link != blank %}
        <li>
            <a href="{{ settings.social_twitter_link }}" title="{{ shop.name }} Twitter" target="_blank">
                <i class="icon icon-twitter"></i>
            </a>
        </li>
    {% endif %}
    {% if settings.social_facebook_link != blank %}
        <li>
            <a href="{{ settings.social_facebook_link }}" title="{{ shop.name }} Facebook" target="_blank">
                <i class="icon icon-facebook"></i>
            </a>
        </li>
    {% endif %}
    {% if settings.social_instagram_link != blank %}
        <li>
            <a href="{{ settings.social_instagram_link }}" title="{{ shop.name }} Instagram" target="_blank">
                <i class="icon icon-instagram"></i>
            </a>
        </li>
    {% endif %}
    {% if settings.social_pinterest_link != blank %}
        <li>
            <a href="{{ settings.social_pinterest_link }}" title="{{ shop.name }} Pinterest" target="_blank">
                <i class="icon icon-pinterest"></i>
            </a>
        </li>
    {% endif %}
</ul>