{% if template contains 'product' and product and shop.customer_accounts_enabled %}
<div id="ssw-widget-recommends-html"></div>
<script type="text/javascript">
  if(typeof sswWidgetRecommendsInterval == 'undefined'){
    var sswWidgetRecommendsInterval = setInterval(function(){
      if(typeof userChecked != 'undefined' && userChecked){
        clearInterval(sswWidgetRecommendsInterval);
        var data = {
          'product_id': {{ product.id }},
          '_sid': sswCookie('hesid')
        };
        ssw.get(sswProxyUrl + '/lite2/review/index', data, function(response){
          ssw('#ssw-widget-recommends-html').html(response);
          if(ssw('#site-body').length){
            ssw('#recommend_modal').appendTo('#site-body');
          }else{
            ssw('#recommend_modal').appendTo('body');
          }
        });
      }
    }, 300);
  }
</script>
  {% unless ssw_review_rich_snippet_code %}
  {% if product.metafields.ssw['avg_rate'] %}
      <div style="position:absolute;left:-9999px;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          <span itemprop="itemReviewed">{{product.title}}</span>
          <div>Product rating:
              <span itemprop="ratingValue">{{ product.metafields.ssw['avg_rate'] }}</span> out of
              <span itemprop="bestRating">5</span> with
              <span itemprop="ratingCount">{{ product.metafields.ssw['count_rate'] }}</span> ratings
              <span itemprop="worstRating">1</span>
          </div>
      </div>
  {% endif %}
  {% endunless%}
{% endif %}