{% assign campaign_id = ssw-widget-share-links %}
{% if campaign_id %}
    <div id="ssw-widget-share-links-html-{{ campaign_id }}-{{ product.id }}" data-title="{{ product.title }}" data-handle="{{ product.handle }}" data-images="{{ product.featured_image | product_img_url: lightbox_image_size }}" data-campaign-id="{{ campaign_id }}" ></div>
{% else %}
    <div id="ssw-widget-share-links-html-{{ product.id }}" data-title="{{ product.title }}" data-handle="{{ product.handle }}" data-images="{{ product.featured_image | product_img_url: lightbox_image_size }}"></div>
{% endif %}
<script type="text/javascript">
    (function(){
        window.addEventListener('sswsharingjsloaded', function () {

            var callback;
            var campaign_id = {% if campaign_id %}{{ campaign_id }}{% else %}0{% endif %};
            callback = function(ssw) {
                if(campaign_id && ssw.usercheckResponse.sharing && ssw.usercheckResponse.sharing.campaign_ids && ssw.usercheckResponse.sharing.campaign_ids.indexOf(campaign_id) !== -1) {
                    sswLoadCampaignShareLinks(campaign_id, 'share_product_icon', {
                        product_id: '{{ product.id }}',
                        handle: '{{  product.handle }}'
                    });
                } else {
                    var $widget;
                    if(campaign_id) {
                        $widget = ssw('#ssw-widget-share-links-html-{{ campaign_id }}-{{ product.id }}');
                    } else
                        $widget = ssw('#ssw-widget-share-links-html-{{ product.id }}');
                    var shareLinksData = {
                        'module': 'service',
                        'name': 'SocialButtons',
                        'title': {{ product.title | json }},
                        'url': location.protocol + '//' + location.host + '/products/{{ product.handle }}',
                        'images': '{{ product.featured_image | product_img_url: lightbox_image_size }}',
                        'page': 'product',
                        'share_type': 'product_share',
                        '_sid': ssw.cookie('hesid'),
                        'hash_key': ssw.cookie('hash_key')
                    };
                    ssw.get(sswProxyUrl + '/lite2/core/widget/index', shareLinksData, function(response){
                        $widget.html(response);
                    });
                }
            };
            sswUserChecked(callback);
        });
    })();
</script>
