<div id="ssw-login-social-icons-widget-wrapper" style="display:none">
  {% capture the_snippet_social_icons %}{% include 'ssw-widget-social-login' %}{% endcapture %}
  {% unless the_snippet_social_icons contains 'Liquid error' %}
  {{ the_snippet_social_icons }}
  {% endunless %}
</div>
{% unless customer %}
<div role="modal" class="ssw-login ssw-modal ssw-fade" id="social_exist_modal" aria-hidden="true">
  <div class="ssw-modal-dialog">
    <div class="ssw-modal-content">
      <div class="ssw-modal-body">
        <button class="ssw-close" aria-hidden="true" data-dismiss="ssw-modal" type="button">&times;</button>
        <br />
        <div  class="ssw-h3" style="text-align: center">{{ 'socialshopwave.log_in_to_account' | t }}</div>
        <br />
        <div style="margin: 0 auto; width: 220px;">
          <span class="ssw-thumb"><img class="ssw-img-circle" src=""></span>
          <span id="sem_name" style="font-size: 110%;"></span>
        </div>
        <div class="clearfix"></div>
        <div id="sem_text" style="padding: 10px"></div>
        <form method="post" id="sem_modal_form">
          <input id="sem_email" type="hidden" value="client" name="user">
          <div class="ssw-control-group">
            <input name="password" id="sem_password" type="password" required="required" placeholder="{{ ssw_translate_password }}"><br>
          </div>
          <a id='sem_forgot' style="margin-right: 38px;" onclick="try{showRecoverPasswordForm();ssw('#social_exist_modal').sswModal('hide');}catch(e){}" href="/account/login#recover-password">{{ ssw_translate_forgot_password }}</a>
          <div class="ssw-control-group">
            <input id="sem_btn" type="submit" class="btn button" value="{{ 'socialshopwave.log_in' | t }}">
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>
<div id="set-email-modal" class="ssw-modal ssw-fade" aria-hidden="true" role="modal">
  <div class="ssw-modal-dialog">
    <div class="ssw-modal-content">
      <div class="ssw-modal-body">
        <button type="button" class="ssw-close" data-dismiss="ssw-modal" aria-hidden="true">&times;</button>
        <div  class="ssw-h3">{{ ssw_translate_enter_your_email }}</div>
        <div id="set-email-error" class="ssw-alert ssw-alert-warning login-failed" style="display: none"></div>
        <div class="he-login">
          <form id="set-email-form" method="post">
            <input id="service_id" type="hidden" name="service_id" value="">
            <div class="ssw-control-group">
              <input id="set-email-input" name="email" tabindex="1"  type="email" required="required" placeholder="{{ ssw_translate_email_address }}" class="ssw-span3">
            </div>
            <div class="ssw-control-group">
              <input type="submit" class="btn button" value="{{ ssw_translate_set }}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="accept-terms-modal" class="ssw-modal ssw-fade" aria-hidden="true" role="modal">
  <div class="ssw-modal-dialog">
    <div class="ssw-modal-content">
      <div class="ssw-modal-body">
        <button type="button" class="ssw-close" data-dismiss="ssw-modal" aria-hidden="true">&times;</button>
        <div  class="ssw-h3">{{ ssw_translate_accept_terms_and_conditions }}</div>
        <div id="accept-terms-error" class="ssw-alert ssw-alert-warning login-failed" style="display: none"></div>
        <div>
          <form id="accept-terms-form" method="post">
            <div class="terms-email-group ssw-control-group">
              <input id="terms-email-input" name="email" tabindex="1"  type="email" required="required" placeholder="{{ ssw_translate_email_address }}" class="ssw-span3">
            </div>
            <div class="accept_terms-group ssw-control-group">
              <div class="ssw-controls">
                <label class="ssw-checkbox ssw-inline">
                  <input id="ssw-accept-terms-checkbox" name="accept_terms"
                         onclick="sswOnAcceptTerms(this)"
                         type="checkbox" checked="checked" />
                  {{ ssw_translate_accept_terms_html }}
                </label>
              </div>
            </div>

            <div class="ssw-control-group accepts_marketing-group">
              <div class="ssw-controls">
                <label class="ssw-checkbox ssw-inline">
                  <input id="ssw-accept-marketing-checkbox" name="accepts_marketing"
                         type="checkbox" checked="checked" onclick="sswOnAcceptMarketing(this)" />
                  {{ ssw_translate_accept_marketing }}
                </label>
              </div>
            </div>
            <input id="ssw-accept-terms-service_id" name="service_id" type="hidden" />
            <div class="ssw-control-group">
              <input id="ssw-cancel-account-button" type="button" class="btn button" value="{{ 'socialshopwave.cancel' | t }}" style="display:none;" onclick="sswCancelAccount()">
              <input id="ssw-create-account-button" type="submit" class="btn button" value="{{ 'socialshopwave.create_account' | t }}" onclick="return sswCreateAccount(this.form)">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="login_modal" class="ssw-login ssw-modal ssw-fade" aria-hidden="true" role="modal">
  <div class="ssw-modal-dialog">
    <div class="ssw-modal-content">
      <div class="ssw-modal-body">
        <button type="button" class="ssw-close" data-dismiss="ssw-modal" aria-hidden="true">&times;</button>
        {% capture ssw_customer_login %}{% include 'ssw-customer-login' %}{% endcapture %}
        {% unless ssw_customer_login contains 'Liquid error' %}
        {{ ssw_customer_login }}
        {% endunless %}
        <div class="login-failed"></div>
        <div class="ssw-socialconnect">
          {% capture ssw_social_buttons %}{% include 'ssw-social-buttons' %}{% endcapture %}
          {% unless ssw_social_buttons contains 'Liquid error' %}
          {{ ssw_social_buttons }}
          {% endunless %}
        </div>
        <div class="ssw-login-loading">
          <span class="ssw-spin ssw-loader"></span>
        </div>

        <div class="he-login">
          <form id="he_customer_login" action="/account/login" method="post" accept-charset="UTF-8">
            <input type="hidden" value="client" name="user">

            <div class="ssw-control-group">
              <input id="ssw-customer-email" name="customer[email]" tabindex="1" autocomplete="on" type="email"
                     placeholder="{{ ssw_translate_email_address }}" class="ssw-span3">
            </div>
            <div class="ssw-control-group">
              <input id="ssw-customer-password" name="customer[password]" tabindex="2" type="password"
                     placeholder="{{ ssw_translate_password }}" class="ssw-span3" minlength="6">
            </div>
            <div class="ssw-control-group">
              <input id="hesy-login-submit" tabindex="3" type="submit" class="btn button" value="{{ 'socialshopwave.log_in' | t }}">
            </div>
            <div class="ssw-control-group">
              <a href="/account/login#recover-password">{{ ssw_translate_forgot_password }}</a>
            </div>
          </form>
        </div>
      </div>
      <div class="ssw-modal-footer">
        {{ ssw_translate_no_account }} <a href="#" onclick="ssw('#login_modal').sswModal('hide'); ssw('#signup_modal').sswModal('show', this);">{{ 'socialshopwave.sign_up' | t }}</a>
      </div>
    </div>
  </div>
</div>

<div id="signup_modal" class="ssw-login ssw-modal ssw-fade" aria-hidden="true" role="modal">
  <div class="ssw-modal-dialog">
    <div class="ssw-modal-content">
      <div class="ssw-modal-body">
        <button type="button" class="ssw-close" data-dismiss="ssw-modal" aria-hidden="true">&times;</button>
        {% capture ssw_customer_signup %}{% include 'ssw-customer-signup' %}{% endcapture %}
        {% unless ssw_customer_signup contains 'Liquid error' %}
        {{ ssw_customer_signup }}
        {% endunless %}
        <div class="login-failed"></div>
        <div class="ssw-socialconnect">
          {% unless ssw_social_buttons contains 'Liquid error' %}
          {{ ssw_social_buttons }}
          {% endunless %}
        </div>
        <div class="ssw-signup-loading">
          <span class="ssw-spin ssw-loader"></span>
        </div>

        <form id="he_create_customer" action="/account" method="post" accept-charset="UTF-8">
          <div class="ssw-control-group">
            <input id="email" tabindex="4"
                   name="customer[email]" type="email" placeholder="{{ ssw_translate_email_address }}"
                   class="required email ssw-span3">
          </div>
          <div class="ssw-control-group">
            <input id="password" tabindex="5" name="customer[password]" type="password" placeholder="{{ ssw_translate_password }}"
                   class="required ssw-span3" minlength="6">
          </div>
          <div class="ssw-control-group ssw-first-name" style="display:none;">
            <input id="first_name" tabindex="6"
                   name="customer[first_name]" type="text" placeholder="{{ ssw_translate_first_name }}" class="required ssw-span3"
                   minlength="2">
          </div>
          <div class="ssw-control-group ssw-last-name" style="display:none;">
            <input id="last_name" tabindex="7"
                   name="customer[last_name]" type="text" placeholder="{{ ssw_translate_last_name }}" class="required ssw-span3"
                   minlength="2">
          </div>
          <div id="ssw-signup-accept-terms-marketing" class="ssw-control-group ssw-accept-terms">
            <label id="ssw-signup-accept-terms" class="ssw-checkbox ssw-inline" style="display: none;">
              <input name="terms" tabindex="8"
                     type="checkbox" checked="checked" onclick="sswOnAcceptTerms(this)" />
              {{ ssw_translate_accept_terms_html }}
            </label>
            <input id="ssw-customer-accepts_marketing" type="hidden" name="customer[accepts_marketing]" value="true"/>
            <label id="ssw-signup-accept-marketing" class="ssw-checkbox ssw-inline" style="display: none;">
              <input name="customer[accepts_marketing]" tabindex="9"
                     type="checkbox" checked="checked" onclick="sswOnAcceptMarketing(this)" />
              {{ ssw_translate_accept_marketing }}
            </label>
          </div>
          <div class="ssw-action-bottom">
            <button id="hesy-sign-up-cancel" type="button" class="btn button" data-dismiss="ssw-modal" aria-hidden="true" style="display:none">{{ 'socialshopwave.cancel' | t }}</button>
            <input id="hesy-sign-up-submit" tabindex="8" type="submit" class="btn button" value="{{ 'socialshopwave.sign_up' | t }}">
          </div>
        </form>
      </div>
      <div class="ssw-modal-footer">
        {{ ssw_translate_already_have_an_account }} <a href="#"
                                                       onclick="ssw('#signup_modal').sswModal('hide'); ssw('#login_modal').sswModal('show', this);">{{ 'socialshopwave.log_in' | t }}</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  if(typeof sswJqLoadedLoginInterval === 'undefined'){
    var sswJqLoadedLoginInterval = setInterval(function () {
      if (typeof sswJqLoaded != 'undefined' && sswJqLoaded) {
        clearInterval(sswJqLoadedLoginInterval);
        ssw(document).on('click', '.ssw-fbconnect', function(){
          onSubmitForm();
          {% capture ssw_fb_setting %}{% include 'ssw-fb-setting' %}{% endcapture %}
          {% unless ssw_fb_setting contains 'Liquid error' %}
          {{ ssw_fb_setting }}
          {% endunless %}
        });
        var gplusData = {};
        var gplusClicked = false;
        ssw(document).on('click', '.ssw-gconnect', function(){
          onSubmitForm();
          {% capture ssw_gplus_setting %}{% include 'ssw-gplus-setting' %}{% endcapture %}
          {% unless ssw_gplus_setting contains 'Liquid error' %}
          {{ ssw_gplus_setting }}
          {% endunless %}
        });
      }
    }, 300);
  }
</script>
{% endunless %}
