<script>
  // Instant run code
  (function () {
    var cb = function(e) {
      var options =
        {% if shop.customer_accounts_enabled and customer %}
      {
        customer: {
          id: {{ customer.id }},
          first_name: '{{ customer.first_name | replace: "'", "\\'" }}'
        }
      };
      {% else %}
      {
        money_format: '{{ shop.money_format | replace: "'", "\\'" }}'
      };
      {% endif %}
      Ssw.Fave.init(options);
    };
    if(window.Ssw && Ssw.Fave) {
      cb();
    } else {
      window.addEventListener('sswfavejsloaded', cb);
    }
  })();
</script>
<div id="ssw-fave-list-widget" class="ssw-fave-list-hide {% if shop.customer_accounts_enabled and customer %}ssw-customer-logged-in{% endif %}" style="display:none;">
  <div id="ssw-fave-drag-image"></div>
  <div id="ssw-fave-side-backdrop" class="ssw-fave-action">
    <div id="ssw-fave-remove">
      <div id="ssw-fave-remove-button">
        <span id="ssw-fave-remove-icon">&times;</span>
        <br>
        {{ ssw_translate_drop_remove_fave }}
      </div>
    </div>
  </div>
  <div id="ssw-fave-side-button-wrapper">
    <div id="ssw-fave-side-button" class="ssw-fave-action" data-event="click" data-action="toggleWidget">
      <div class="ssw-fave-caption"><i class="ssw-icon-heart"></i> <span>{{ ssw_translate_Faves }}</span></div>
    </div>
  </div>
  <div id="ssw-fave-side-bar">
    <div id="ssw-fave-side-bar-header">
      <div class="ssw-h3">{{ ssw_translate_Faves }} <span id="ssw-fave-item-count"> <i class="ssw-icon-heart"></i> <span></span></span></div>
      {% if shop.customer_accounts_enabled and customer %}
        <div class="ssw-faves-share-bar ssw-hide">
        <span class="share-faves">
          <a data-type="Email" class="ssw-share-faves _2email" href="javascript://">
            <i class="ssw-icon-message"></i>
          </a>
          <a data-type="Facebook" href="javascript:void(0)" class="ssw-share-faves _2facebook">
            <i class="ssw-icon-facebook"></i>
          </a>
          <a data-type="Twitter" href="javascript:void(0)" class="ssw-share-faves _2twitter" data-href="" data-text="{{ ssw_translate_check_my_faves }}">
            <i class="ssw-icon-twitter"></i>
          </a>
          <a data-type="Pinterest" href="javascript:void(0);" data-href="" data-title="{{ 'socialshopwave.my_faves' | t }}" class="pinterest_btn ssw-share-faves _2pinterest">
            <i class="ssw-icon-pinterest"></i>
          </a>
        </span>
        </div>
      {% endif %}
    </div>
    <form id="ssw-fave-lists" onsubmit="return false">
      <div id="ssw-fave-create-list" class="ssw-fave-list ssw-fave-action" data-event="click" data-action="createList"
           draggable="true" data-text-dragenter="{{ ssw_translate_drop_to_add }}"  data-text-dragleave="{{ ssw_translate_add_new_favelist }}">
        <i class="ssw-icon-plus"></i><span>{{ ssw_translate_add_new_favelist }}</span>
      </div>
      <div id="ssw-fave-lists-wrapper">
        <div id="ssw-fave-list-0" class="ssw-fave-list ssw-fave-empty-list" style="display: none">
          <div class="ssw-fave-list-header">
            <i class="ssw-icon-up-open-big ssw-fave-header-button ssw-fave-action" data-event="click"
               data-action="collapseList"></i>
            <input class="ssw-fave-list-title" type="text" name="list_title_default" data-event="blur" data-action="editList" data-id="0"
                   placeholder="{{ ssw_translate_favelist_title_placeholder }}"
                   value="{{ ssw_translate_favelist_default }}"/>
            <i class="ssw-icon-dot-3 ssw-fave-header-button ssw-fave-action" data-event="click" data-action="collapseOptions"></i>
            <i class="ssw-icon-pen ssw-fave-header-button ssw-fave-action ssw-hide" data-event="click" data-action="focusList"></i>
          </div>
          <div class="ssw-fave-options ssw-hide">
            <span class="ssw-fave-action ssw-fave-action-remove" data-event="click" data-action="removeList">
              <i class="ssw-icon-times"></i>
            </span>
            <span class="ssw-fave-action ssw-fave-action-edit" data-event="click" data-action="focusList">
              <i class="ssw-icon-pen"></i>
            </span>
            <span class="ssw-fave-action ssw-fave-action-share" data-event="click" data-action="showShareListButtons">
              <i class="ssw-icon-share"></i>
            </span>
          </div>
          {% if shop.customer_accounts_enabled and customer %}
            <div class="ssw-faves-share-bar ssw-hide">
            <span class="share-faves">
              <a data-type="Email" class="ssw-share-faves _2email" href="javascript://">
                <i class="ssw-icon-message"></i>
              </a>
              <a data-type="Facebook" href="javascript:void(0)" class="ssw-share-faves _2facebook">
                <i class="ssw-icon-facebook"></i>
              </a>
              <a data-type="Twitter" href="javascript:void(0)" class="ssw-share-faves _2twitter" data-href="" data-text="{{ ssw_translate_check_my_faves }}">
                <i class="ssw-icon-twitter"></i>
              </a>
              <a data-type="Pinterest" href="javascript:void(0);" data-href="" data-title="{{ 'socialshopwave.my_faves' | t }}" class="pinterest_btn ssw-share-faves _2pinterest">
                <i class="ssw-icon-pinterest"></i>
              </a>
              <a href="javascript:void(0);" class="ssw-fave-action ssw-fave-action-share" data-event="click" data-action="hideShareListButtons">
                <i class="ssw-icon-share"></i>
              </a>
            </span>
            </div>
          {% endif %}
          <div class="ssw-fave-list-container" data-text-dragleave="{{ ssw_translate_fave_empty_board }}" draggable="true"
               data-text-dragenter="{{ ssw_translate_drop_to_add }}"></div>
        </div>
      </div>
    </form>
  </div>
  <div id="ssw-fave-templates">
    <div class="ssw-fave-list-header">
      <i class="ssw-icon-up-open-big ssw-fave-header-button ssw-fave-action" data-event="click"
         data-action="collapseList"></i>
      <input class="ssw-fave-list-title" type="text" name="list_title[]"
             placeholder="{{ ssw_translate_untitled_favelist }}"
             data-event="blur" data-action="editList" value=""/>
      <input type="hidden" name="list_id[]" value=""/>
      <i class="ssw-icon-dot-3 ssw-fave-header-button ssw-fave-action" data-event="click" data-action="collapseOptions"></i>
      <i class="ssw-icon-pen ssw-fave-header-button ssw-fave-action ssw-hide" data-event="click" data-action="focusList"></i>
    </div>
    <div class="ssw-fave-item" draggable="true">
      <a href="" class="ssw-fave-product-avatar ssw-product-link" draggable="false"></a>
      <div class="ssw-fave-product-info">
        <a href="" class="ssw-fave-product-title ssw-product-link" draggable="false"></a>
        <span class="ssw-fave-product-price"></span>
      </div>
      <div class="ssw-fave-product-actions">
        <a href="" class="ssw-fave-add-to-cart">{{ 'socialshopwave.add_to_cart' | t }}</a>
        <a  data-toggle="ssw-modal" data-target="#fave-variants-modal" href="javascript:void(0);" class="ssw-fave-variant-edit" style="display: none">{{ 'socialshopwave.fave_edit_variant' | t }}</a>
        <a  data-toggle="ssw-modal" data-target="#fave-variants-modal" href="javascript:void(0);" class="ssw-fave-variant-choose" style="display: none">{{ 'socialshopwave.fave_choose_variant' | t }}</a>
      </div>
      <input type="hidden" name="product_id[]" value=""/>
    </div>
    <div class="ssw-fave-list ssw-fave-empty-list">
      <div class="ssw-fave-options ssw-hide">
        <span class="ssw-fave-action ssw-fave-action-remove" data-event="click" data-action="removeList">
          <i class="ssw-icon-times"></i>
        </span>
        <span class="ssw-fave-action ssw-fave-action-edit" data-event="click" data-action="focusList">
          <i class="ssw-icon-pen"></i>
        </span>
        <span class="ssw-fave-action ssw-fave-action-share" data-event="click" data-action="showShareListButtons">
          <i class="ssw-icon-share"></i>
        </span>
      </div>
      {% if shop.customer_accounts_enabled and customer %}
        <div class="ssw-faves-share-bar ssw-hide">
        <span class="share-faves">
          <a data-type="Email" class="ssw-share-faves _2email" href="javascript://">
            <i class="ssw-icon-message"></i>
          </a>
          <a data-type="Facebook" href="javascript:void(0)" class="ssw-share-faves _2facebook">
            <i class="ssw-icon-facebook"></i>
          </a>
          <a data-type="Twitter" href="javascript:void(0)" class="ssw-share-faves _2twitter" data-href="" data-text="{{ ssw_translate_check_my_faves }}">
            <i class="ssw-icon-twitter"></i>
          </a>
          <a data-type="Pinterest" href="javascript:void(0);" data-href="" data-title="{{ 'socialshopwave.my_faves' | t }}" class="pinterest_btn ssw-share-faves _2pinterest">
            <i class="ssw-icon-pinterest"></i>
          </a>
          <a href="javascript:void(0);" class="ssw-fave-action ssw-fave-action-share" data-event="click" data-action="hideShareListButtons">
            <i class="ssw-icon-share"></i>
          </a>
        </span>
        </div>
      {% endif %}
      <div class="ssw-fave-list-container" data-text-dragleave="{{ ssw_translate_fave_empty_board }}" draggable="true"
           data-text-dragenter="{{ ssw_translate_drop_to_add }}">
      </div>
    </div>
  </div>
</div>
{% if shop.customer_accounts_enabled and customer %}
  <div role="ssw-modal" aria-hidden="true" class="ssw-modal ssw-hide ssw-fade" id="share-fave-2fb-modal">
    <div class="ssw-modal-dialog">
      <div class="ssw-modal-content">
        <div class="ssw-modal-body">
          <button aria-hidden="true" data-dismiss="ssw-modal" class="ssw-close" type="button">&times;</button>
          <h2>{{ ssw_translate_share_your_faves_to_fb }}</h2>
          <p>
            <textarea placeholder="{{ ssw_translate_say_something_about_this }}" class="ssw-input-block-level" id="sswsharefbfaves_note"></textarea>
          </p>
          <div class="ssw-fb-share-preview">
            <img title="" alt="" class="ssw-product-image" src="">
            <div>
              <b class="ssw-fb-share-user-faves"></b>
              <p class="ssw-fb-share-user-faves-list"></p>
            </div>
            <br clear="all">
          </div>
          <br>
          <div class="text-right">
            <input type="submit" class="btn button ssw-share-faves-btn" id="sswsharetofb_faves" value="{{ 'socialshopwave.share' | t }}">&nbsp;&nbsp;or&nbsp;&nbsp;
            <a aria-hidden="true" data-dismiss="ssw-modal" href="javascript://">{{ 'socialshopwave.cancel' | t }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="ssw-modal" aria-hidden="true" class="ssw-modal ssw-hide ssw-fade" id="share-faves-modal">
    <div class="ssw-modal-dialog">
      <div class="ssw-modal-content">
        <div class="ssw-modal-body">
          <button aria-hidden="true" data-dismiss="ssw-modal" class="ssw-close" type="button">&times;</button>
          <form class="form">
            <div class="control-group">
              <div class="ssw-h3">{{ ssw_translate_share_this_with_your_friends }}:</div>
            </div>
            <div id="favesshare_alert"></div>
            <div class="ssw-control-group">
              {{ ssw_translate_url }}: <i class="ssw-icon-link"></i>
              <span class="ssw-sharer-href"></span>
            </div>
            <div class="ssw-control-group">
              <textarea placeholder="{{ ssw_translate_type_your_message_here }}" rows="2" class="ssw-input-block-level" id="sharefaves_note" ></textarea>
            </div>
            <div class="ssw-control-group">
              <label class="control-label">{{ ssw_translate_your_email_addresses }}:</label>
              <textarea placeholder="myfriend@mail.com" rows="2" class="ssw-input-block-level" id="sharefaves_emails"></textarea>
            </div>
            <br>
            <input type="hidden" name="list_id" value="0">
            <input type="submit" class="btn button ssw-pull-right ssw-share-faves-btn" id="favesshare_button" value="{{ 'socialshopwave.share' | t }}" data-pending="0" data-text="{{ 'socialshopwave.share' | t }}" data-text-loading="{{ 'socialshopwave.sharing' | t }}">
          </form>
          <div class="ssw-clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<div role="ssw-modal" aria-hidden="true" class="ssw-modal ssw-hide ssw-fade ssw-add-to-cart-dialog" id="fave-variants-modal">
  <div class="ssw-modal-dialog">
    <div class="ssw-modal-content">
      <div class="ssw-modal-body">
        <button aria-hidden="true" data-dismiss="ssw-modal" class="ssw-close" type="button">&times;</button>
        <div class="product-variants-modal-loader ssw-loading" style="position: absolute;display: none;width: 0;height: 0;left: 50%;top: 50%;">
          <span class="ssw-spin ssw-loader" style="margin-left: -14px;margin-top: -14px;"></span>
        </div>
        <form class="ssw-variant-options">
          <div class="ssw-product-variant-col">
            <img src="" class="ssw-variant-image" onload="this.removeAttribute('style')">
          </div>
          <div class="ssw-product-variant-col ssw-product-variant-col-form">
            <h3 class="ssw-product-variant-choose-option-text">Choose Options</h3>
            <div class="ssw-product-variant-select-alert ssw-alert ssw-alert-warning" style="display:none;">{{ ssw_translate_fave_variant_all_options_select_alert }}</div>
            <div class="ssw-variant-option-template ssw-variant-option" style="display: none">
              <p class="ssw-variant-option-title"></p>
              <div class="ssw-variant-option-value" style="display: none">
                <input type="radio">
                <label></label>
              </div>
            </div>
            <input class="ssw-product-variant-id" type="hidden" name="variant_id">
            <div class="ssw-product-variant-cart-error ssw-alert ssw-alert-danger" style="display:none;"></div>
          </div>
        </form>
        <div class="ssw-clearfix"></div>
      </div>
      <div class="ssw-modal-footer">
        <span class="ssw-product-cart-wrapper">
          <span class="ssw-product-variant-price"><span></span></span>
          <a class="ssw-product-variant-add-to-cart btn button" href="javascript:void(0)">
            <span class="ssw-product-cart-add"><i class="ssw-icon-cart"></i> {{ 'socialshopwave.add_to_cart' | t }}</span>
            <span class="ssw-product-cart-added" style="display:none"><i class="ssw-icon-check"></i> {{ ssw_translate_fave_variant_added_to_cart }}</span>
            <span class="ssw-product-cart-adding" style="display:none"><i class="ssw-icon-spin ssw-spin"></i> {{ ssw_translate_fave_variant_adding_to_cart }}</span>
            <span class="ssw-product-cart-unavailable">{{ ssw_translate_unavailable }}</span>
          </a>
        </span>
        <h3 class="ssw-product-variants-title"></h3>
      </div>
    </div>
  </div>
</div>