<div role="modal" class="ssw-modal ssw-fade" id="fb_share_setting_modal" aria-hidden="true">
  <div class="ssw-modal-dialog">
    <div class="ssw-modal-content">
      <div class="ssw-modal-body">
        <button class="ssw-close" aria-hidden="true" data-dismiss="ssw-modal" type="button">×</button>
        <div class="ssw-h3">{{ ssw_translate_share_to_facebook }}</div>
        <p id="fb_share_body_text"></p>

        <div class="control-group">
          <div class="pull-left"></div>
          <div class="controls">
            <input type="hidden" id="fb_share_product_id" value=""/>
            <input type="hidden" id="fb_share_action" value=""/>
            <input type="hidden" id="fb_share_message" value=""/>
            <input type="hidden" id="fb_share_caption" value=""/>

            <div class="ssw-thumb">
              <img id="fb_share_img" class="img-rounded" src="">
            </div>
            <span style="line-height: 48px;"
                  class="ssw-snconnected">{{ ssw_translate_you_are_connected_as_fb_name_html }}</span>
          </div>
        </div>
        <p>
          <label style="margin-top: 20px" class="checkbox"><input id="fb_share_remember" type="checkbox"
                                                                  checked="checked"> {{ ssw_translate_remember_my_choice_and_do_not_ask_anymore }}
          </label>
        </p>

        <p>
          <small>{{ ssw_translate_can_change_sharing_setting_here_html }}</small>
        </p>
        <div class="text-right">
          <button id="fb_share_btn_yes" class="btn">{{ ssw_translate_yes_share }}</button>
          &nbsp;&nbsp;{{ ssw_translate_or }}&nbsp;&nbsp;
          <a id="fb_share_btn_not" href="javascript://">{{ ssw_translate_no_do_not_share }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ssw-share-toolbar-wrapper" style="display: none;">
  <div class="ssw-share-toolbar" onclick="toggleDiscountPopup()">
    <div class="ssw-share-toolbar-caption">
      <span class="ssw-toolbar-text"></span>
    </div>
  </div>
</div>
<script type="text/javascript">
  function targetFbShareSetting(action, id, name, product_id, message, caption) {
    ssw('#fb_share_img').attr('src', 'http://graph.facebook.com/' + id + '/picture');
    ssw('#fb_share_message').val(message);
    ssw('#fb_share_caption').val(caption);
    ssw('#fb_share_body_text').html(sswLangs.t('permission_share_to_facebook', [action]));
    ssw('#fb_share_action').val(action);
    ssw('#fb_share_product_id').val(product_id);
    ssw('#fb_share_name').html(name).attr('href', 'http://www.facebook.com/' + id);
    ssw('#fb_share_setting_modal').sswModal();
  }
  if (typeof sswSharingInterval == 'undefined') {
    var sswSharingInterval = setInterval(function () {
      if (typeof sswJqLoaded != 'undefined' && sswJqLoaded) {
        clearInterval(sswSharingInterval);
        ssw('#fb_share_btn_yes').click(function () {
          ssw.ajax({
            url: sswProxyUrl + '/lite2/service/index/saveFbSetting', type: 'POST',
            data: {
              'hash_key': ssw.cookie('hash_key'),
              '_sid': ssw.cookie('hesid'),
              caption: ssw('#fb_share_caption').val(),
              message: ssw('#fb_share_message').val(),
              'action': ssw('#fb_share_action').val(),
              remember_me: ssw('#fb_share_remember:checked').val(),
              'value': 1,
              'product': ssw('#fb_share_product_id').val()
            },
            success: function (response) {
              ssw('#fb_share_setting_modal').sswModal('hide');
            },
            dataType: 'json'
          })
        });
        ssw('#fb_share_btn_not').click(function () {
          ssw.ajax({
            url: sswProxyUrl + '/lite2/service/index/saveFbSetting',
            type: 'POST',
            data: {
              '_sid': ssw.cookie('hesid'),
              'action': ssw('#fb_share_action').val(),
              'value': 0,
              remember_me: ssw('#fb_share_remember:checked').val(),
              'product': ssw('#fb_share_product_id').val()
            },
            success: function (response) {
              ssw('#fb_share_setting_modal').sswModal('hide');
            },
            dataType: 'json'
          })
        });
      }
    }, 300)
  }
</script>
