{% capture ssw_login_helper %}{% include 'ssw-login-helper' %}{% endcapture %}
{% unless ssw_login_helper contains 'Liquid error' %}
	{{ ssw_login_helper }}
{% endunless %}
{% capture ssw_fave_helper %}{% include 'ssw-fave-helper' %}{% endcapture %}
{% unless ssw_fave_helper contains 'Liquid error' %}
	{{ ssw_fave_helper }}
{% endunless %}