<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">

            <h3 class="page-title">My Account</h3>

            {% assign name = customer.name | strip %}
            <p><strong>Well hello there{% if name.size > 0 %}, {{ name }}{% endif %}!</strong></p>

            {% if settings.customer_account_body %}
                <p>{{ settings.customer_account_body }}</p>
            {% endif %}
        </div>
    </div>

    <div class="spacer-sm"></div>

    <div class="row">
        <div class="col-sm-8">

            <h4>Orders</h4>
            <div class="spacer-xs"></div>

            {% paginate customer.orders by 10 %}

            {% if customer.orders.size != 0 %}

                <div class="table table--full-width table--responsive">
                    <table>
                        <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Payment Status</th>
                            <th>Fulfillment Status</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in customer.orders %}
                            <tr>
                                <td data-label="Order">{{ order.name | link_to: order.customer_url }}</td>
                                <td data-label="Date">{{ order.created_at | date: '%e/%m/%Y' }}</td>
                                <td data-label="Payment Status">{{ order.financial_status_label }}</td>
                                <td data-label="Fulfillment Status">{{ order.fulfillment_status_label }}</td>
                                <td data-label="Total">{{ order.total_price | money }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% else %}

                <p>You haven't placed any orders yet</p>

            {% endif %}

            {% include 'pagination' %}
            {% endpaginate %}
        </div>

        <div class="col-sm-4">

            {% if customer.name %}
                <h4>{{ customer.name }}</h4>
            {% endif %}

            {% if customer.default_address != nil %}
                <p>
                    {{ customer.default_address.address1 }}<br>

                    {% if customer.default_address.address2 != "" %}
                        {{ customer.default_address.address2 }}<br>
                    {% endif %}

                    {% if customer.default_address.city != "" %}
                        {{ customer.default_address.city }}<br>
                    {% endif %}

                    {% if customer.default_address.province_code != "" %}
                        {{ customer.default_address.province_code | upcase }}<br>
                    {% endif %}

                    {% if customer.default_address.zip != "" %}
                        {{ customer.default_address.zip | upcase }}<br>
                    {% endif %}

                    {% if customer.default_address.country != "" %}
                        {{ customer.default_address.country }}<br>
                    {% endif %}

                    {% if customer.default_address.phone != "" %}
                        {{ customer.default_address.phone }}
                    {% endif %}
                </p>

            {% endif %}

            <a href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>
        </div>
    </div>
</div>

<div class="spacer-lg"></div>

{% include 'cross-promotion-2' %}