<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <h3 class="page-title">Activate Account</h3>

            <p class="text-center">Create your password to activate your account</p>

            <div class="spacer-sm"></div>

            {% form 'activate_customer_password' %}
            <div class="form">
                {{ form.errors | default_errors }}

                <div class="form__group">
                    <label for="CustomerPassword">Password</label>
                    <input type="password" value="" name="customer[password]" id="CustomerPassword">
                </div>

                <div class="form__group">
                    <label for="CustomerPasswordConfirmation">Password Confirmation</label>
                    <input type="password" value="" name="customer[password_confirmation]"
                           id="CustomerPasswordConfirmation">
                </div>

                <div class="spacer-sm"></div>

                <div class="text-center">
                    <button class="button button--black button--block" type="submit">Activate Account</button>
                    <div class="spacer-xs"></div>
                    or
                    <div class="spacer-xs"></div>
                    <button class="button button--outline-black button--small" type="submit">Decline Invitation</button>
                </div>
            </div>
            {% endform %}
        </div>
    </div>
</div>