<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Addresses</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <a href="/account" class="button button--black"><i class="icon icon-arrow-left"></i> Account</a>

            <div class="spacer-sm"></div>

          {% paginate customer.addresses by 3 %}

            {% for address in customer.addresses %}

                <h4>
                  {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
                  {% if address == customer.default_address %}(Default){% endif %}
                </h4>

                <p>
                  {% if address.company != blank %} {{ address.company }}<br> {% endif %}
                  {{ address.street }}<br>
                  {{ address.city | capitalize }}<br>
                  {% if address.province_code %}
                    {{ address.province_code | upcase }}<br>
                  {% endif %}
                  {{ address.zip | upcase }}<br>
                  {{ address.country }}<br>
                  {{ address.phone }}
                </p>

                <p>
                  {{ 'Edit' | edit_customer_address_link: address.id }} |
                  {{ 'Delete' | delete_customer_address_link: address.id }}
                </p>

                <div id="EditAddress_{{ address.id }}" style="display:none;">
                    <div class="spacer-xs"></div>

                    <div class="form">

                      {% form 'customer_address', address %}

                        <h5>Edit Address</h5>

                        <div class="form__group">
                            <label for="AddressFirstName_{{ form.id }}">First Name</label>
                            <input type="text" id="AddressFirstName_{{ form.id }}"
                                   name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words" required>
                        </div>

                        <div class="form__group">
                            <label for="AddressLastName_{{ form.id }}">Last Name</label>
                            <input type="text" id="AddressLastName_{{ form.id }}"
                                   name="address[last_name]"
                                   value="{{ form.last_name }}" autocapitalize="words" required>
                        </div>

                        <div class="form__group">
                            <label for="AddressCompany_{{ form.id }}">Company</label>
                            <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]"
                                   value="{{ form.company }}" autocapitalize="words">
                        </div>

                        <div class="form__group">
                            <label for="AddressAddress1_{{ form.id }}">Address 1</label>
                            <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]"
                                   value="{{ form.address1 }}" autocapitalize="words" required>
                        </div>

                        <div class="form__group">
                            <label for="AddressAddress2_{{ form.id }}">Address 2</label>
                            <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]"
                                   value="{{ form.address2 }}" autocapitalize="words">
                        </div>

                        <div class="form__group">
                            <label for="AddressCity_{{ form.id }}">City</label>
                            <input type="text" id="AddressCity_{{ form.id }}" name="address[city]"
                                   value="{{ form.city }}" autocapitalize="words" required>
                        </div>

                        <div class="form__group">
                            <label for="AddressCountry_{{ form.id }}">Country</label>
                            <select id="AddressCountry_{{ form.id }}" name="address[country]"
                                    data-default="{{ form.country }}">{{ country_option_tags }}</select>
                        </div>

                        <div class="form__group" id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                            <label for="AddressProvince_{{ form.id }}">State</label>
                            <select id="AddressProvince_{{ form.id }}" name="address[province]"
                                    data-default="{{ form.province }}"></select>
                        </div>

                        <div class="form__group">
                            <label for="AddressZip_{{ form.id }}">Postcode</label>
                            <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]"
                                   value="{{ form.zip }}" autocapitalize="characters" required>
                        </div>

                        <div class="form__group">
                            <label for="AddressPhone_{{ form.id }}">Phone</label>
                            <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]"
                                   value="{{ form.phone }}">
                        </div>


                        <div class="form__group">
                            <p>
                              {{ form.set_as_default_checkbox }}
                                <label for="address_default_address_{{ form.id }}">Set as default address</label>
                            </p>
                        </div>


                        <button class="button button--black" type="submit">Update address</button>
                        <button class="button button--grey" type="reset"
                                onclick="Shopify.CustomerAddress.toggleForm({{ form.id }});">
                            Cancel
                        </button>

                    </div>
                  {% endform %}
                </div>

                <div class="divider"></div>
            {% endfor %}

            {% include 'pagination' %}
          {% endpaginate %}
        </div>

        <div class="col-sm-5">
            <a href="#" class="button button--grey"
               onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Add a new address</a>

            <div class="spacer-sm"></div>

          {% form 'customer_address', customer.new_address %}
            <div id="AddAddress"{% unless form.errors %} style="display: none;"{% endunless %}>
                <div class="form">

                  {{ form.errors | default_errors }}

                    <div class="form__group">
                        <label for="AddressFirstNameNew">First Name</label>
                        <input type="text" id="AddressFirstNameNew" name="address[first_name]"
                               value="{{ form.first_name }}" autocapitalize="words" required>
                    </div>

                    <div class="form__group">
                        <label for="AddressLastNameNew">Last Name</label>
                        <input type="text" id="AddressLastNameNew" name="address[last_name]"
                               value="{{ form.last_name }}" autocapitalize="words" required>
                    </div>


                    <div class="form__group">
                        <label for="AddressCompanyNew">Company</label>
                        <input type="text" id="AddressCompanyNew" name="address[company]"
                               value="{{ form.company }}" autocapitalize="words">
                    </div>

                    <div class="form__group">
                        <label for="AddressAddress1New">Address 1</label>
                        <input type="text" id="AddressAddress1New" name="address[address1]"
                               value="{{ form.address1 }}" autocapitalize="words" required>
                    </div>

                    <div class="form__group">
                        <label for="AddressAddress2New">Address 2</label>
                        <input type="text" id="AddressAddress2New" name="address[address2]"
                               value="{{ form.address2 }}" autocapitalize="words">
                    </div>

                    <div class="form__group">
                        <label for="AddressCityNew">City</label>
                        <input type="text" id="AddressCityNew" name="address[city]"
                               value="{{ form.city }}"
                               autocapitalize="words" required>
                    </div>

                    <div class="form__group">
                        <label for="AddressCountryNew">Country</label>
                        <select id="AddressCountryNew" name="address[country]"
                                data-default="{{ form.country }}">{{ country_option_tags }}</select>
                    </div>

                    <div class="form__group" id="AddressProvinceContainerNew" style="display:none">
                        <label for="AddressProvinceNew">State</label>
                        <select id="AddressProvinceNew" name="address[province]"
                                data-default="{{ form.province }}"></select>
                    </div>

                    <div class="form__group">
                        <label for="AddressZipNew">Postcode</label>
                        <input type="text" id="AddressZipNew" name="address[zip]"
                               value="{{ form.zip }}"
                               autocapitalize="characters" required>
                    </div>

                    <div class="form__group">
                        <label for="AddressPhoneNew">Phone</label>
                        <input type="tel" id="AddressPhoneNew" name="address[phone]"
                               value="{{ form.phone }}">
                    </div>


                    <div class="form__group">
                        <p>
                          {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_new">Set as default address</label>
                        </p>
                    </div>

                    <button class="button button--black" type="submit">Add address</button>
                    <button class="button button--grey" type="reset"
                            onclick="Shopify.CustomerAddress.toggleNewForm();">
                        Cancel
                    </button>

                </div>
              {% endform %}
            </div>
        </div>
    </div>
</div>

<script>
    // Initialize observers on address selectors
    new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
        hideElement: 'AddressProvinceContainerNew'
    });

    // Setup province selector on each customer address
    {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
                hideElement: 'AddressProvinceContainer_{{ address.id }}'
            }
    );
    {% endfor %}

    // Modified contents of customer_area.js (global asset)
    Shopify.CustomerAddress = {
        toggleForm: function (id) {
            var editEl = document.getElementById('EditAddress_' + id);
            editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
            return false;
        },

        toggleNewForm: function () {
            var el = document.getElementById('AddAddress');
            el.style.display = el.style.display == 'none' ? '' : 'none';
            return false;
        },

        destroy: function (id, confirm_msg) {
            if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
                Shopify.postLink('/account/addresses/' + id, {'parameters': {'_method': 'delete'}});
            }
        }
    }
</script>