<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">


            {% unless settings.customer_login_heading == blank %}
            <h3 class="page-title">{{ settings.customer_login_heading | escape }}</h3>
            {% endunless %}

            {% unless settings.customer_login_body == blank %}
            <p class="text-center">{{ settings.customer_login_body | escape }}</p>
            {% endunless %}

            <div class="spacer-xs"></div>

            <div class="note form-success" id="ResetSuccess" style="display:none;">
                {{ 'customer.recover_password.success' | t }}
            </div>

            {% form 'customer_login' %}
            <div class="form">
                {{ form.errors | default_errors }}

                <div class="form__group">
                    <label for="CustomerEmail">Email</label>
                    <input type="email" name="customer[email]" id="CustomerEmail"
                            {% if form.errors contains "email" %} class="error"{% endif %}
                           autocorrect="off" autocapitalize="off" autofocus>
                </div>

                {% if form.password_needed %}
                    <div class="form__group">
                        <label for="CustomerPassword">Password</label>
                        <input type="password" value="" name="customer[password]" id="CustomerPassword"
                                {% if form.errors contains "password" %} class="error"{% endif %}>
                    </div>
                {% endif %}

                <button class="button button--black button--block" type="submit">Get Wrapping</button>

                <div class="text-center">
                    <div class="spacer-xs"></div>
                    <a href="#recover" id="RecoverPassword">Forgot your password?</a>
                </div>
            </div>
            {% endform %}

            {% comment %}
            JS shows/hides this form in timber.loginForms()
            {% endcomment %}
            <div id="RecoverPasswordForm" style="display: none;">

                <h3 class="page-title">Reset your password</h3>
                <p class="text-center">We'll send you an email to reset your password.</p>

                {% form 'recover_customer_password' %}
                <div class="form">
                    {{ form.errors | default_errors }}

                    {% comment %}
                    Assign variable to be used after timber.init() is run in theme.liquid
                    {% endcomment %}
                    {% if form.posted_successfully? %}
                        {% assign resetPassword = true %}
                    {% endif %}

                    <div class="form__group">
                        <label for="RecoverEmail">Email</label>
                        <input type="email" value="" name="email" id="RecoverEmail" placeholder="Email"
                               autocorrect="off" autocapitalize="off">
                    </div>

                    <button class="button button--black" type="submit">Submit</button>
                    <button class="button button--grey" id="HideRecoverPasswordLink" type="reset">Cancel</button>
                </div>
                {% endform %}

            </div>

            <div class="divider"></div>

            {% unless settings.customer_login_registration_heading == blank %}
            <h3 class="page-title">{{ settings.customer_login_registration_heading | escape }}</h3>
            {% endunless %}

            {% unless settings.customer_login_registration_body == blank %}
            <p class="text-center">{{ settings.customer_login_registration_body | escape }}</p>
            {% endunless %}

            <div class="spacer-xs"></div>
            <a class="button button--black button--block" href="/account/register">Create Account</a>


            {% if shop.checkout.guest_login %}
                {% form 'guest_login' %}
                <div class="spacer-sm"></div>
                <button class="button button--black button--block" type="submit">Continue as Guest</button>
                {% endform %}
            {% endif %}


            <div class="divider"></div>
            {% include 'cross-promotion-sellers' %}
        </div>
    </div>
</div>

{% comment %}
<!-- /templates/customers/login.liquid -->
<div class="wrapper">

    <div class="grid page-margin">

        <div class="grid__item large--one-third push--large--one-third text-center">

            {% comment %}
            If a user has successfully requested a new password, the form.posted_successfully? variable
            is set to true within the 'recover_customer_password' form only. Within that form you'll see
            the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
            {% endcomment %}
            <div class="note form-success" id="ResetSuccess" style="display:none;">
                {{ 'customer.recover_password.success' | t }}
            </div>

            <div id="CustomerLoginForm">
                {% form 'customer_login' %}

                <h3>{{ 'customer.login.title' | t }}</h3>

                {{ form.errors | default_errors }}

                <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
                <input type="email" name="customer[email]" id="CustomerEmail"
                       placeholder="{{ 'customer.login.email' | t }}"{% if form.errors contains "email" %} class="error"{% endif %}
                       autocorrect="off" autocapitalize="off" autofocus>

                {% if form.password_needed %}

                    <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
                    <input type="password" value="" name="customer[password]" id="CustomerPassword"
                           placeholder="{{ 'customer.login.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>

                {% endif %}

                <p>
                    <input type="submit" class="btn btn--full" value="{{ 'customer.login.sign_in' | t }}">
                </p>
                <p>
                    {{ 'layout.customer.create_account' | t | customer_register_link }}
                    <span>&#x2022</span>
                    <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
                </p>
                {% endform %}
            </div>

            {% comment %}
            JS shows/hides this form in timber.loginForms()
            {% endcomment %}
            <div id="RecoverPasswordForm" style="display: none;">

                <h3>{{ 'customer.recover_password.title' | t }}</h3>
                <p>{{ 'customer.recover_password.subtext' | t }}</p>

                {% form 'recover_customer_password' %}

                {{ form.errors | default_errors }}

                {% comment %}
                Assign variable to be used after timber.init() is run in theme.liquid
                {% endcomment %}
                {% if form.posted_successfully? %}
                    {% assign resetPassword = true %}
                {% endif %}

                <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
                <input type="email" value="" name="email" id="RecoverEmail"
                       placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

                <p>
                    <input type="submit" class="btn btn--full" value="{{ 'customer.recover_password.submit' | t }}">
                </p>
                <button type="button" id="HideRecoverPasswordLink"
                        class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
                {% endform %}

            </div>

            {% comment %}
            If accounts are set as optional, the following will be shown as an option
            during checkout, not on the default /login page.
            {% endcomment %}
            {% if shop.checkout.guest_login %}
                <hr>

                <h3>{{ 'customer.login.guest_title' | t }}</h3>

                {% form 'guest_login' %}
                <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
                {% endform %}
            {% endif %}
        </div>

    </div>

</div>
{% endcomment %}
