<div class="container">
    <div class="row">

        <div class="col-sm-12">

            <h3 class="page-title">My Account</h3>

            <a href="/account" class="button button--black"><i class="icon icon-arrow-left"></i> Account</a>

            <div class="divider"></div>

            <h4>
                Order {{ order.name }}<br>
                <small>{{ order.created_at | date: "%d %B %Y %I:%M%p" }}</small>
            </h4>

            {% if order.cancelled %}
                <div class="spacer-sm"></div>
                <div class="errors">
                    <h5>Order cancelled on {{ order.cancelled_at | date: "%d %B %Y %I:%M%p" }}</h5>
                    <p>Reason: {{ order.cancel_reason }}</p>
                </div>
            {% endif %}

            <div class="spacer-sm"></div>

            <div class="table table--full-width table--responsive">
                <table>
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>SKU</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for line_item in order.line_items %}
                        <tr id="{{ line_item.id }}"
                            style="{% include 'product-customizer-helper' with 'hide-pricing-item-row', item: line_item %}">
                            <td>
                                {{ line_item.title | link_to: line_item.product.url }}
                                {% include 'product-customizer-helper' item: line_item %}
                                {% if line_item.fulfillment %}
                                    <div class="note">
                                        {% assign created_at = line_item.fulfillment.created_at | date: '%e/%m/%Y' %}
                                        Fulfilled {{ created_at }}
                                        {% if line_item.fulfillment.tracking_number %}
                                            <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }}
                                                #{{ line_item.fulfillment.tracking_number }}</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </td>
                            <td>{{ line_item.sku }}</td>
                            {% capture item_price %}{% include 'product-customizer-helper' with 'item-price', item: line_item, items: order.line_items, raw: true %}{% endcapture %}
                            <td>{{ item_price | money_with_currency }}</td>
                            <td>{{ line_item.quantity }}</td>
                            <td>{{ line_item.quantity | times: item_price | money_with_currency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">Subtotal</td>
                        <td>{{ order.subtotal_price | money_with_currency }}</td>
                    </tr>

                    {% for discount in order.discounts %}
                        <tr class="order_summary discount">
                            <td colspan="4">{{ discount.code }} Discount</td>
                            <td>{{ discount.savings | money }}</td>
                        </tr>
                    {% endfor %}

                    {% for shipping_method in order.shipping_methods %}
                        <tr>
                            <td colspan="4">Shipping ({{ shipping_method.title }})</td>
                            <td>{{ shipping_method.price | money }}</td>
                        </tr>
                    {% endfor %}

                    {% for tax_line in order.tax_lines %}
                        <tr>
                            <td colspan="4">Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                            <td>{{ tax_line.price | money }}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="4"><strong>Total</strong></td>
                        <td><strong>{{ order.total_price | money_with_currency }}</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

    <div class="spacer-sm"></div>

    <div class="row">

        <div class="col-sm-6">
            <h4>Billing Address</h4>

            <p><strong>Payment Status:</strong> {{ order.financial_status_label }}</p>

            <div class="spacer-xs"></div>

            <h5>{{ order.billing_address.name }}</h5>

            <p>
                {% if order.billing_address.company | strip != '' %}
                    {{ order.billing_address.company }}<br>
                {% endif %}
                {{ order.billing_address.street }}<br>
                {{ order.billing_address.city }}<br>
                {% if order.billing_address.province != '' %}
                    {{ order.billing_address.province }}<br>
                {% endif %}
                {{ order.billing_address.zip | upcase }}<br>
                {{ order.billing_address.country }}<br>
                {{ order.billing_address.phone }}
            </p>
        </div>

        <div class="col-sm-6">
            <h4>Shipping Address</h4>

            <p><strong>Fulfillment Status:</strong> {{ order.fulfillment_status_label }}</p>

            <div class="spacer-xs"></div>

            <h5>{{ order.shipping_address.name }}</h5>
            <p>
                {% if order.shipping_address.company | strip != '' %}
                    {{ order.shipping_address.company }}<br>
                {% endif %}
                {{ order.shipping_address.street }}<br>
                {{ order.shipping_address.city }}<br>
                {% if order.shipping_address.province != '' %}
                    {{ order.shipping_address.province }}<br>
                {% endif %}
                {{ order.shipping_address.zip | upcase }}<br>
                {{ order.shipping_address.country }}<br>
                {{ order.shipping_address.phone }}
            </p>
        </div>

    </div>
</div>

<div class="spacer"></div>