<!-- /templates/customers/register.liquid -->
<div class="container">
  <div class="row">

    <div class="col-sm-6 col-sm-offset-3">

      {% unless settings.customer_registration_heading == blank %}
        <h3 class="page-title">{{ settings.customer_registration_heading | escape }}</h3>
      {% endunless %}

      {% unless settings.customer_registration_heading == blank %}
        <p class="text-center">{{ settings.customer_registration_body | escape }}</p>
      {% endunless %}

      <div class="spacer-xs"></div>

      {% form 'create_customer' %}
        <div class="form">
          {{ form.errors | default_errors }}

          <div class="form__group">
            <label for="FirstName">First Name</label>
            <input type="text" name="customer[first_name]" id="FirstName"
                   {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words"
                   autofocus>
          </div>

          <div class="form__group">
            <label for="LastName">Last Name</label>
            <input type="text" name="customer[last_name]" id="LastName"
                   {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
          </div>

          <div class="form__group form__group-confirmed">
            <label class="field-required" for="Email">Email</label>
            <input type="email" name="customer[email]" id="Email"
                {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %}
                   autocorrect="off" autocapitalize="off" placeholder="Enter email*" required>
            <label class="field-required" for="email-confirm">Confirm Email</label>
            <input type="email" value="" name="customer[email_check]" id="email-confirm" placeholder="Confirm email*"required>
            <span id= "confirm__email-error" class="confirm-error email-error">Please make sure emails match</span>
          </div>

          <div class="form__group form__group-confirmed">
            <label class="field-required" for="CreatePassword">Password</label>
            <input type="password" name="customer[password]" id="CreatePassword"
                {% if form.errors contains "password" %} class="error"{% endif %} placeholder="Add a password*" required>
            <label class="field-required" for="password-confirm">Confirm Password</label>
            <input type="password" value="" name="customer[password_confirmation]" id="password-confirm"
                   placeholder="Confirm password*" required>
            <span id= "confirm__password-error" class="confirm-error password-error">Please make sure passwords match</span>
          </div>

          <p>
            By clicking create account, you agree to Wrapped's 
            <a href="https://www.wrapped.com/pages/terms-conditions" target="_blank" rel="noopener">
              Terms
            </a>
             and 
            <a href="https://www.wrapped.com/pages/privacy" target="_blank" rel="noopener">
              Privacy Policy
            </a>
          </p>
            
          <button class="button button--black button--block" type="submit">Create Account</button>

          <p class="text-center">
            <a href="{{ shop.url }}"><i class="icon icon-angle-left"></i> Home</a>
          </p>
          <div class="spacer-sm"></div>
        </div>
      {% endform %}
    </div>

  </div>
</div>

<script type="text/javascript">
    var form = document.querySelector('form[id="create_customer"]');

    analytics.trackForm(form, "Signed Up", function (form) {
        var firstName = document.querySelector('input[name="customer[first_name]"]').value;
        var lastName = document.querySelector('input[name="customer[last_name]"]').value;
        var email = document.querySelector('input[name="customer[email]"]').value;

        return {
            first_name: firstName,
            last_name: lastName,
            email: email
        }
    });
    $('#email-confirm').next().hide();
    $('#password-confirm').next().hide();
    $('#Email').data("oldValue",'').bind('input propertychange', verifyInput);
    $('#email-confirm').data("oldValue",'').bind('input propertychange', verifyInput);
    $('#CreatePassword').data("oldValue",'').bind('input propertychange', verifyInput);
    $('#password-confirm').data("oldValue",'').bind('input propertychange', verifyInput);

    /**** TODO abstract confirmation function ****/
    function verifyInput() {
        let inputConfirm = $(this);
        let inputConfirmval = inputConfirm.val();
        let inputTwin = inputConfirm.siblings('input');
        let inputTwinval = inputTwin.val();
        let errorSpan = inputConfirm.nextAll('.confirm-error');
        if (inputConfirmval !== inputTwinval || inputConfirmval === '' || inputTwinval === '') {
            errorSpan.fadeIn('slow');
            inputConfirm.addClass("redInput");
            inputTwin.addClass("redInput");
            inputConfirm.closest('form').find('.button').prop('disabled', true);
        } else {
            errorSpan.fadeOut('slow');
            inputConfirm.removeClass("redInput");
            inputTwin.removeClass("redInput");
            inputConfirm.closest('form').find('.button').prop('disabled', false);
        }

    }
</script>


<!-- TO UNINSTALL SEGMENT FOR SHOPIFY, DELETE THE FOLLOWING AUTOGENERATED CODE: -->
<script type="text/javascript"> if (typeof upsellSegmentRegisterScript !== "undefined") {
        upsellSegmentRegisterScript();
    } else {
        console.warn("Notice for the store admin, follow the guide here: https://segment.upsell-apps.com/help/uninstall");
    } </script>
<!-- END AUTOGENERATED CODE -->

