<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            {% form 'reset_customer_password' %}
            <div class="form">

                <h3 class="page-title">Reset Password</h3>

                <p>Enter a new password for {{ email }}</p>

                {{ form.errors | default_errors }}

                <div class="form__group">
                    <label for="ResetPassword">Password</label>
                    <input type="password" value="" name="customer[password]" id="ResetPassword">
                </div>

                <div class="form__group">
                    <label for="PasswordConfirmation">Confirm Password</label>
                    <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation">
                </div>

                <button class="button button--black button--block" type="submit">Reset Password</button>

            </div>
            {% endform %}

        </div>
    </div>
</div>