<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">

    <title>{{ shop.name }} - {{ page_title }}</title>

    {% include 'favicon' %}
	{% include 'head-scripts' %}
  
    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  	
  	
 

</head>

<body>
  {% include 'body-scripts' %}
<div class="banner" data-header>
    <div class="wrap">
        {{ content_for_logo }}
    </div>
</div>

{{ order_summary_toggle }}

<div class="content" data-content>
    <div class="wrap">
        <div class="sidebar" role="complementary">
            <div class="sidebar__header">
                {{ content_for_logo }}
            </div>
            <div class="sidebar__content">
                {{ content_for_order_summary | replace: 'data-product-type="SHOPSTORM_HIDDEN_PRODUCT"', 'data-product-type="SHOPSTORM_HIDDEN_PRODUCT" style="display:none;"' }}
            </div>
        </div>
        <div class="main" role="main">
            <div class="main__header">
                {{ content_for_logo }}
                {{ breadcrumb }}
                {{ alternative_payment_methods }}
            </div>
            <div class="main__content">
                {{ content_for_layout }}
            </div>
            <div class="main__footer">
                <p>
                  By shopping on Wrapped, you agree to Wrapped's 
                  <a href="https://www.wrapped.com/pages/terms-conditions" target="_blank" rel="noopener">
                    Terms
                  </a>
                   and 
                  <a href="https://www.wrapped.com/pages/privacy" target="_blank" rel="noopener">
                    Privacy Policy
                  </a>
                </p>
                {{ content_for_footer }}
            </div>
        </div>
    </div>
</div>

{{ tracking_code }}
  
<!-- Begin Afterpay Liquid Snippet for Shopify-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
  var afterpay_available = false;

  //Checkout Total
  var checkout_total = "{{ checkout.total_price }}";

  //Display Afterpay if order amount is less than $1000
  if(checkout_total <= 100000)
  {
    afterpay_available = true;
  }
  if(!afterpay_available)
  {
    $('img[alt="Afterpay"]').parent().parent().parent().hide();
  }
</script>
<!-- End Afterpay Liquid Snippet for Shopify -->
  
<script> 
// Assumptions: 
// * We assume a certain page structure, and bail out aggressively if things 
// aren't as we expect (e.g. Shopify changed the layout) 
// * Each pricing item is proceeded by an associated main product 
// * An event named 'page:change' is fired on the document each time the 
// checkout page is ajax-refreshed 

// Hide any pricing items, and add their cost to the associated main product line 
function fixPaidCustomizationProducts(node) { 
var pricingItemRows = node.querySelectorAll('[data-product-type="SHOPSTORM_HIDDEN_PRODUCT"]'); 
for (i = 0; i < pricingItemRows.length; i++) { 
var pricingItemRow = pricingItemRows[i]; 
var productPriceEl = pricingItemRow.getElementsByClassName('product__price')[0]; 
if (!productPriceEl) { 
return; 
} 
var pricingItemLinePrice = parseInt(productPriceEl.textContent.replace(/\D/g, '')); 
var mainItemRow = pricingItemRow.previousElementSibling; 
if (!mainItemRow) { 
return; 
} 
var mainItemLinePriceEl = mainItemRow.getElementsByClassName('product__price')[0]; 
if (!mainItemLinePriceEl) { 
return; 
} 
var mainItemLinePriceRaw = mainItemLinePriceEl.textContent.replace(/[^\d.]/g, ''); 
var mainItemLinePrice = pricingItemLinePrice + parseInt(mainItemLinePriceEl.textContent.replace(/\D/g, '')); 

// remove the pricing item row 
pricingItemRow.parentElement.removeChild(pricingItemRow); 

// update the main product price 
if (!mainItemLinePriceEl.firstElementChild) { 
return; 
} 
mainItemLinePriceEl.firstElementChild.textContent = mainItemLinePriceEl.firstElementChild.textContent.replace(mainItemLinePriceRaw, (mainItemLinePrice / 100).toFixed(2)); 
} 
} 

// fix the paid customization products on page load. 
fixPaidCustomizationProducts(document); 

// fix the paid customization products on ajax refresh (this results in a small but noticeable flash as the main product price is fixed) 
document.addEventListener('page:change', function() { fixPaidCustomizationProducts(document); }); 
</script> 

<script type="text/javascript">
  window.Wrapped = window.Wrapped || {};

  window.Wrapped.checkout = {
    total_price: {{ checkout.total_price }},
    user_email: '{{ checkout.email }}',
    user_first_name: '{{ checkout.shipping_address.first_name }}',
    user_last_name: '{{ checkout.shipping_address.last_name }}'
  };
</script>



</body>
</html>
