<!doctype html>
<html class="no-js">
<head>
{% include 'rocketamp' %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="8-KNx9YzaUWNTVkpYhXvPclnGMcgyw6iPBIb2pAmF_Q"/>
    <meta name="google-site-verification" content="E11zC_NGBw2Qr-cPwNsdkQ9fOorXISvS50ifbSqDzG0" />
  	<meta name="google-site-verification" content="hD8ErvV3iJB5IgTErJerSLSd7dNCp6FxJnz1Oc4KPnU" />

    <!-- Favicon ================================================== -->
    {% include 'favicon' %}

    <!-- Title/Description ======================================== -->
    {% if template == 'gift_card' %}
        {% assign value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency | strip_html %}
        <title>Here's your {{ value }} gift card for {{ shop.name }}!</title>
        <meta name="description" content="Here's your gift card!">
    {% elsif template == 'index' %}
        <title>{{ settings.homepage_seo_title }}</title>
        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
    {% else %}
        <title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
    {% endif %}

    <!-- Social =================================================== -->
    {% include 'social-meta-tags' %}

    {% if canonical_url contains '?page' %}
        {% assign words = canonical_url | split: '?page' %}
        <link rel="canonical" href="{{ words[0] }}">
    {% else %}
        <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}

  	<meta name="theme-color" content="{{ settings.color_primary }}">

    <!-- CSS ================================================================== -->
    {{ 'wrapped.css' | asset_url | stylesheet_tag }}
    {{ 'icons.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'custom-style.scss' | asset_url | stylesheet_tag }}
    {{ 'cart-page-popup.css' | asset_url | stylesheet_tag }}
    {{ 'jquery1.11.2.js' | asset_url | script_tag }}
    
    {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
    {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
    {{ 'owl.transitions.css' | asset_url | stylesheet_tag }}
  	{{ 'owl.carousel.js' | asset_url | script_tag }}
  

    {% comment %}
    {% unless settings.cart_type == 'page' %}
    {{ 'ajaxify.scss.css' | asset_url | stylesheet_tag }}
    {% endunless %}
    {% endcomment %}

    {% include 'google-fonts' %}

    {% include 'head-scripts' %}

    <!-- Header hook for plugins ============================================== -->
    {% include 'buddha-megamenu-before' %}
  {% include 'buddha-megamenu' %}
  {% include 'ninjacoderz_add_head_code' %}

{{ content_for_header }}
    {{ 'shopstorm-apps.scss.css' | asset_url | stylesheet_tag }}

    <!-- Algolia head -->
    <script type="text/template" id="template_algolia_money_format">{% include 'algolia_money_format' %}</script>
    <script type="text/template" id="template_algolia_autocomplete">{% include 'algolia_autocomplete.hogan' %}</script>
    <script type="text/template" id="template_algolia_autocomplete.css">{% include 'algolia_autocomplete.css.hogan' %}</script>
    <script type="text/template" id="template_algolia_autocomplete_collection">{% include 'algolia_autocomplete_collection.hogan' %}</script>
    <script type="text/template" id="template_algolia_autocomplete_collections_empty">{% include 'algolia_autocomplete_collections_empty.hogan' %}</script>
    <script type="text/template" id="template_algolia_autocomplete_article">{% include 'algolia_autocomplete_article.hogan' %}</script>
    <script type="text/template" id="template_algolia_autocomplete_articles_empty">{% include 'algolia_autocomplete_articles_empty.hogan' %}</script>
    <script type="text/template" id="template_algolia_autocomplete_product">{% include 'algolia_autocomplete_product.hogan' %}</script>
    <script type="text/template" id="template_algolia_autocomplete_products_empty">{% include 'algolia_autocomplete_products_empty.hogan' %}</script>
    <script type="text/template" id="template_algolia_autocomplete_footer">{% include 'algolia_autocomplete_footer.hogan' %}</script>
    <script type="text/template" id="template_algolia_instant_search">{% include 'algolia_instant_search.hogan' %}</script>
    <script type="text/template" id="template_algolia_instant_search.css">{% include 'algolia_instant_search.css.hogan' %}</script>
    <script type="text/template" id="template_algolia_instant_search_stats">{% include 'algolia_instant_search_stats.hogan' %}</script>
    <script type="text/template" id="template_algolia_instant_search_facet_item">{% include 'algolia_instant_search_facet_item.hogan' %}</script>
    <script type="text/template" id="template_algolia_instant_search_current_refined_values_item">{% include 'algolia_instant_search_current_refined_values_item.hogan' %}</script>
    <script type="text/template" id="template_algolia_instant_search_product">{% include 'algolia_instant_search_product.hogan' %}</script>
    <script type="text/template" id="template_algolia_instant_search_no_result">{% include 'algolia_instant_search_no_result.hogan' %}</script>
    {{ '//cdn.jsdelivr.net/fontawesome/4.4.0/css/font-awesome.min.css' | stylesheet_tag }}
    {{ '//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css' | stylesheet_tag }}
    {{ '//cdn.polyfill.io/v2/polyfill.min.js' | script_tag }}
    {{ '//cdn.jsdelivr.net/lodash/3.7.0/lodash.min.js' | script_tag }}
    {{ '//cdn.jsdelivr.net/jquery/2/jquery.min.js' | script_tag }}
    {{ '//cdn.jsdelivr.net/hogan.js/3/hogan.min.js' | script_tag }}
    {{ '//cdn.jsdelivr.net/autocomplete.js/0.21.3/autocomplete.jquery.min.js' | script_tag }}
    {{ '//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js' | script_tag }}
    {{ '//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js' | script_tag }}
    {{ 'algolia_config.js' | asset_url | script_tag }}
    {{ 'algolia_init.js' | asset_url | script_tag }}
    {{ 'algolia_helpers.js' | asset_url | script_tag }}
    {{ 'algolia_autocomplete.js' | asset_url | script_tag }}
    {{ 'algolia_facets.js' | asset_url | script_tag }}
    {{ 'algolia_sort_orders.js' | asset_url | script_tag }}
    {{ 'algolia_instant_search.js' | asset_url | script_tag }}
    <!-- /Algolia head -->
  
  <!-- Segment Tracking -->
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
        analytics.load('1kla1x3YUHHxiwMUW1pzKe5yK5pwyWu2');
        // identify the customer if they have an account
        {% if customer.id %}
        window.analytics.identify({{customer.id}}, {
          name: "{{ customer.name }}",
          first_name: "{{ customer.first_name }}",
          last_name: "{{ customer.last_name }}",
          email: "{{ customer.email }}",
          phone: "{{ customer.default_address.phone }}",
          address: {  // uses the default address
            street: "{{ customer.default_address.street }}",
            city: "{{ customer.default_address.city }}",
            state: "{{ customer.default_address.province }}",
            stateCode: "{{ billing_address.province_code }}",
            postalCode: "{{ customer.default_address.zip }}",
            country: "{{ customer.default_address.country }}",
            countryCode: "{{ customer.default_address.country_code }}"
          },
          totalSpent: "{{ customer.total_spent | money_without_currency }}",
          allOrdersCount: {{ customer.orders_count }},
          allOrderIds: [{% for order in customer.orders %}{{ order.id }},{% endfor %}],
          tags: ["{{ customer.tags | join: '", "' }}"]
        });
        {% endif %}
        window.analytics.page();
      }}();
    </script>
  
  <!-- ManyChat -->
<script src="//widget.manychat.com/295772774137944.js" async="async">
</script>
  
  {% if settings.app_wk_enabled %}
{% include 'appmate-wishlist-king' %}
{% endif %}
  

  <!-- TO UNINSTALL SEGMENT FOR SHOPIFY, DELETE THE FOLLOWING AUTOGENERATED CODE: -->
  <script src="/apps/segment/script_tag.js"></script><script type="text/javascript"> if (typeof upsellSegmentThemeScript !== "undefined") { upsellSegmentThemeScript({{customer.id | default: 0}}, "{{ customer.name }}", "{{ customer.first_name }}", "{{ customer.last_name }}", "{{ customer.email }}", {{ customer.default_address | json }}, "{{ customer.total_spent }}", {{ customer.orders_count | default: 0 }}, [{% for order in customer.orders %}{{ order.id }},{% endfor %}], {{ customer.tags | json }}); } else { console.warn("Notice for the store admin, follow the guide here: https://segment.upsell-apps.com/help/uninstall"); } </script>
  <!-- END AUTOGENERATED CODE -->

{% include 'globo-megamenu-script' %}  {% include 'shopstorm-scripttags' %}</head>
<body id="{{ page_title | handle }}"
      class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}"
        {% if customer.email == 'ben@redballoon.com.au' %}
            style="background-image: url(//cdn.shopify.com/s/files/1/1443/3952/t/4/assets/homepage_collection_grid_1_image.jpg)"
        {% endif %}
>
  {% include 'buddha-megamenu-wireframe' %}

{% include 'body-scripts' %}

{% include 'nav' %}

{% comment %}
<div class="header__wrapper">

    {% if settings.header_enable_account or settings.header_enable_search or settings.header_message != '' %}
        <div class="info-bar showMobile">
            <div class="wrapper text-center">

                {% if shop.customer_accounts_enabled and settings.header_enable_account %}
                    <div class="header-account-link">
                        <a href="/account"><img src="{{ 'account.svg' | asset_url }}"></a>
                    </div>
                {% endif %}

                {% if settings.header_message != '' %}
                    <div class="header-message uppercase{% if settings.header_enable_account or settings.header_enable_search %} header-message--crowded{% endif %}">
                        {{ settings.header_message }}
                    </div>
                {% endif %}

                {% if settings.header_enable_search %}
                    <div class="header-search__wrapper">
                        <div class="header-search">
                            <form action="/search" method="get" class="input-group search" role="search">
                                {% if settings.search_only_products %}<input type="hidden" name="type"
                                                                             value="product">{% endif %}
                                <input class="search-bar" type="search" name="q">
                                <button type="submit" class="btn search-btn"></button>
                            </form>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    {% endif %}

    <header class="site-header" role="banner">
        <div class="wrapper">
            <div class="nav--desktop">
                {% include 'nav-contents' %}
            </div>
            <div class="nav--mobile">
                {% include 'nav-contents' %}
            </div>
        </div>
      
    </header>
</div>
{% endcomment %}

 
<main class="main" role="main">
    {{ content_for_layout }}
</main>

<div class="spacer-lg"></div>

<footer class="footer">

    <a class="footer__logo" href="{{ shop.url }}">
        <img src="{{ 'wrapped-logo.png' | asset_url }}" alt="{{ shop.name }}">
    </a>

    <div class="footer__upper container">
        <div class="row">

            <div class="col-sm-4">
                {% assign link_list = settings.footer_column_1_linklist_1 %}
                {% include 'footer-link-list' %}

                <div class="spacer-sm"></div>

                {% assign link_list = settings.footer_column_1_linklist_2 %}
                {% include 'footer-link-list' %}
            </div>

            <div class="col-sm-4">
                {% assign link_list = settings.footer_column_2_linklist_1 %}
                {% include 'footer-link-list' %}

                <div class="spacer-sm"></div>

                {% assign link_list = settings.footer_column_2_linklist_2 %}
                {% include 'footer-link-list' %}
            </div>

            <div class="col-sm-4">
               <h5>Stay up to date</h5>
                <hr>
               <p>{{ settings.footer_newsletter_content }}</p>
              
              {% comment %}
<form id="email_signup_footer" class=" klaviyo_bare_embed_Qf7jN2 contact-form" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate>
<div class="">
 <input type="hidden" name="g" value="Qf7jN2">
 <div class="klaviyo_field_group">
   <!--<label for="k_id_email">Newsletter Sign Up</label>-->
   <input type="email" value="" name="email" id="k_id_email" placeholder="kanye@swifty.com" />
 </div>
 <div class="klaviyo_form_actions ">
   <button type="submit" class="klaviyo_submit_button button button--black"><i class="icon icon-arrow-right"></i></button>
 </div>
 </div>
 <div class="klaviyo_messages">
   <div class="success_message" style="display:none;"></div>
   <div class="error_message" style="display:none;"></div>
   </div>
</form>

  {% endcomment %}           
              
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
 KlaviyoSubscribe.attachToForms('#email_signup_footer', {
   hide_form_on_success: true
 });
</script>
              {% comment %}{% include 'newsletter-form' %}{% endcomment %}

                {% include 'social-links' | social_link_message: 'Stay Connected' %}
            </div>

        </div>
    </div>
  {% include 'signup-popup-form' %}
  {% include 'add-to-cart-popup' %}
  {% section 'cart-page-popup' %}
    {% section 'wrapped-footer-links' %}
</footer>

{{ 'fastclick.min.js' | asset_url | script_tag }}
{{ 'shop.js' | asset_url | script_tag }}

<script>
    {% if newHash %}
    $(function () {
        timber.updateHash('{{ newHash }}');
    });
    {% endif %}
    {% if resetPassword %}
    $(function () {
        timber.resetPasswordSuccess();
    });
    {% endif %}
</script>

{% comment %}
Modal Cart Documentation:
- http://shopify.com/timber#ajax-cart

{% unless settings.cart_type == 'page' %}
{{ 'handlebars.min.js' | asset_url | script_tag }}
{% include 'ajax-cart-template' %}
{{ 'ajaxify.js' | asset_url | script_tag }}

<script>
    jQuery(document).ready(function () {

        ajaxifyShopify.init({
            method: 'modal',
            wrapperClass: 'wrapper',
            formSelector: '#AddToCartForm',
            addToCartSelector: '#AddToCart',
            cartCountSelector: '.cart-count',
            cartCostSelector: '.cartCost',
            toggleCartButton: '.CartToggle',
            useCartTemplate: true,
            btnClass: 'btn',
            moneyFormat: {{ shop.money_format | json }},
            disableAjaxCart: false,
            enableQtySelectors: true,
            prependDrawerTo: 'body',
            onToggleCallback: function () {
                jQuery('body').trigger('ajaxCart.afterCartLoad')
            }
        });
    });

</script>
{% endunless %}
{% endcomment %}

{% include 'footer-scripts' %}
  <!-- Klaviyo Integration -->
<script type="text/javascript">
  var _learnq = _learnq || [];

  _learnq.push(['account', 'H823WX']);

  (function () {
  var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
  b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
  var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
  })();
  
  

  if(jQuery('body.template-product').length > 0) {
    setInterval (function(){
      var viewportWidth = jQuery(window).width();
      if(viewportWidth > 767) {
        if(jQuery('form#AddToCartForm .submit-details button.wk-button-product.wk-add-product').length > 0) {
          jQuery('form#AddToCartForm .submit-details button.wk-button-product.wk-add-product .wk-label').html("Add to Wishlist");
        }
        if(jQuery('form#AddToCartForm .submit-details button.wk-button-product.wk-remove-product').length > 0) {
          jQuery('form#AddToCartForm .submit-details button.wk-button-product.wk-remove-product .wk-label').html("In Wishlist");
        }
      } else {
        if(jQuery('form#AddToCartForm .submit-details button.wk-button-product.wk-add-product').length > 0) {
          jQuery('form#AddToCartForm .submit-details button.wk-button-product.wk-add-product .wk-label').html("Wishlist");
        }
        if(jQuery('form#AddToCartForm .submit-details button.wk-button-product.wk-remove-product').length > 0) {
          jQuery('form#AddToCartForm .submit-details button.wk-button-product.wk-remove-product .wk-label').html("Wishlist");
        }
      }
    }, 1);
  }
</script>
  <!-- option placeholder js -->
  {% include 'pick-an-option' %}
</body>
</html>
