<div id="popup" class="modal-box"> 
    <header>
      <a href="javascript:;" class="js-modal-close close">close</a>
    </header>
    <div class="modal-body">
      <div class="Modal Body">
         <!--<img src="{{ section.settings.background_img | img_url: 'grande' }}"  style="background-image: url('{{ section.settings.background_img | img_url: 'grande' }}');"/>-->
        <div class="popup-image" style="background-image: url('{{ section.settings.background_img | img_url: 'small' }}'); background-size:cover;">
        <h3>{{ section.settings.heading }}</h3></div>
         <h6>{{ section.settings.sub_heading }}</h6>
        
        <div id="owl-demo" class="owl-carousel owl-theme">
            {% for block in section.blocks %}
            {% assign current_product = block.settings.custom_product %}
            <div class="item">
  
          <img src="{{all_products[current_product]  | img_url: 'small' }}"/>
            <h5>{{current_product}}</h5>
            <span>{{ all_products[current_product].price | money }}</span>
          </div>
              {% endfor %}
        </div>
        <!--<div class="customNavigation">
			<a class="btn prev">
				<i class="fa fa-angle-left" ></i>

			</a>
			<a class="btn next">
				<i class="fa fa-angle-right" ></i>

			</a>
  </div> --> 
      </div>
    </div>
  </div>



 

<script>
  $(function(){
  
	var appendthis =  $("<div class='modal-overlay js-modal-close'></div>");
	  $('a[data-modal-id]').click(function(e) {
	    e.preventDefault();
	    $("body").append(appendthis);
	    $(".modal-overlay").fadeTo(500, 0.7);
	    //$(".js-modalbox").fadeIn(500);
	    var modalBox = $(this).attr('data-modal-id');
	    $('#'+modalBox).fadeIn($(this).data());
	  }); 
	$(".js-modal-close, .modal-overlay").click(function() {
	  $(".modal-box, .modal-overlay").fadeOut(500, function() {
	    $(".modal-overlay").remove();
	  });
	});
	$(window).resize(function() {
	  $(".modal-box").css({
	    top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
	    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
	  });
	});
	$(window).resize();
});
</script>

<script>
 
/*$(function(){
  
   var owl = $("#owl-demo");
  owl.owlCarousel({
    //autoPlay: 2000,
    items : 4, //10 items above 1000px browser width
    itemsDesktop : [1000,4], //4 items between 1000px and 901px
    itemsDesktopSmall : [900,3], //3 items betweem 900px and 601px
    itemsTablet: [600,1], //2 items between 600 and 0
    itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
  });

  // Custom Navigation Events
  $(".next").click(function(){
    owl.trigger('owl.next');
  })
  $(".prev").click(function(){
    owl.trigger('owl.prev');
  })

  var $owlControls = $('div.owl-controls');
  $owlControls.hide();
    
}); */
</script>
{% schema %}
  {
    "name": "Cart Page Popup",
	"class": "cart-page-popup cart-page-popup--flush",
    "settings": [
      {
        "type": "header",
        "content": "Featured Product"
      },
      {
        "type": "image_picker",
        "id": "background_img",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading"
      }
   ],
 "blocks": [
      {
        "type": "product",
        "name": "product",
     "settings": [
	  {
        "type": "product",
        "id": "custom_product",
        "label": "Product"
      }  
     ]
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
