{% if section.blocks.size > 0 %}
  <style>
    {% for block in section.blocks %}
      .tag-filter .colour-filters input[type="checkbox"] + span.{{ block.settings.title | handleize }}::before {
        {% if block.settings.color != blank %}
          background-color: {{ block.settings.color }};
        {% endif %}
        {% if block.settings.image != blank %}
          background-image: url("{{ block.settings.image | img_url: '48x48' }}");
          background-position: center; 
          background-size: cover;
        {% endif %}
      }
    {% endfor %}
  </style>
{% endif %}

{% schema %}
  {
    "name": "Filter Swatches",
    "blocks": [
      {
        "type": "filter_swatch",
        "name": "Filter Swatch",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Colour Name",
            "info": "This should match the filter title"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Background Colour",
            "info": "e.g. #ae3fff"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image",
            "info": "This will override a background colour if set."
          }
        ]
      }
    ]
  }
{% endschema %}

