{% if section.settings.menu_link_4 != blank %}
	{% assign href =  section.settings.menu_link_4 %}
{% else %}
	{% assign href =  'javascript:;' %}
{% endif %}
<div class="menu-4 nav_menu">
{% if section.settings.menu_title_4 != '' %}
	<a href="{{ href }}">{{ section.settings.menu_title_4 }}</a>
{% endif %}
</div>

<div class="nav_sub_menu" style="display:none;">
  {% if section.settings.shop_kids_sub_menu_1 != blank %}  
   <div>
     <h3>{{ section.settings.shop_kids_sub_menu_1 }}</h3>   
      <ul>
        {% for block in section.blocks %}
          {% if block.settings.shop_kids_menu_title_1 != blank %}
            <li><a href="{{ block.settings.sshop_kids_menu_link_1 }}">{{ block.settings.shop_kids_menu_title_1 }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  {% if section.settings.shop_kids_sub_menu_2 != blank %}
    <div>
      <h3>{{ section.settings.shop_kids_sub_menu_2 }}</h3>   
      <ul>
        {% for block in section.blocks %}
          {% if block.settings.shop_kids_menu_title_2 != blank %}
            <li><a href="{{ block.settings.shop_kids_menu_link_2 }}">{{ block.settings.shop_kids_menu_title_2 }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
   {% endif %}
  
   {% if section.settings.shop_kids_sub_menu_3 != blank %}
    <div>
      <h3>{{ section.settings.shop_kids_sub_menu_3 }}</h3>
      <ul>
        {% for block in section.blocks %}
          {% if block.settings.shop_kids_menu_title_3 != blank %}
            <li><a href="{{ block.settings.shop_kids_menu_link_3 }}">{{ block.settings.shop_kids_menu_title_3 }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

   {% if section.settings.shop_kids_sub_menu_4 != blank %}
    <div>
      <h3>{{ section.settings.shop_kids_sub_menu_4 }}</h3>
      <ul>
        {% for block in section.blocks %}
          {% if block.settings.shop_kids_menu_title_4 != blank %}
            <li><a href="{{ block.settings.shop_kids_menu_link_4 }}">{{ block.settings.shop_kids_menu_title_4 }}</a></li>
          {% endif %}   
        {% endfor %}
      </ul>
    </div>
   {% endif %}
  
    {% assign product = all_products[section.settings.feature_product_4 ]%}
     {% if product != blank %}
	    <div class="promotional-product">
           <a href= "{{ product.url }}" class="image"><img src="{{  product  | img_url: 'grande' }}" alt="{{ product.title }}" /></a>
	       {% if section.settings.fp_heading_4 != blank %}
	        <h3>{{ section.settings.fp_heading_4 }}</h3>
	       {% endif %}
	       <a href= "{{ product.url }}" class="title">{{ product.title }}</a>
	       <span>{{ product.price | money }}</span>
	    </div>
     {% endif %}
</div>
{% schema %}
 {
    "name": "On Fleek And Unique",
	"class": "shopkids-menu shopkids-menu--flush",
    "settings": [
      {
        "type": "header",
        "content": "Featured Product"
      },
      {
       "type": "product",
       "id": "feature_product_4",
       "label": "Featured Product"
      },
      {
        "type": "text",
        "id": "fp_heading_4",
        "label": "Featured Product Heading"
      },
      {
        "type": "header",
        "content": "Nav Menu"
      },
      {
        "type": "text",
        "id": "menu_title_4",
        "label": "Menu Title"
      },
	  {
        "type": "text",
        "id": "menu_link_4",
        "label": "Menu Link"
      },
	  {
        "type": "header",
        "content": "Shop Kids Sub Menu"
      },
      {
        "type": "text",
        "id": "shop_kids_sub_menu_1",
        "label": "Sub Menu 1"
      },
	  {
        "type": "text",
        "id": "shop_kids_sub_menu_2",
        "label": "Sub Menu 2"
      },
	  {
        "type": "text",
        "id": "shop_kids_sub_menu_3",
        "label": "Sub Menu 3"
      },
	  {
        "type": "text",
        "id": "shop_kids_sub_menu_4",
        "label": "Sub Menu 4"
      }
    ],
     "blocks": [
      {
        "type": "gift_ideas",
        "name": "Sub Menu 1 Child",
     "settings": [
	  {
        "type": "text",
        "id": "shop_kids_menu_title_1",
        "label": "Title 1"
      },
      {
        "type": "text",
        "id": "sshop_kids_menu_link_1",
        "label": "Link 1"
      }
     ]
    },
 {
        "type": "passions",
        "name": "Sub Menu 2 Child",
     "settings": [
	  {
        "type": "text",
        "id": "shop_kids_menu_title_2",
        "label": "Title 2"
      },
      {
        "type": "text",
        "id": "shop_kids_menu_link_2",
        "label": "Link 2"
      }
     ]
    },
   {
        "type": "categories",
        "name": "Sub Menu 3 Child",
     "settings": [
	  {
        "type": "text",
        "id": "shop_kids_menu_title_3",
        "label": "Title 3"
      },
      {
        "type": "text",
        "id": "shop_kids_menu_link_3",
        "label": "Link 3"
      }
     ]
    },
 	{
        "type": "age",
        "name": "Sub Menu 4 Child",
     "settings": [
	  {
        "type": "text",
        "id": "shop_kids_menu_title_4",
        "label": "Title 4"
      },
      {
        "type": "text",
        "id": "shop_kids_menu_link_4",
        "label": "Link 4"
      }
     ]
    }
   ]
}


{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

