<section class="container-fluid">
    <div class="row">
        <div class="col footer-links-logo">
            <a href="{{ section.settings.footer-logolink }}" class="footer-logolink"><img src="{{ section.settings.footer-logo | img_url: '50x50' }}" alt="BRG Logo"></a>
            <p class="footer-logo-caption">{{ section.settings.footer-logo-caption }}</p>
        </div>
    </div>
    <div class="row">
        <ul class="col footer-links">
            {% for block in section.blocks %}
                <li class="footer-linkitem">
                    <a class="footer-link" href="{{ block.settings.footer-linkurl }}">{{ block.settings.footer-linkname }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% schema %}
{
    "name": "Wrapped Footer Links",
    "class": "section--footer-links",
    "max_blocks": 7,
    "settings": [
        {
            "type": "header",
            "content": "Footer Logo"
        },
        {
            "type": "image_picker",
            "id": "footer-logo",
            "label": "Please select an image"
        },
        {
            "type": "text",
            "id": "footer-logolink",
            "label": "Footer Logo Link",
            "default": "https://www.thebigredgroup.com.au/"
        },
        {
            "type": "textarea",
            "id": "footer-logo-caption",
            "label": "Text under logo",
            "default": "Some text here"
        }
    ],
    "blocks": [
        {
            "type": "footerlinks",
            "name": "Footer Links",
            "limit": 7,
            "settings": [
                {
                    "type": "text",
                    "id": "footer-linkname",
                    "label": "Link Name",
                    "default": "Company A"
                },
                {
                    "type": "text",
                    "id": "footer-linkurl",
                    "label": "Link URL",
                    "default": "https://wrapped.com"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Promotional",
            "name": "Footer Links",
            "blocks": [
                {
                    "type": "footerlinks"
                }
            ]
        }
    ]
}
{% endschema %}