.transition { transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; }

/* Wishlist Changes */
.wk-link .wk-label{ display:none;}
.wk-link .wk-icon{ margin-right:0 !important;}
.wk-link.wk-filled .wk-icon{ color:#f58e8b;}
.header__nav__item > a{ padding:1em .8em;}
.wk-link .wk-count { position: relative; top: -3px;}
.header__nav__right .wk-icon, .panel__header .wk-icon, .submit-details .wk-icon, .wishlist .wk-icon{display: inline-block; font-family: "icomoon";  font-size: 0.875em;  font-stretch: normal;  font-style: normal;  font-variant: normal;
    font-weight: normal;  line-height: 1;text-transform: none;}
.header__nav__right .wk-icon:before, .panel__header .wk-icon:before, .submit-details .wk-icon:before, .wishlist .wk-icon:before {content: "";}
.header__nav__right .wk-icon svg, .panel__header .wk-icon svg, .submit-details .wk-icon svg, .wishlist .wk-icon svg{ display:none;}
.submit-details button.wk-button-product .wk-icon{ top:0;}
button.wk-button-collection.wk-add-product{ opacity:1; z-index:9; left:0; color:#fff;}
button.wk-button-collection{ background:rgba(0,0,0,1) !important;}
.panel__header:hover .wk-button-collection.wk-remove-product { background:#f58e8b !important; display: block; left: 0; opacity: 1; z-index: 9;}
.panel__header:hover .wk-button-collection.wk-remove-product .wk-icon{ color:#fff;}
.template-product .wk-button-product .wk-label{ display:inline-block; font-size:1em; text-transform:uppercase;}
.submit-details .product__details__quantity, .submit-details button{ display:inline-block; vertical-align:top;}
.submit-details button.wk-button-product{ border-radius:5px;}
.submit-details button.wk-button-product.wk-remove-product{ border-color:#f58e8b; color:#f58e8b;}
.submit-details button.wk-button-product.wk-remove-product .wk-icon svg path{stroke:#f58e8b !important; stroke-width:5px; fill:#000; fill-opacity:0;}

.wishlist-collection .wk-row:first-child{ display:inline-block; vertical-align:top;}
.wishlist-collection .wk-row:first-child p{ margin:40px 0 40px; background:none;}
.wishlist-collection .wk-row:first-child p.wk-login-note a{ color:#0094d1;}
.wishlist-collection h3#wk-share-head{ display:inline-block;vertical-align:top; margin:56px 10px 40px 26%;font-family: "Work Sans",sans-serif;
    font-weight: 300; letter-spacing: 0.01em; font-size:16px;text-transform: none;}
.wishlist-collection ul#wk-share-list{ display:inline-block;vertical-align:top; margin:51px 0 40px; width:auto; float:right;}
.wishlist-collection .resp-sharing-button{ padding:5px 8px;}
.wk-add-item-form input.wk-add-to-cart{ border-radius:5px !important; padding:10px 20px !important;}
.wk-item-column .wk-variant-link{ text-align:left;font-size: 14px; font-weight: 300;padding-top: 10px; margin-bottom: 0.2rem;}
.wk-item-column .wk-purchase{font-size: 14px;font-weight: 600;text-align:left;}
.wk-item-column .wk-purchase del{ color: rgba(0, 0, 0, 0.5); font-weight: 400;}
.wishlist-collection .wk-button-wishlist-clear{background: #273375;  border-radius: 4px;  box-sizing: border-box; color: white;  font-weight: 700; padding:1em 1.7em;
 text-align: center;}
.empty-wishlist .wishlist-collection .wk-row{ width:100%; text-align:center; margin:100px 0 0px}
.klaviyo_messages .success_message{ color:green; font-size:12px; margin-top:10px;}
.klaviyo_messages .error_message{ color:red; font-size:12px;margin-top:10px; }



/* SignUp Popup Form */
.popup-overlay {position: fixed; width: 100%;  height: 100%; background: rgba(0,0,0,0.5); padding:15px 15px; box-sizing:border-box; -webkit-box-sizing:border-box; top:0; left:0; z-index:9999;} }
.signup-popup {}
.signup-inner{ background:#fff; text-align:center;font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; position:relative; max-width:515px; width:100%; padding:30px; margin:10% auto 0;box-sizing:border-box; }
.signup-inner h2{ font-weight:600; letter-spacing:normal; text-transform:capitalize;color: #25306e;font-size: 32px; margin-top:0;font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;}
.signup-inner p{color: #595959; font-size:16px; margin-bottom:30px;font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;}
.signup-inner input{font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;    background-color: #fff; border: 2px solid #c9c9c9; border-radius: 3px; display: inline-block;  margin: 0 0 0px;  min-height: 36px; min-width: 50px; padding: 0 0.8em; vertical-align: middle;
  width: 100%; box-sizing:border-box;}
.signup-inner button{ margin-top:24px; font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;background-color: rgb(7, 51, 117);border-radius: 3px; border:none;  color: #FFFFFF; display: inline-block; font-size: 13px; font-weight: 700;
  height: 36px;  letter-spacing: 0.01em;  line-height: 36px;  margin-right: 0;  overflow: hidden;  padding: 0 18px;  text-align: center;  vertical-align: middle;  white-space: nowrap;}
.signup-inner .close-btn{position: absolute; top: -32px; right: 0; width: auto; cursor: pointer; color: #FFFFFF; font-weight: bold; background-color: #073375; text-transform: uppercase; font-size: 16px;
  padding: 6px 12px; text-decoration:none; display:block;}

/* add to cart popup */
.popup-wrapper {}
.popup-wrapper .outer { display:table; width:100%; height:100%; }
.popup-wrapper .inner { display:table-cell; vertical-align:middle; }
.popup-wrapper .inner .popup-content { background:#fff; margin:0 auto; max-height:calc(100vh - 40px); max-height:-webkit-calc(100vh - 40px); overflow-y:auto; }

.add-to-cart-popup .inner .popup-content { max-width:430px; }
.add-to-cart-popup .image {}
.add-to-cart-popup .image img {}
.add-to-cart-popup .content { padding:20px 20px; margin-top:-75px; }
.add-to-cart-popup .content h2 { font-family:Kristi,cursive; font-size:97px; color:#273375; line-height:100px; text-transform:none; margin-bottom:5px; }
.add-to-cart-popup .content p { font-size:22px; line-height:28px; margin-bottom:0px; }
.add-to-cart-popup .content .button { display:inline-block; vertical-align:middle; margin:20px 15px 0px 0px; }
.add-to-cart-popup .content .link { color:inherit; display:inline-block; vertical-align:middle; margin-top:20px; border-bottom:1px solid #000; }
.add-to-cart-popup .content .link:hover,
.add-to-cart-popup .content .link:focus,
.add-to-cart-popup .content .link:active { border-bottom:1px solid transparent; }

/* main navigation */
.header {}
.header .main-navigation { display:inline-block; vertical-align:middle; width:calc(100% - 166px); width:-webkit-calc(100% - 166px); /*width:calc(100% - 126px); width:-webkit-calc(100% - 126px);*/ }
.header .main-navigation .shopify-section { display:inline-block; vertical-align:middle; }
.header .main-navigation .shopify-section .nav_menu {}
.header .main-navigation .shopify-section .nav_menu {}
.header .main-navigation .shopify-section .nav_menu a { color:#000; text-transform:uppercase; letter-spacing:.04em; /*padding:15px 15px;*/ /*padding:15px 12px;*/ padding:1em 1.25em; position:relative; z-index:2; }
.header .main-navigation .shopify-section .nav_menu a:after { content:''; background:transparent; width:100%; height:5px; position:absolute; left:0px; right:0px; bottom:-1px; z-index:1; }
.header .main-navigation .shopify-section .nav_menu a:hover:after,
.header .main-navigation .shopify-section .nav_menu a:focus:after,
.header .main-navigation .shopify-section .nav_menu a:active:after,
.header .main-navigation .shopify-section.hover .nav_menu a:after { background:#273375; }

.header .main-navigation .shopify-section.shopher-menu {}
.header .main-navigation .shopify-section.shopher-menu .nav_sub_menu { /*display:block !important;*/ }
.header .main-navigation .shopify-section .nav_sub_menu { background:#fff; padding:2em 0px 3em 0px; /*padding:35px 0px 20px 0px;*/ width:100%; position:absolute; top:50px; left:0px; box-shadow:0px -1px 0px 0px #bbb inset; -webkit-box-shadow:0px -1px 0px 0px #bbb inset; }
.header .main-navigation .shopify-section .nav_sub_menu:before { content:""; background:#fff; width:800%; height:100%; position:absolute; top:0px; left:-400%; z-index:-1; box-shadow:0px -1px 0px 0px #bbb inset; -webkit-box-shadow:0px -1px 0px 0px #bbb inset; }

.header .main-navigation .shopify-section .nav_sub_menu > div { /*letter-spacing:0.05em;*/ display:inline-block; vertical-align:top; padding:0px 15px; width:20%; float:left; }
.header .main-navigation .shopify-section .nav_sub_menu > div h3 { font-family:"Work Sans",sans-serif; font-size:16px; color:#000; font-weight:600; text-transform:uppercase; letter-spacing:.05em; padding:.4em .7em; /*padding:0px 10px;*/ /*margin:0px 0px 15px 0px;*/ margin:0px 0px; }
.header .main-navigation .shopify-section .nav_sub_menu > div ul {}
.header .main-navigation .shopify-section .nav_sub_menu > div ul li { /*margin-bottom:5px;*/ }
.header .main-navigation .shopify-section .nav_sub_menu > div ul li:last-child { margin-bottom:0px; }
.header .main-navigation .shopify-section .nav_sub_menu > div ul li a { color:#000; display:inline-block; padding:.4em .7em; /*padding:5px 10px;*/ width:100%; }
.header .main-navigation .shopify-section .nav_sub_menu > div ul li a:hover,
.header .main-navigation .shopify-section .nav_sub_menu > div ul li a:focus,
.header .main-navigation .shopify-section .nav_sub_menu > div ul li a:active { background:#f7f7f7; color:#000; }

.header .main-navigation .shopify-section .nav_sub_menu > div.promotional-product { position:relative; }
.header .main-navigation .shopify-section .nav_sub_menu > div.promotional-product:before { content:"";  background:#f7f7f7; width:3px; height:100%; position:absolute; top:0px; left:-15px; }
.header .main-navigation .shopify-section .nav_sub_menu > div.promotional-product a.image { display:inline-block; width:100%; }
.header .main-navigation .shopify-section .nav_sub_menu > div.promotional-product h3 { padding:0px 0px; margin-top:10px; margin-bottom:.2rem; cursor:default; }
.header .main-navigation .shopify-section .nav_sub_menu > div.promotional-product h3:before { display:none; }
.header .main-navigation .shopify-section .nav_sub_menu > div.promotional-product a.title { font-size:14px;  color:inherit; font-weight:300; margin-bottom:.2rem; display:inline-block; width:100%; }
.header .main-navigation .shopify-section .nav_sub_menu > div.promotional-product span { font-size:14px; font-weight:600; display:inline-block; width:100%; }


.header .header__nav__right { text-align:right; display:inline-block; vertical-align:middle; /*width:160px; /*width:120px;*/ position:inherit; top:0px; right:0px; }
.header .header__nav__right li { display:inline-block; vertical-align:middle; }
.header .header__nav__right li a { padding:16px 3px; }

#shopify-section-the-wrap:hover .nav_menu a:after {
  background: #EB2D28;
}


/* giftcard page */

body#gift-card {}
body#gift-card .product {}
body#gift-card .product .product__details__quantity { vertical-align:top; }
body#gift-card .product #AddToCart { vertical-align:top; }
body#gift-card .product .wk-button-product { vertical-align:top; border-radius:5px; -webkit-border-radius:5px; }

.search{z-index:999; background:#fff;}

/* product detail page */
body.template-product {}
body.template-product .bespokeSameDayDeliveryOption { padding:0px 0px; margin-bottom:25px; }
body.template-product .bespokeSameDayDeliveryOption .inner { background:url("../assets/icon-deliver.png") #e0f8fe; background-repeat:no-repeat; background-position:15px 12px; background-size:auto auto; display:inline-block; padding:15px 15px 15px 95px; border:3px dashed #283376; width:100%; }
body.template-product .bespokeSameDayDeliveryOption .inner input[type="checkbox"] { display:inline-block; vertical-align:top; margin-top:3px; }
body.template-product .bespokeSameDayDeliveryOption .inner label { display:inline-block; vertical-align:top; width:calc(100% - 25px); width:-webkit-calc(100% - 25px); }
body.template-product .bespokeSameDayDeliveryOption .inner .product-customizer-option-description { font-size:12px; }






@media screen and (min-width:768px) and (max-width:1199px) {
  .submit-details button.wk-button-product{ width: 275px; margin-left:0 !important; position:relative; top:15px;}
}
@media screen and (min-width:992px) and (max-width:1110px) {
  .header .main-navigation .shopify-section .nav_menu a { padding-left:4px !important; padding-right:4px !important; }
}
@media screen and (min-width:992px) and (max-width:1199px) {
  .wishlist-collection h3#wk-share-head{ margin-left:12%;} 
  
  .header .main-navigation .shopify-section .nav_menu a { font-size:15px; letter-spacing:0px; }
  .header .main-navigation .shopify-section .nav_sub_menu > div h3 { min-height:36px; }
}
@media screen and (min-width:992px) and (max-width:1260px) {
  .header .main-navigation .shopify-section .nav_menu a { padding-left:12px; padding-right:12px; }
}
@media screen and (min-width:1261px) and (max-width:1315px) {
  .header .main-navigation .shopify-section .nav_menu a { padding-left:1em; padding-right:1em; }
}
@media screen and (min-width:992px){
  .header .container { width:100%; /*max-width:1250px;*/ max-width:1320px; }
}
@media screen and (max-width:991px){
  .header__upper__right a{display:inline-block;}
  .header__upper__right .wishlist{ display:inline-block;}
  .header__upper__right .wishlist .wk-link{ margin-top:1px;}
  .wishlist-collection .wk-row:first-child{ display:block;}
  .wishlist-collection .wk-row:first-child p{ margin-bottom:0px;}
  .wishlist-collection h3#wk-share-head{display:block; margin:0 0 20px;}
  .wishlist-collection ul#wk-share-list{ border-bottom: 1px solid #ccc; display: block; float: none; margin: 0 0 30px; padding-bottom: 30px;}
  
  .header.header--active { background:#fff; height:100%; overflow-y:auto; }
  .header .header__nav__right { display:none; }
  
  .header .main-navigation { margin-bottom:30px; width:100%; }
  .header .main-navigation .shopify-section { border-bottom:1px solid #f7f7f7; width:100%; }
  .header .main-navigation .shopify-section:last-child { border-bottom:none; }  
  .header .main-navigation .shopify-section .nav_menu a { font-size:16px; text-transform:capitalize; display:inline-block; width:100%; right:0px; }
  .header .main-navigation .shopify-section .nav_menu a:hover { background:#f7f7f7; }
  .header .main-navigation .shopify-section .nav_menu a:after { display:none; }
  .header .main-navigation .shopify-section.children .nav_menu a:before { content:"\f107"; font-family:FontAwesome; color:#666; margin-top:-9px; position:absolute; top:50%; right:15px; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; }
  .header .main-navigation .shopify-section.children .nav_menu a.open:before { transform:rotate(180deg); -webkit-transform:rotate(180deg); }
    
  .header .main-navigation .shopify-section .nav_sub_menu { padding:5px 0px 20px 0px; position:inherit; box-shadow:none; -webkit-box-shadow:none; }
  .header .main-navigation .shopify-section .nav_sub_menu:before { display:none; }
  .header .main-navigation .shopify-section .nav_sub_menu > div { padding:0px 10px 0px 25px; width:100%; }
  .header .main-navigation .shopify-section .nav_sub_menu > div h3 { margin-bottom:0px; text-transform:capitalize; padding:8px 10px; position:relative; cursor:pointer; }
  .header .main-navigation .shopify-section .nav_sub_menu > div ul { margin:10px 0px; height:auto; }
  
  .header .main-navigation .shopify-section .nav_sub_menu > div.collapse {}
  .header .main-navigation .shopify-section .nav_sub_menu > div.collapse h3 { }
  .header .main-navigation .shopify-section .nav_sub_menu > div.collapse h3:before { transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; }
  .header .main-navigation .shopify-section .nav_sub_menu > div.collapse h3:before { content:"+"; text-align:center; line-height:20px; position:absolute; top:6px; right:0px; width:20px; height:20px; }
  .header .main-navigation .shopify-section .nav_sub_menu > div.expandable h3:before { content:"-"; text-align:center; line-height:20px; position:absolute; top:6px; right:0px; width:20px; height:20px; }
  
  .header .main-navigation .shopify-section .nav_sub_menu > div.promotional-product { padding-left:35px; margin:15px 0px 20px 0px; }
  .header .main-navigation .shopify-section .nav_sub_menu > div.promotional-product a.image img { max-width:250px; max-height:250px; }
}


@media screen and (max-width:767px){
  .submit-details button.wk-button-product .wk-icon { display: block; text-align: center;  top: 4px; width: 100%;}
  .submit-details button.wk-button-product{ padding:0px 10px !important; height:39px; position: relative; top: -1px;}
  .template-product .submit-details button.wk-button-product .wk-label{ font-size:.6em;}
  .button, .spr-button-primary.button-primary, .spr-summary-actions-newreview{ padding:0.6em;}
  
  .wishlist-collection {}
  .wishlist-collection .wk-item { display:flex; flex-flow:row wrap; }
  .wishlist-collection .wk-item .wk-image { order:1; }
  .wishlist-collection .wk-item .wk-remove-item { display:inline-block; vertical-align:top; width:30px; position:inherit; right:0px; top:13px; /*z-index:-1;*/ opacity:1; order:3; }
  .wishlist-collection .wk-item .wk-product-title { display:inline-block; vertical-align:top; padding-right:15px; width:calc(100% - 40px); width:-webkit-calc(100% - 40px); order:2; }
  .wishlist-collection .wk-item .wk-purchase { order:4; }
  .wishlist-collection .wk-item .wk-add-item-form { order:5; } 
}

@media screen and (max-width:413px){
  .product__details__quantity input{ width: 5em;}
  .product__details__quantity__modifiers > *{padding: 0.5em 0.4em;}
  .submit-details button.wk-button-product {padding: 0 4px!important;}
  .submit-details .button--black{ padding: 0.6em 0.4em;}
 .submit-details button.wk-button-product{ margin-left:5px !important;}
  
  body.template-product .bespokeSameDayDeliveryOption .inner { background-size:45px auto; padding:15px 15px 15px 75px; }
}

table.delivery-table {
  border: 1px solid #000;
  text-align: center;
  width: 100%;
}
table.delivery-table tr {
  border: 1px solid #000;
}
table.delivery-table tr td.highlight {
  color: #137513;
  background-color: #bfdebf;
}
table.delivery-table tr td.muted {
  color: #ccc;
}

/*
table.delivery-table {
  border: 1px solid #000;
  text-align: center;
  width: 100%;
  tr {
    border: 1px solid #000;
    td {
      &.highlight {
        color: #137513;
        background-color: #bfdebf;
      }
      &.muted {
        color: #ccc;
      }
    }
  }
}
*/
.globomenu-custommenu .globomenu .globomenu-item-level-0 > .globomenu-target, .globomenu-responsive-toggle {
    font-weight: 300 !important;
    font-size: 16px !important;
    font-family: "Work Sans", sans_serif !important;
    color: #000000 !important;
    text-transform: uppercase;
}

.globomenu-custommenu .globomenu .globomenu-item-level-0:last-child > .globomenu-target, .globomenu-responsive-toggle {
    color: #df0404 !important;
  font-weight: 400 !important;

}
.globomenu-custommenu .globomenu .globomenu-item-level-0:last-child:hover > .globomenu-target, .globomenu-responsive-toggle {
    color: #df0404 !important;

}

.globomenu-custommenu .globomenu .globomenu-item-level-0:nth-child(2) > .globomenu-submenu li:first-child > .globomenu-submenu li:nth-child(5) .globomenu-target span.globomenu-target-title,
.globomenu-custommenu .globomenu .globomenu-item-level-0:nth-child(2) > .globomenu-submenu li:nth-child(2) > .globomenu-submenu li:last-child .globomenu-target span.globomenu-target-title,
.globomenu-custommenu .globomenu .globomenu-item-level-0:nth-child(2) > .globomenu-submenu li:nth-child(4) > .globomenu-submenu li:last-child .globomenu-target span.globomenu-target-title {
    color: #df0404 !important;
}


.globomenu-custommenu .globomenu .globomenu-item-level-0 > .globomenu-target:after {
    content: '' !important;;
    background: transparent !important;
    width: 100% !important;;
    height: 5px !important;;
    position: absolute; !important;
    left: 0px !important;;
    right: 0px !important;;
    bottom: 0px !important;;
    z-index: 1 !important;;
}

.globomenu-custommenu .globomenu .globomenu-item-level-0:hover > .globomenu-target:after,
.globomenu-custommenu .globomenu .globomenu-item-level-0:focus > .globomenu-target:after,
.globomenu-custommenu .globomenu .globomenu-item-level-0:active > .globomenu-target:after,
.globomenu-custommenu .globomenu .globomenu-item-level-0:hover > .globomenu-target:after {
    background:#273375 !important;;
}

.globomenu-custommenu .globomenu .globomenu-item-level-0:last-child:hover > .globomenu-target:after,
.globomenu-custommenu .globomenu .globomenu-item-level-0:last-child:focus > .globomenu-target:after,
.globomenu-custommenu .globomenu .globomenu-item-level-0:last-child:active > .globomenu-target:after,
.globomenu-custommenu .globomenu .globomenu-item-level-0:last-child:hover > .globomenu-target:after {
    background:#df0404 !important;
}

.globomenu-custommenu .globomenu-item-level-0.globomenu-has-submenu-drop > .globomenu-target:after {
    bottom:0px !important;
    top:100% !important;;
}

.globomenu-custommenu .globomenu-has-submenu-drop>.globomenu-target:after{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 13px;
    left: auto;
    bottom: auto;
    height: auto;
    margin-top: -6px;
    content: "\f107";
    display: inline-block;
    width: auto;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: inherit;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.globomenu-custommenu .globomenu .globomenu-item-level-0:hover > .globomenu-target, .globomenu-btn:hover,
.globomenu-custommenu .globomenu .globomenu-item-level-0.globomenu-current-menu-item > .globomenu-target,
.globomenu-custommenu .globomenu .globomenu-item-level-0.globomenu-current-menu-item > .globomenu-target i.fa,
.globomenu-custommenu .globomenu-responsive-toggle:hover, .globomenu .globomenu-item-level-0.globomenu-active > .globomenu-target,
.globomenu-custommenu .globomenu .globomenu-item-level-0.globomenu-active > .globomenu-target i.fa,
.globomenu-custommenu .globomenu .globomenu-item-level-0:hover > .globomenu-target i.fa{
    background: #ffffff !important;
    color: #000000 !important; }

@media (max-width: 991px) {
  .globomenu-responsive.globomenu-responsive-collapse{
    display: block !important;
    position: static !important;
    height: auto !important;
  }
  .header__nav .globomenu-responsive ul{
  	height: auto !important;
  }
  a.globomenu-responsive-toggle{
    display: none;
  }
}
.read-less{
  display: none;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
  margin-top:20px;
}

#mc_embed_signup input.email {
  width:50% !important
}
