.globomenu .globomenu-item-level-0 > .globomenu-target, .globomenu-responsive-toggle {
    font-weight: 300 !important;
    font-size: 16px !important;
    font-family: "Work Sans", sans_serif !important;
    color: #000000 !important;
    text-transform: uppercase;
}


.globomenu .globomenu-item-level-0 > .globomenu-target:after {
    content: '' !important;;
    background: transparent !important;
    width: 100% !important;;
    height: 5px !important;;
    position: absolute; !important;
    left: 0px !important;;
    right: 0px !important;;
    bottom: 0px !important;;
    z-index: 1 !important;;
}

.globomenu .globomenu-item-level-0:hover > .globomenu-target:after,
.globomenu .globomenu-item-level-0:focus > .globomenu-target:after,
.globomenu .globomenu-item-level-0:active > .globomenu-target:after,
.globomenu .globomenu-item-level-0:hover > .globomenu-target {
    background:#273375 !important;;
}

.globomenu-item-level-0.globomenu-has-submenu-drop > .globomenu-target:after {
    bottom:0px !important;
    top:100% !important;;
}

.globomenu-has-submenu-drop>.globomenu-target:after{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 13px;
    left: auto;
    bottom: auto;
    height: auto;
    margin-top: -6px;
    content: "\f107";
    display: inline-block;
    width: auto;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: inherit;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.globomenu .globomenu-item-level-0:hover > .globomenu-target, .globomenu-btn:hover,
.globomenu .globomenu-item-level-0.globomenu-current-menu-item > .globomenu-target,
.globomenu .globomenu-item-level-0.globomenu-current-menu-item > .globomenu-target i.fa,
.globomenu-responsive-toggle:hover, .globomenu .globomenu-item-level-0.globomenu-active > .globomenu-target,
.globomenu .globomenu-item-level-0.globomenu-active > .globomenu-target i.fa,
.globomenu .globomenu-item-level-0:hover > .globomenu-target i.fa{
    background: #ffffff !important;
    color: #000000 !important; }
