$icon-angle-down: "\e900";
$icon-angle-left: "\e901";
$icon-angle-right: "\e902";
$icon-angle-up: "\e903";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-linkedin: "\f0e1";
$icon-instagram: "\f16d";
$icon-pinterest: "\f231";
$icon-location-arrow: "\e904";
$icon-info-large: "\e905";
$icon-sort-alphabetically: "\e906";
$icon-th-large-outline: "\e907";
$icon-equals-outline: "\e908";
$icon-mail: "\e002";
$icon-bell: "\e006";
$icon-ribbon: "\e009";
$icon-image: "\e010";
$icon-camera: "\e017";
$icon-heart: "\e024";
$icon-search: "\e036";
$icon-zoom-in: "\e037";
$icon-zoom-out: "\e038";
$icon-head: "\e074";
$icon-briefcase: "\e075";
$icon-speech-bubble: "\e076";
$icon-tag: "\e085";
$icon-arrow-left: "\e094";
$icon-arrow-right: "\e095";
$icon-arrow-up: "\e096";
$icon-arrow-down: "\e097";
$icon-columns: "\e104";
$icon-bag: "\e106";
$icon-maximize: "\e112";
$icon-minimize: "\e113";
$icon-plus: "\e114";
$icon-minus: "\e115";
$icon-check: "\e116";
$icon-cross: "\e117";
$icon-ellipsis: "\e129";

@font-face {
  font-family: 'icomoon';
  src:  url('{{ "icons.eot" | asset_url }}');
  src:  url('{{ "icons.eot" | asset_url }}#iefix') format('embedded-opentype'),
  url('{{ "icons.ttf" | asset_url }}') format('truetype'),
  url('{{ "icons.woff" | asset_url }}') format('woff'),
  url('{{ "icons.svg" | asset_url }}#svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 0.875em; // 14px
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a & {
    text-decoration: none;
  }
}

.icon-angle-down {
  &:before {
    content: $icon-angle-down;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-location-arrow {
  &:before {
    content: $icon-location-arrow;
  }
}
.icon-info-large {
  &:before {
    content: $icon-info-large;
  }
}
.icon-sort-alphabetically {
  &:before {
    content: $icon-sort-alphabetically;
  }
}
.icon-th-large-outline {
  &:before {
    content: $icon-th-large-outline;
  }
}
.icon-equals-outline {
  &:before {
    content: $icon-equals-outline;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-ribbon {
  &:before {
    content: $icon-ribbon;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-camera {
  &:before {
    content: $icon-camera;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in;
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out;
  }
}
.icon-head {
  &:before {
    content: $icon-head;
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase;
  }
}
.icon-speech-bubble {
  &:before {
    content: $icon-speech-bubble;
  }
}
.icon-tag {
  &:before {
    content: $icon-tag;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-columns {
  &:before {
    content: $icon-columns;
  }
}
.icon-bag {
  &:before {
    content: $icon-bag;
  }
}
.icon-maximize {
  &:before {
    content: $icon-maximize;
  }
}
.icon-minimize {
  &:before {
    content: $icon-minimize;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-ellipsis {
  &:before {
    content: $icon-ellipsis;
  }
}

