{
	"name": "Wrapped",
	"icons": [
		{
			"src": "{{ 'android-chrome-192x192.png' | asset_url | escape }}",
			"sizes": "192x192",
			"type": "image\/png"
		}
	],
	"theme_color": "#ffffff",
	"start_url": "https:\/\/www.wrapped.com",
	"display": "standalone",
	"orientation": "portrait"
}
