audio,
canvas,
progress,
video {
    display: inline-block
}

progress,
sub,
sup {
    vertical-align: baseline
}

img,
legend,
textarea {
    max-width: 100%
}

[type=checkbox],
[type=radio],
legend {
    padding: 0;
    box-sizing: border-box
}

*,
:after,
:before,
legend {
    box-sizing: border-box
}

a,
body,
mark,
strong {
    color: #000
}

button,
hr,
input {
    overflow: visible
}

.footer ul,
.form .errors>ul,
.header__nav ul,
.list,
.nav,
.pagination,
.tag-filter__list {
    list-style: none
}

.cross-promotion__image,
.grid-item--collection,
.hero,
.panel__header__background,
.product__image,
.seller-content__image {
    background-size: cover;
    background-position: center
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block
}

figure {
    margin: 1em 40px
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none;
    height: auto
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    white-space: normal
}

textarea {
    overflow: auto;
    width: 100%
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

html {
    -ms-text-size-adjust: 100%;
    font-size: 100%
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    letter-spacing: .01em;
    background-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: .5em 0;
    color: #000;
    text-transform: uppercase;
    font-family: "Reem Kufi", sans-serif;
    line-height: 1.1;
    letter-spacing: .05em
}

h5,
h6,
p {
    letter-spacing: .01em;
    line-height: 1.4
}

h1 {
    font-size: 3.160493824em
}

h2 {
    font-size: 2.3703703686em
}

h3 {
    font-size: 1.7777777769em
}

h4 {
    font-size: 1.333333333em
}

h5 {
    font-size: 1em
}

h6 {
    font-size: 14px;
    text-transform: uppercase
}

p,
small {
    font-weight: 300
}

small {
    font-size: 70%
}

a:focus,
a:hover {
    color: #f58e8b
}

a:active {
    color: #f1605c
}

strong {
    font-weight: 500
}

p strong,
td strong {
    font-weight: 600
}

::-moz-selection {
    color: #fff;
    background-color: #273375
}

::selection {
    color: #fff;
    background-color: #273375
}

hr {
    box-sizing: content-box;
    height: 0;
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid #000
}

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto
}

input:not([type]),
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=password],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
input[type=number],
input[type=search],
input[type=color],
select,
textarea {
    display: block;
    width: 100%;
    padding: .5em .75em;
    border: 1px solid #bbb;
    border-radius: 3px;
    font-weight: 300;
    background-color: #fff
}

input:not([type]):focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=color]:focus,
select:focus,
textarea:focus {
    outline: 0;
    background-color: #f7f7f7
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

label.form__styled {
    display: inline-block
}

label.form__styled input[type=checkbox],
label.form__styled input[type=radio] {
    display: none
}

label.form__styled input[type=checkbox]+span,
label.form__styled input[type=radio]+span {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    line-height: 24px
}

.container,
.container-fluid {
    padding-left: 15px;
    padding-right: 15px
}

label.form__styled input[type=checkbox]+span:after,
label.form__styled input[type=checkbox]+span:before,
label.form__styled input[type=radio]+span:after,
label.form__styled input[type=radio]+span:before {
    content: '';
    display: block;
    position: absolute
}

.container-fluid::after,
.container::after,
.row::after {
    display: table;
    content: "";
    clear: both
}

label.form__styled input[type=checkbox]+span:before,
label.form__styled input[type=radio]+span:before {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid #000
}

label.form__styled input[type=checkbox]+span:after,
label.form__styled input[type=radio]+span:after {
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: transparent
}

label.form__styled input[type=checkbox]:checked+span:after,
label.form__styled input[type=radio]:checked+span:after {
    background-color: #000
}

label.form__styled input[type=radio]+span:after,
label.form__styled input[type=radio]+span:before {
    border-radius: 50%
}

.field-required:after {
    color: #ff5d5d;
    content: " *";
}

/* Styles added by ER Dev*/
/* for email and password confirm fields*/
.form__group input[type=email], .form__group input[type=password] {
    margin-bottom: 5px;
}
.form__group-confirmed {
    padding-bottom: 12px;
}
.form__group-confirmed .redInput {
    border-color: red;
}
.form__group-confirmed .confirm-error {
    font-size: smaller;
    color: red;
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}

.col-xs-1 {
    width: 8.3333333333%
}

.col-xs-2 {
    width: 16.6666666667%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.3333333333%
}

.col-xs-5 {
    width: 41.6666666667%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.3333333333%
}

.col-xs-8 {
    width: 66.6666666667%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.3333333333%
}

.col-xs-11 {
    width: 91.6666666667%
}

.col-xs-12 {
    width: 100%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-pull-1 {
    right: 8.3333333333%
}

.col-xs-pull-2 {
    right: 16.6666666667%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-4 {
    right: 33.3333333333%
}

.col-xs-pull-5 {
    right: 41.6666666667%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-7 {
    right: 58.3333333333%
}

.col-xs-pull-8 {
    right: 66.6666666667%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-10 {
    right: 83.3333333333%
}

.col-xs-pull-11 {
    right: 91.6666666667%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-push-1 {
    left: 8.3333333333%
}

.col-xs-push-2 {
    left: 16.6666666667%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-4 {
    left: 33.3333333333%
}

.col-xs-push-5 {
    left: 41.6666666667%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-7 {
    left: 58.3333333333%
}

.col-xs-push-8 {
    left: 66.6666666667%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-10 {
    left: 83.3333333333%
}

.col-xs-push-11 {
    left: 91.6666666667%
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-offset-0 {
    margin-left: 0
}

.col-xs-offset-1 {
    margin-left: 8.3333333333%
}

.col-xs-offset-2 {
    margin-left: 16.6666666667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.3333333333%
}

.col-xs-offset-5 {
    margin-left: 41.6666666667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.3333333333%
}

.col-xs-offset-8 {
    margin-left: 66.6666666667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.3333333333%
}

.col-xs-offset-11 {
    margin-left: 91.6666666667%
}

.col-xs-offset-12 {
    margin-left: 100%
}

@media (min-width:768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-1 {
        width: 8.3333333333%
    }
    .col-sm-2 {
        width: 16.6666666667%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-4 {
        width: 33.3333333333%
    }
    .col-sm-5 {
        width: 41.6666666667%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-7 {
        width: 58.3333333333%
    }
    .col-sm-8 {
        width: 66.6666666667%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-10 {
        width: 83.3333333333%
    }
    .col-sm-11 {
        width: 91.6666666667%
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-pull-1 {
        right: 8.3333333333%
    }
    .col-sm-pull-2 {
        right: 16.6666666667%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-4 {
        right: 33.3333333333%
    }
    .col-sm-pull-5 {
        right: 41.6666666667%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-7 {
        right: 58.3333333333%
    }
    .col-sm-pull-8 {
        right: 66.6666666667%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-10 {
        right: 83.3333333333%
    }
    .col-sm-pull-11 {
        right: 91.6666666667%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-push-1 {
        left: 8.3333333333%
    }
    .col-sm-push-2 {
        left: 16.6666666667%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-4 {
        left: 33.3333333333%
    }
    .col-sm-push-5 {
        left: 41.6666666667%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-7 {
        left: 58.3333333333%
    }
    .col-sm-push-8 {
        left: 66.6666666667%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-10 {
        left: 83.3333333333%
    }
    .col-sm-push-11 {
        left: 91.6666666667%
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
    .col-sm-offset-1 {
        margin-left: 8.3333333333%
    }
    .col-sm-offset-2 {
        margin-left: 16.6666666667%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-4 {
        margin-left: 33.3333333333%
    }
    .col-sm-offset-5 {
        margin-left: 41.6666666667%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-7 {
        margin-left: 58.3333333333%
    }
    .col-sm-offset-8 {
        margin-left: 66.6666666667%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-10 {
        margin-left: 83.3333333333%
    }
    .col-sm-offset-11 {
        margin-left: 91.6666666667%
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
}

@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }
    .col-md-1 {
        width: 8.3333333333%
    }
    .col-md-2 {
        width: 16.6666666667%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-4 {
        width: 33.3333333333%
    }
    .col-md-5 {
        width: 41.6666666667%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-7 {
        width: 58.3333333333%
    }
    .col-md-8 {
        width: 66.6666666667%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-10 {
        width: 83.3333333333%
    }
    .col-md-11 {
        width: 91.6666666667%
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-pull-1 {
        right: 8.3333333333%
    }
    .col-md-pull-2 {
        right: 16.6666666667%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-4 {
        right: 33.3333333333%
    }
    .col-md-pull-5 {
        right: 41.6666666667%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-7 {
        right: 58.3333333333%
    }
    .col-md-pull-8 {
        right: 66.6666666667%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-10 {
        right: 83.3333333333%
    }
    .col-md-pull-11 {
        right: 91.6666666667%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-push-1 {
        left: 8.3333333333%
    }
    .col-md-push-2 {
        left: 16.6666666667%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-4 {
        left: 33.3333333333%
    }
    .col-md-push-5 {
        left: 41.6666666667%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-7 {
        left: 58.3333333333%
    }
    .col-md-push-8 {
        left: 66.6666666667%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-10 {
        left: 83.3333333333%
    }
    .col-md-push-11 {
        left: 91.6666666667%
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
    .col-md-offset-1 {
        margin-left: 8.3333333333%
    }
    .col-md-offset-2 {
        margin-left: 16.6666666667%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-4 {
        margin-left: 33.3333333333%
    }
    .col-md-offset-5 {
        margin-left: 41.6666666667%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-7 {
        margin-left: 58.3333333333%
    }
    .col-md-offset-8 {
        margin-left: 66.6666666667%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-10 {
        margin-left: 83.3333333333%
    }
    .col-md-offset-11 {
        margin-left: 91.6666666667%
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
}

@media (min-width:1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }
    .col-lg-1 {
        width: 8.3333333333%
    }
    .col-lg-2 {
        width: 16.6666666667%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-4 {
        width: 33.3333333333%
    }
    .col-lg-5 {
        width: 41.6666666667%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-7 {
        width: 58.3333333333%
    }
    .col-lg-8 {
        width: 66.6666666667%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-10 {
        width: 83.3333333333%
    }
    .col-lg-11 {
        width: 91.6666666667%
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-pull-0 {
        right: auto
    }
    .col-lg-pull-1 {
        right: 8.3333333333%
    }
    .col-lg-pull-2 {
        right: 16.6666666667%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-pull-4 {
        right: 33.3333333333%
    }
    .col-lg-pull-5 {
        right: 41.6666666667%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-pull-7 {
        right: 58.3333333333%
    }
    .col-lg-pull-8 {
        right: 66.6666666667%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-pull-10 {
        right: 83.3333333333%
    }
    .col-lg-pull-11 {
        right: 91.6666666667%
    }
    .col-lg-pull-12 {
        right: 100%
    }
    .col-lg-push-0 {
        left: auto
    }
    .col-lg-push-1 {
        left: 8.3333333333%
    }
    .col-lg-push-2 {
        left: 16.6666666667%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-push-4 {
        left: 33.3333333333%
    }
    .col-lg-push-5 {
        left: 41.6666666667%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-push-7 {
        left: 58.3333333333%
    }
    .col-lg-push-8 {
        left: 66.6666666667%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-push-10 {
        left: 83.3333333333%
    }
    .col-lg-push-11 {
        left: 91.6666666667%
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-offset-0 {
        margin-left: 0
    }
    .col-lg-offset-1 {
        margin-left: 8.3333333333%
    }
    .col-lg-offset-2 {
        margin-left: 16.6666666667%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-4 {
        margin-left: 33.3333333333%
    }
    .col-lg-offset-5 {
        margin-left: 41.6666666667%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-7 {
        margin-left: 58.3333333333%
    }
    .col-lg-offset-8 {
        margin-left: 66.6666666667%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-10 {
        margin-left: 83.3333333333%
    }
    .col-lg-offset-11 {
        margin-left: 91.6666666667%
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.content--center,
.list--icons i {
    text-align: center
}

.background--grey {
    background-color: #f7f7f7
}

.background--navy {
    background-color: #273375
}

.button,
.spr-button-primary.button-primary,
.spr-summary-actions-newreview {
    display: inline-block;
    padding: .6em 1.4em;
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1em;
    line-height: 1
}

.button--grey,
.button--grey-dark,
.button--pink,
.button--white {
    border-color: transparent
}

.list--icons i,
.list--social-sharing a {
    font-size: 1.333333333em
}

.content li,
.content p,
.nav-tabs>li>a {
    line-height: 1.4
}

.button:focus,
.button:hover,
.spr-button-primary.button-primary:focus,
.spr-button-primary.button-primary:hover,
.spr-summary-actions-newreview:focus,
.spr-summary-actions-newreview:hover {
    outline: 0;
    cursor: pointer
}

.button--disabled.spr-button-primary.button-primary,
.button--disabled.spr-summary-actions-newreview,
.button.button--disabled,
.button:disabled,
.button[disabled=disabled],
.spr-button-primary.button-primary:disabled,
.spr-summary-actions-newreview:disabled,
[disabled=disabled].spr-button-primary.button-primary,
[disabled=disabled].spr-summary-actions-newreview {
    cursor: not-allowed
}

.button--black,
.spr-button-primary.button-primary,
.spr-summary-actions-newreview {
    border-color: transparent;
    color: #fff;
    background-color: #000
}

.button--black:focus,
.button--black:hover,
.spr-button-primary.button-primary:focus,
.spr-button-primary.button-primary:hover,
.spr-summary-actions-newreview:focus,
.spr-summary-actions-newreview:hover {
    color: #fff;
    background-color: #1a1a1a
}

.button--black.button--disabled,
.button--black:disabled,
.button--black[disabled=disabled],
.button--disabled.spr-button-primary.button-primary,
.button--disabled.spr-summary-actions-newreview,
.spr-button-primary.button-primary:disabled,
.spr-summary-actions-newreview:disabled,
[disabled=disabled].spr-button-primary.button-primary,
[disabled=disabled].spr-summary-actions-newreview {
    background-color: #1a1a1a
}

.button--white {
    color: #000;
    background-color: #fff
}

.button--white:focus,
.button--white:hover {
    color: #000;
    background-color: #e6e6e6
}

.button--white.button--disabled,
.button--white:disabled,
.button--white[disabled=disabled] {
    background-color: #e6e6e6
}

.button--pink {
    color: #273375;
    background-color: #fbd3c9
}

.button--pink:focus,
.button--pink:hover {
    color: #273375;
    background-color: #e2beb5
}

.button--pink.button--disabled,
.button--pink:disabled,
.button--pink[disabled=disabled] {
    background-color: #e2beb5
}

.button--grey {
    color: #000;
    background-color: #f7f7f7
}

.button--grey:focus,
.button--grey:hover {
    color: #000;
    background-color: #dedede
}

.button--grey.button--disabled,
.button--grey:disabled,
.button--grey[disabled=disabled] {
    background-color: #dedede
}

.button--grey-dark {
    color: #000;
    background-color: #bbb
}

.button--grey-dark:focus,
.button--grey-dark:hover {
    color: #000;
    background-color: #a8a8a8
}

.button--grey-dark.button--disabled,
.button--grey-dark:disabled,
.button--grey-dark[disabled=disabled] {
    background-color: #a8a8a8
}

.button--outline-grey-dark {
    color: #000;
    border: 1px solid #bbb;
    background-color: transparent
}

.button--outline-grey-dark:focus,
.button--outline-grey-dark:hover {
    color: #000;
    background-color: #bbb
}

.button--outline-black {
    color: #000;
    border: 1px solid #000;
    background-color: transparent
}

.button--outline-black:focus,
.button--outline-black:hover {
    color: #fff;
    background-color: #000
}

.button--outline-white {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent
}

.button--outline-white:focus,
.button--outline-white:hover {
    color: #000;
    background-color: #fff
}

.button--text {
    color: #000
}

.button--text:focus,
.button--text:hover {
    outline: 0;
    cursor: pointer;
    color: #273375
}

.button--small {
    padding: .3em .7em
}

.button--large {
    padding: .9em 2.1em
}

.button--block {
    display: block;
    width: 100%
}

.content ul li,
.content>* {
    margin-top: 0;
    margin-bottom: 1.5rem
}

.content ul li:last-child,
.content>:last-child {
    margin-bottom: 0
}

.collection__products__wrapper>.row:not(:last-child),
.container>.row:not(:last-child) {
    margin-bottom: 15px
}

@media (min-width:768px) {
    .collection__products__wrapper>.row:not(: last-child), .container>.row:not(: last-child) {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    [class*=col-sm-]:not(: last-child) {
        margin-bottom: 15px
    }
    [class*=col-xs-6]:nth-last-child(2),
    [class*=col-xs-4]:nth-last-child(2),
    [class*=col-xs-4]:nth-last-child(3) {
        margin-bottom: 0
    }
    .pagination {
        font-size: .7500000002em
    }
}

.eq {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .eq {
        margin: auto;
    }
  
    .eq .col-sm-4 {
        width: initial; 
    }
}

.form .errors>ul {
    padding: 0;
    margin: 0 0 1rem
}

.form .errors>ul li {
    color: #f58e8b
}

.form__group {
    margin-bottom: 1rem
}

.form__group>label {
    display: block;
    margin-bottom: .5rem
}

.inline-form,
.newsletter-form {
    position: relative;
    display: table;
    border-collapse: separate;
    padding: .5em .5em .5em .25em;
    border-radius: 3px;
    background-color: #fff
}

.inline-form input,
.newsletter-form input {
    width: 100%;
    border: none;
    margin-bottom: 0
}

.inline-form input:focus,
.newsletter-form input:focus {
    background-color: #fff
}

.inline-form__button,
.newsletter-form__button {
    display: table-cell;
    position: relative;
    width: 1%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    vertical-align: middle
}

.list--social-links li,
.list--social-sharing li,
.pagination li {
    display: inline-block;
    border-radius: 2px;
}

.inline-form__button button,
.newsletter-form__button button {
    padding: .5em .75em;
    border: none
}

.inline-form {
    border: 1px solid #bbb
}

.list {
    padding: 0;
    margin: 0
}

.list--icons i {
    width: 1.2em;
    margin-right: .5em;
    vertical-align: bottom
}

.list--icons li {
    margin-bottom: .5em
}

.list--icons li:last-child {
    margin-bottom: 0
}

.list--social-links .list__message,
.list--social-sharing .list__message {
    text-transform: uppercase;
    font-weight: 400
}

.list--social-sharing li {
    vertical-align: middle;
    padding: .2em
}

.list--social-sharing li:first-child {
    padding-left: 0
}

.pagination {
    padding: 0;
    margin: 10px 0;
    text-align: right
}

.pagination li.active span {
    font-weight: 600;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: .5em 1em;
    background-color: #f7f7f7
}

.spacer,
.spacer-lg,
.spacer-md,
.spacer-sm,
.spacer-xl,
.spacer-xs {
    font-size: 0;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%
}

.pagination a {
    color: #000
}

.pagination a:focus,
.pagination a:hover {
    color: #000;
    background-color: #d9d9d9
}

.table tfoot tr,
.table thead tr {
    background-color: #f7f7f7
}

.spacer-xs {
    height: 7.5px
}

.spacer-sm {
    height: 15px
}

@media (min-width:768px) {
    .spacer-xs {
        height: 15px
    }
    .spacer-sm {
        height: 30px
    }
}

.spacer,
.spacer-md {
    height: 30px
}

.spacer-lg {
    height: 60px
}

@media (min-width:768px) {
    .spacer,
    .spacer-md {
        height: 60px
    }
    .spacer-lg {
        height: 120px
    }
}

.spacer-xl {
    height: 120px
}

@media (min-width:768px) {
    .spacer-xl {
        height: 240px
    }
}

.divider {
    height: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #bbb
}

.nav-tabs,
.table tbody tr {
    border-bottom: 1px solid #f7f7f7
}

.divider--bottom {
    margin-top: 60px;
    margin-bottom: 0
}

.table td,
.table th {
    padding: .25em .5em;
    text-align: left
}

.table thead tr {
    margin-bottom: .5em
}

.table tbody tr:first-child td {
    padding-top: 1em
}

.table tbody tr:last-child td {
    padding-bottom: 1em
}

.table,
.table table {
    border-collapse: collapse
}

.table--full-width,
.table--full-width table {
    width: 100%
}

.table--responsive {
    min-height: .01%;
    overflow-x: auto
}

.nav {
    margin-bottom: 0;
    padding-left: 0
}

.nav::after {
    clear: both;
    content: "";
    display: table
}

.nav>li,
.nav>li>a {
    display: block;
    position: relative
}

.nav>li>a {
    padding: 15px
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #f7f7f7
}

.nav>li>a>img {
    max-width: none
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs>li>a {
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 0
}

.nav-tabs>li>a:hover {
    border-color: #f7f7f7
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #f58e8b;
    background-color: #fff;
    border: 1px solid #f58e8b;
    border-bottom-color: transparent;
    cursor: default
}

.blog-header:after,
.tabs__nav li.active:after {
    content: '';
    height: 3px;
    background-color: #000;
    left: 0
}

.tabs__nav {
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid #f7f7f7
}

.tabs__nav li {
    position: relative;
    display: inline-block;
    margin: 0
}

.tabs__nav li.active:after {
    position: absolute;
    top: 100%;
    width: 100%
}

.tabs__nav li.active a {
    color: #000
}

.tabs__nav a {
    position: relative;
    display: block;
    padding: .5em 1em;
    font-weight: 600;
    color: rgba(0, 0, 0, .5)
}

.tabs__nav a:focus,
.tabs__nav a:hover {
    color: rgba(0, 0, 0, .75)
}

.tabs__content {
    font-weight: 300
}

.tabs__content h1,
.tabs__content h2,
.tabs__content h3,
.tabs__content h4,
.tabs__content h5 {
    text-transform: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    letter-spacing: .01em
}

.tabs__content h1 {
    font-size: 1.8em
}

.tabs__content h2 {
    font-size: 1.6em
}

.tabs__content h3 {
    font-size: 1.4em
}

.tabs__content h4 {
    font-size: 1.2em
}

.tabs__content__pane {
    display: none
}

.tabs__content__pane.active {
    display: block
}

.hide-mobile {
    display: none
}

@media (min-width:768px) {
    .hide-mobile {
        display: block
    }
    .show-mobile {
        display: none
    }
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.blog-header {
    position: relative;
    padding-top: 30px;
    border-top: 10px solid #000;
    border-bottom: 1px solid transparent;
    text-align: center
}

.blog-header:after {
    display: block;
    position: absolute;
    right: 0;
    width: 120px;
    margin: 0 auto
}

.blog-header__subheading {
    margin-bottom: 2em;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    letter-spacing: .2em
}

.blog-header--blog .blog-header__heading {
    letter-spacing: .2em
}

.blog-header--article .blog-header__heading {
    text-transform: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    letter-spacing: .01em
}

.blog-footer a,
.breadcrumbs,
.cart__item__remove {
    text-transform: uppercase
}

.blog-content {
    padding-top: 30px;
    padding-bottom: 30px
}

.blog-footer {
    position: relative;
    padding: 1em 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center
}

.blog-footer a {
    color: #000;
    font-weight: 500
}

.blog-footer a:focus,
.blog-footer a:hover {
    color: #f58e8b
}

.blog-footer__prev {
    position: absolute;
    left: 0
}

.blog-footer__next {
    position: absolute;
    right: 0
}

.blog-sidebar__trending h4 {
    margin-top: 0;
    letter-spacing: .08em
}

.blog-sidebar__trending a {
    font-weight: 600;
    font-size: 14px;
    color: #000
}

.blog-sidebar__trending a:focus,
.blog-sidebar__trending a:hover {
    color: #f58e8b
}

.breadcrumbs {
    padding: 30px 0;
    font-size: 14px
}

.breadcrumbs a,
.breadcrumbs span,
.cart td,
.cart th {
    padding-right: .5em
}

.breadcrumbs span i {
    color: rgba(0, 0, 0, .5)
}

.cart table {
    width: 100%
}

.cart td,
.cart th {
    text-align: left;
    padding-left: .5em
}

@media (min-width:768px) {
    .cart td,
    .cart th {
        padding-left: 30px;
        padding-right: 30px
    }
}

.cart td:first-child,
.cart th:first-child {
    padding-left: 0
}

@media (max-width:767px) {
    .breadcrumbs {
        line-height: 1.5;
        font-size: .7500000002em
    }
    .cart table {
        font-size: 14px
    }
    .cart td:first-child,
    .cart th:first-child {
        display: none
    }
    .cart td:nth-child(2),
    .cart th:nth-child(2) {
        padding-left: 0
    }
}

.cart td:last-child,
.cart th:last-child {
    padding-right: 0
}

.cart td {
    padding-top: 15px;
    padding-bottom: 15px
}

.cart th {
    padding-top: 1em;
    padding-bottom: 1em
}

.cart__item__title {
    display: block;
    margin-bottom: 15px;
    font-size: 1.333333333em;
    font-weight: 300;
    color: #000
}

.cart__item__remove {
    display: block;
    margin-top: 15px;
    font-weight: 300;
    color: #bbb
}

.cart__footer {
    display: inline-block;
    width: 59%;
    text-align: left;
}

.cart__footer .button,
.cart__footer .spr-button-primary.button-primary,
.cart__footer .spr-summary-actions-newreview {
    margin-bottom: 1em
}

@media (max-width:500px) {
    .cart__footer {
        display: block;
        width: 100%;
    }

    .cart__footer .button,
    .cart__footer .spr-button-primary.button-primary,
    .cart__footer .spr-summary-actions-newreview {
        width: 49%;
    }
}

.cart__footer .form__group {
    margin-bottom: 30px;
    text-align: left
}

.countdown,
.cta,
.footer__bottom__nav,
.grid-item--collection-small,
.header__message,
.header__upper,
.lead {
    text-align: center
}

.cart__footer .additional-checkout-button--paypal-express {
    margin: 0!important;
    background-color: #f7f7f7!important
}

.cart__footer .additional-checkout-button--paypal-express:focus,
.cart__footer .additional-checkout-button--paypal-express:hover {
    background-color: #bbb!important
}

.cart__continue {
    display: block;
    width: 100%;
    text-align: left;
}

.cart__continue p {
    font-weight: 300;
}

.cart__continue a {
    width: 100%;
}

@media (min-width:501px) {
    .cart__continue {
        display: inline-block;
        width: 39%;
        vertical-align: top;
        text-align: right;
    }

    .cart__continue p {
        height: 60px;
        font-weight: 600;
    }

    .cart__continue a {
        width: initial;
    }
}

.cart__empty p {
    text-align: left;
}

.cart__empty a {
    width: 100%;
}

@media (min-width:501px) {
    .cart__empty p {
        text-align: center;
    }

    .cart__empty a {
        width: initial;
    }
}

.countdown {
    padding: 60px 0;
    background-color: #273375
}

.countdown__heading {
    margin: 0;
    font-family: Kristi, cursive;
    font-size: 5em;
    text-transform: none;
    color: #fbd3c9
}

.countdown__timer,
.lead__intro {
    font-family: "Reem Kufi", sans-serif
}

.countdown__timer {
    margin: 15px 0;
    font-size: 1.7777777769em;
    font-weight: 300;
    color: #fff
}

@media (min-width:768px) {
    .countdown__timer {
        font-size: 3.160493824em
    }
}

.countdown__timer>div {
    display: inline-block;
    position: relative;
    width: 2em
}

.countdown__timer>div:not(:first-child):before {
    content: ':';
    position: absolute;
    top: 0;
    left: -.12em;
    line-height: .75
}

.countdown__timer .num {
    display: block;
    line-height: 1;
    letter-spacing: .05em
}

.collection__empty h3,
.cross-promotion__content .button,
.cross-promotion__content .spr-button-primary.button-primary,
.cross-promotion__content .spr-summary-actions-newreview,
.cta,
.lead,
.saq .button,
.saq .spr-button-primary.button-primary,
.saq .spr-summary-actions-newreview,
.sellers .button,
.sellers .spr-button-primary.button-primary,
.sellers .spr-summary-actions-newreview {
    line-height: 1.2
}

.countdown__timer .text {
    display: block;
    font-size: .75rem;
    text-transform: uppercase;
    opacity: .5
}

.collection__sorting .button,
.collection__sorting .spr-button-primary.button-primary,
.collection__sorting .spr-summary-actions-newreview {
    font-weight: 300
}

.collection__sorting select {
    display: inline-block;
    width: 230px;
    background: transparent url("https://cdn.shopify.com/s/files/1/1489/9174/t/14/assets/arrow-down-black.png") no-repeat 90% center;
}

@media (max-width:991px) {
    .collection__sorting {
        margin-bottom: 20px;
    }
}

@media (min-width:768px) {
    .countdown__timer .text {
        font-size: 1rem
    }
    .collection--filters-active .collection__products__row {
        -webkit-transform: translateX(25%);
        transform: translateX(25%)
    }
}

.collection__sorting .spr-button-primary.button-primary,
.collection__sorting .spr-summary-actions-newreview {
    padding: .5em 1.4em;
    border-radius: 3px;
    text-transform: uppercase
}


.collection__sorting .button,
.collection__sorting select {
    border-radius: 3px;
    text-transform: uppercase
}

@media (min-width:768px) {
    .collection__sorting .button,
    .collection__sorting select {
        padding: .5em 1.4em;
    }
}

.collection__sorting .button:focus,
.collection__sorting .spr-button-primary.button-primary:focus,
.collection__sorting .spr-summary-actions-newreview:focus,
.collection__sorting select:focus {
    color: #000;
    background-color: transparent
}

.collection__sorting .button--filters-active.spr-button-primary.button-primary,
.collection__sorting .button--filters-active.spr-summary-actions-newreview,
.collection__sorting .button.button--filters-active,
.collection__sorting select.button--filters-active {
    color: #fff;
    border-color: #000
}

.collection__sorting .button--filters-active.spr-button-primary.button-primary,
.collection__sorting .button--filters-active.spr-button-primary.button-primary:focus,
.collection__sorting .button--filters-active.spr-summary-actions-newreview,
.collection__sorting .button--filters-active.spr-summary-actions-newreview:focus,
.collection__sorting .button.button--filters-active,
.collection__sorting .button.button--filters-active:focus,
.collection__sorting select.button--filters-active,
.collection__sorting select.button--filters-active:focus {
    background-color: #000
}

.collection__empty p {
    font-size: 1.7777777769em
}

.collection__products {
    position: relative
}

.collection__products__wrapper {
    overflow-x: hidden
}

.collection__products__row {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s
}

.collection--filters-active .collection__filters {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.collection--disable-transition .collection__filters,
.collection--disable-transition .collection__products__row {
    -webkit-transition: none;
    transition: none
}

.collection__filters {
    position: absolute;
    left: 15px;
    right: 15px;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    background-color: #fff;
    -webkit-transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, transform .5s;
    transition: opacity .5s, transform .5s, -webkit-transform .5s
}

@media (min-width:768px) {
    .collection__filters {
        top: 0;
        right: auto;
        left: 15px;
        width: 25%;
        padding-right: 30px;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

.tag-filter {
    padding: 15px 0;
    border-bottom: 1px solid #000
}

.tag-filter:first-child {
    border-top: 1px solid #000
}

.tag-filter__title {
    font-size: 1.333333333em;
    font-weight: 400
}

.tag-filter__list {
    margin: 0;
    padding: 15px 0 0
}

.tag-filter__list li {
    padding: 15px 0
}

.tag-filter__list li:not(:last-child) {
    border-bottom: 1px solid #f7f7f7
}

.tag-filter__list a {
    color: #000
}

.cross-promotion {
    position: relative;
    background-color: #f7f7f7
}

.cross-promotion__image {
    height: 180px
}

@media (min-width:768px) {
    .cross-promotion {
        padding-left: 50%
    }
    .cross-promotion__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 50%;
        height: auto
    }
    .saq,
    .sellers {
        width: 100%
    }
}

.cross-promotion__content,
.saq,
.sellers {
    padding: 30px;
    text-align: center
}

.cross-promotion__content p,
.saq p,
.sellers p {
    margin-top: 0;
    margin-bottom: 0
}

.cross-promotion__content .page-title,
.saq .page-title,
.sellers .page-title {
    margin-top: 0;
    line-height: 1.2
}

.saq .page-title,
.saq>*,
.sellers .page-title,
.sellers>* {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto
}

.cross-promotion--vertical {
    padding-left: 0
}

.cross-promotion--vertical .cross-promotion__image {
    position: relative;
    height: 180px
}

.saq {
    border: 5px solid #000
}

.saq .newsletter-form {
    border: 1px solid #f7f7f7
}

.sellers {
    color: #fff;
    background-color: #273375
}

@media (max-width: 991px) {
    .sellers {
        margin: 20px 0;
    }
}

.sellers a {
    padding-top: 0;
    color: #fff
}

.sellers a:focus,
.sellers a:hover {
    color: #f7f7f7
}

.sellers .page-title {
    color: #fff
}

.sellers .page-title:after {
    background-color: rgba(255, 255, 255, .5)
}

.cta {
    padding: 1em 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 14px
}

@media (min-width:768px) {
    .cta {
        font-size: 1.2em
    }
}

.cta a {
    font-weight: 600;
    color: #000
}

.cta a:focus,
.cta a:hover {
    color: #273375
}

.lead {
    padding: 30px 0;
    color: #666
}

.lead__intro {
    letter-spacing: .05em;
    font-weight: 500;
    text-transform: uppercase
}

.lead__text,
.product-customizer-options {
    font-weight: 300
}

.lead__text {
    margin-top: 1em
}

.product-customizer-option {
    padding-bottom: 1rem
}

.product-customizer-option label, .product__details__variations > label {
    display: inline-block;
    font-weight: 400
}

.product__details__variations > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-image: url(//cdn.shopify.com/s/files/1/0050/2492/t/2/assets/ico-select.svg?2766393148285493327);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: transparent;
    padding-right: 28px;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
}

.product-customizer-option-description {
    margin: .3em 0
}

.product-customizer-customizations-total {
    opacity: 1;
    color: #000
}

._ohe.lfloat span>span:first-child {
    display: none
}

.footer {
    background-color: #f7f7f7
}

.footer h5 {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 600
}

.footer hr {
    margin-top: 7.5px
}

.footer ul {
    margin: 0;
    padding: 0
}

.footer p,
.footer ul {
    font-size: 14px
}

.footer .list--social-links {
    margin-top: 30px
}

.footer .list--social-links li {
    padding: .2em;
    font-size: 1.7777777769em;
    vertical-align: middle
}

.footer .list--social-links .list__message {
    font-size: 1em
}

.cart__item button.wk-button-product {
    margin: 5px 0 0 0 !important;
}

@media (min-width:768px) and (max-width:991px) {
    .footer .list--social-links .list__message {
        display: block
    }
}

.footer__logo {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    width: 125px;
    margin: 0 auto;
    font-size: 0
}

.footer__upper {
    padding-top: 60px;
    padding-bottom: 60px
}

.footer__upper__nav a {
    display: block;
    padding: .5em 0;
    border-bottom: 1px solid #dedede;
    text-decoration: none
}

.header__nav__item>a {
    border-bottom: 1px solid #f7f7f7
}

.footer__upper__nav a:after {
    float: right;
    content: "\e902";
    font-family: icomoon!important
}

.grid-item--collection:before,
.header__account__list:before,
.header__nav__drawer__promotion-column:before,
.icon--accent:after,
.panel__header__ribbons__list span:before {
    content: ''
}

.footer__upper__nav li:first-child a {
    padding-top: 0
}

.footer__bottom {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff
}

.footer__bottom__nav li {
    display: inline-block
}

.footer__bottom__nav a {
    display: inline-block;
    padding: .5em
}

.grid-item {
    display: block
}

.grid-item--collection {
    position: relative;
    margin-bottom: 20px;
    background-color: #bbb
}

.grid-item--collection:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, .2);
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

.grid-item--collection:focus:before,
.grid-item--collection:hover:before {
    opacity: .5
}

.grid-item--collection .grid-item__inner {
    position: relative;
    padding: 30px
}

@media (min-width:768px) {
    .footer__logo {
        margin: 0 auto;
        width: 167px
    }
    .grid-item--collection {
        height: 300px
    }
    .grid-item--collection .grid-item__inner {
        position: absolute;
        padding: 0 60px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

.grid-item--collection .grid-item__title {
    margin-bottom: .5em;
    color: #fff;
    font-size: 2.3703703686em;
    font-weight: 300
}

.grid-item--collection-small {
    margin-bottom: 20px;
    padding: 15px 30px;
    font-size: 1.7777777769em;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #fff;
    background-color: #fbd3c9
}

.grid-item--collection-small:focus,
.grid-item--collection-small:hover {
    color: #000
}

body {
    padding-top: 50px
}

@media (min-width:992px) {
    body {
        padding-top: 179px
    }
}

body.message-visible {
    padding-top: 80px
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@media (min-width:992px) {
    body.message-visible {
        padding-top: 209px
    }
    .header {
        background-color: #fff;
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s
    }
    .header.header--hide {
        -webkit-transform: translateY(-128px);
        transform: translateY(-128px)
    }
    .header.header--hide.header--hide.header--message {
        -webkit-transform: translateY(-158px);
        transform: translateY(-158px)
    }
}

.header--active .header__upper__toggle__button {
    background-color: transparent;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.header--active .header__upper__toggle__button:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.header--active .header__upper__toggle__button:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.header--active .header__nav {
    display: block;
    opacity: 1
}

.header--active .header__upper__left {
    float: right
}

.header--active .header__upper__left a {
    display: none
}

.header--active .header__upper__left .header__upper__toggle {
    display: inline-block;
    padding-left: 7.5px;
    padding-right: 15px
}

.header--active .header__upper__logo {
    opacity: 0;
    pointer-events: none
}

.header--active .header__upper__right {
    display: none
}

.header--active .header__upper__back {
    display: block
}

.header__message {
    padding: .5em 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    background-color: #f7f7f7
}

.header__message .col-sm-12 {
    margin-bottom: 0
}

.header__message__close {
    float: right;
    color: #000
}

.header__message__close:focus,
.header__message__close:hover {
    color: #f58e8b
}

.header__upper {
    padding: 1px 0;
    background-color: #fff;
    height: 50px
}

@media (min-width:992px) {
    .header--active .header__upper__logo {
        opacity: 1;
        pointer-events: auto
    }
    .header--active .header__upper__back {
        display: none
    }
    .header__upper {
        padding: 30px 0 15px;
        height: auto
    }
    .header__upper__back,
    .header__upper__left,
    .header__upper__right {
        display: none
    }
}

.header__upper__back a,
.header__upper__left a,
.header__upper__right a {
    display: inline-block;
    padding: 15px 3px;
    line-height: 1;
    vertical-align: middle;
    color: #000
}

.header__upper__back a,
.header__upper__left a:first-child {
    padding-left: 15px
}

.header__upper__left {
    float: left
}

.header__upper__right {
    float: right
}

.header__upper__logo {
    display: block;
    width: 125px;
    margin: 4px auto;
    font-size: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

@media (min-width:992px) {
    .header__upper__logo {
        margin: 0 auto;
        width: 250px
    }
}

.header__upper__back {
    display: none;
    float: left
}

.header__upper__back--hide {
    opacity: 0
}

.header__upper__toggle {
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 0
}

.header__upper__toggle__button {
    position: relative;
    font-size: 16px;
    margin: 6px 0;
    -webkit-transition: background-color .2s, -webkit-transform .2s;
    transition: background-color .2s, -webkit-transform .2s;
    transition: background-color .2s, transform .2s;
    transition: background-color .2s, transform .2s, -webkit-transform .2s
}

.header__upper__toggle__button,
.header__upper__toggle__button:after,
.header__upper__toggle__button:before {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #000
}

.header__upper__toggle__button:after,
.header__upper__toggle__button:before {
    content: '';
    position: absolute;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: background-color .2s, -webkit-transform .2s;
    transition: background-color .2s, -webkit-transform .2s;
    transition: background-color .2s, transform .2s;
    transition: background-color .2s, transform .2s, -webkit-transform .2s
}

.header__upper__toggle__button:before {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px)
}

.header__upper__toggle__button:after {
    -webkit-transform: translateY(6px);
    transform: translateY(6px)
}

.header__nav {
    display: none;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

@media (min-width:768px) and (max-width:992px) {
    .header__nav {
        width: 100%
    }
}

@media (min-width:992px) {
    .header__nav {
        display: block!important;
        padding-left: 15px;
        padding-right: 15px;
        opacity: 1;
        -webkit-transition: none;
        transition: none
    }
}

.header__nav ul {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: calc(100vh - 50px)
}

@media only screen and (-webkit-min-device-pixel-ratio:1) and (device-width:768px) and (device-height:1024px) and (orientation:portrait) {
    .header__nav ul {
        height: 1024px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1) and (device-width:768px) and (device-height:1024px) and (orientation:landscape) {
    .header__nav ul {
        height: 768px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1) and (device-width:320px) and (device-height:480px) and (orientation:portrait) {
    .header__nav ul {
        height: 480px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1) and (device-width:320px) and (device-height:480px) and (orientation:landscape) {
    .header__nav ul {
        height: 320px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1) and (device-width:320px) and (device-height:568px) and (orientation:portrait) {
    .header__nav ul {
        height: 568px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1) and (device-width:320px) and (device-height:568px) and (orientation:landscape) {
    .header__nav ul {
        height: 320px
    }
}

.header__nav__center {
    text-align: center;
    overflow-y: auto
}

@media (min-width:992px) and (max-width:1199px) {
    .header__nav__center {
        text-align: left
    }
}

.header__nav__center i {
    float: right
}

.header__nav__right {
    display: none;
    position: absolute;
    top: 0;
    right: 15px;
    text-align: right
}

@media (min-width:992px) {
    .header__nav ul {
        height: auto
    }
    .header__nav__center {
        overflow-y: visible
    }
    .header__nav__center i {
        display: none
    }
    .header__nav__right {
        display: block
    }
}

.header__nav__right li {
    display: inline-block
}

.header__nav__right a {
    display: inline-block;
    padding: 1em .25em;
    color: #000
}

.header__nav__item {
    display: block;
    margin: 0;
    text-align: left
}

@media (min-width:992px) {
    .header__nav__item {
        display: inline-block
    }
}

.header__nav__item a {
    display: block;
    color: #000;
    font-weight: 300
}

.header__nav__item a:focus,
.header__nav__item a:hover {
    background-color: #f7f7f7
}

.header__nav__item>a {
    display: block;
    padding: 1em 1.25em;
    font-weight: 300
}

@media (min-width:992px) and (max-width:1199px) {
    .header__nav__item>a {
        padding: 1em .7em
    }
}

@media (min-width:992px) {
    .header__nav__item>a {
        display: inline-block;
        letter-spacing: .04em;
        text-transform: uppercase;
        border: none
    }
    .header__nav__item>a:focus,
    .header__nav__item>a:hover {
        background-color: transparent
    }
}

.header__nav__item--highlight a {
    color: #f58e8b;
    font-weight: 600
}

.header__nav__item--small {
    display: block;
    font-size: 14px
}

.header__nav__item--small a {
    padding-left: 1.25rem;
    border: none
}

.header__nav__item--active>.header__nav__drawer {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    pointer-events: auto
}

@media (min-width:992px) {
    .header__nav__item--small {
        display: none
    }
    .header__nav__item--active>.header__nav__drawer {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
    .header__nav__item--active>a {
        position: relative
    }
    .header__nav__item--active>a:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 5px;
        background-color: #273375
    }
    .header__nav__item--hover>a,
    .header__nav__item:focus>a,
    .header__nav__item:hover>a,
    .header__nav__right>li:hover>a {
        position: relative
    }
    .header__nav__item--hover>a:after,
    .header__nav__item:focus>a:after,
    .header__nav__item:hover>a:after,
    .header__nav__right>li:hover>a:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 5px;
        background-color: #273375
    }
    .header__nav__item--hover>.header__nav__drawer {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        pointer-events: auto
    }
}

@media (min-width:992px) and (min-width:992px) {
    .header__nav__item--hover>.header__nav__drawer {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
}

.header__nav__drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    pointer-events: none;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, -webkit-transform .2s;
    transition: transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s, -webkit-transform .2s
}

@media (max-width:992px) {
    .header__nav__drawer {
        display: block!important
    }
}

@media (min-width:992px) {
    .header__nav__drawer {
        top: 100%;
        opacity: 0;
        -webkit-transform: translateX(0) translateY(-5px);
        transform: translateX(0) translateY(-5px);
        border-top: 1px solid #f7f7f7
    }
    .header__nav__drawer:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        right: -100%;
        z-index: -1;
        background-color: #fff;
        border-bottom: 1px solid #bbb
    }
}

.header__nav__drawer__title {
    display: block;
    padding: 1em 1.25em;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #f7f7f7
}

.header__nav__drawer__column a {
    padding: 1em 1.25em;
    font-weight: 300;
    border-bottom: 1px solid #f7f7f7
}

.header__nav__drawer__column>ul {
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background-color: #fff;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s
}

@media (min-width:992px) {
    .header__nav__drawer__title {
        display: none
    }
    .header__nav__drawer__column>ul {
        position: relative;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    .header__nav__drawer__column {
        float: left;
        width: 20%;
        padding: 2em 15px 3em
    }
    .header__nav__drawer__column a {
        padding: .4em .7em;
        border: none
    }
    .header__nav__drawer__column>a {
        letter-spacing: .05em;
        text-transform: uppercase;
        font-weight: 600
    }
    .header__nav__drawer__column>a:focus,
    .header__nav__drawer__column>a:hover {
        background-color: transparent;
        cursor: default
    }
}

.header__nav__drawer__promotion-column {
    display: none;
    position: relative;
    float: left;
    width: 20%;
    padding: 2em 15px 3em
}

@media (min-width:992px) {
    .header__nav__drawer__promotion-column {
        display: block
    }
}

.header__nav__drawer__promotion-column:before {
    position: absolute;
    top: 2em;
    left: -15px;
    bottom: 3em;
    width: 3px;
    background-color: #f7f7f7
}

.header__nav__drawer__promotion-column a:focus,
.header__nav__drawer__promotion-column a:hover {
    background-color: transparent
}

.header__nav__drawer__column--active>ul {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.header__account {
    display: inline-block;
    position: relative
}

.header__account--active .header__account__list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.header__account__list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 160px;
    padding-left: 0;
    font-size: 14px;
    border: 1px solid #000;
    background-color: #fff;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, transform .5s;
    transition: opacity .5s, transform .5s, -webkit-transform .5s
}

.header__account__list:before {
    position: absolute;
    top: -.255em;
    right: .5em;
    width: .5em;
    height: .5em;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.header__account__list li {
    width: 100%;
}

.header__account__list a {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase
}

.header__account__list a:focus,
.header__account__list a:hover {
    background-color: #f7f7f7
}

.supports-touch .header__nav__drawer {
    display: block!important
}

.hero {
    position: relative;
    padding: 30px 0
}

.hero__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: .2;
    background-color: #000
}

.panel__header:focus .panel__header__ribbons,
.panel__header:hover .panel__header__ribbons,
.search {
    opacity: 0
}

.hero__heading,
.hero__preheading,
.hero__subheading {
    color: #fff
}

.hero__heading {
    margin: 0;
    font-family: Kristi, cursive;
    font-size: 4em;
    letter-spacing: 0;
    text-transform: none
}

.hero--collection .hero__subheading,
.hero--wrapbattle .hero__heading,
.hero--wrapbattle .hero__subheading,
.page-title small,
.panel__body__title,
.product__details__title,
body .ais-page .ais-facet--header {
    font-family: "Work Sans", sans-serif
}

@media (min-width:768px) {
    .hero__heading {
        font-size: 10em
    }
}

.hero__preheading,
.hero__subheading {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.2em;
    line-height: 1.4;
    letter-spacing: .09em
}

@media (min-width:768px) {
    .hero__preheading,
    .hero__subheading {
        margin-top: .5em;
        font-size: 2em
    }
}

.hero--collection .hero__preheading {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 1.333333333em
}

@media (min-width:768px) {
    .hero--collection .hero__preheading {
        margin-bottom: 0;
        font-size: 1.7777777769em
    }
    .hero--collection .hero__heading {
        font-size: 8em
    }
}

.hero--collection .hero__subheading {
    font-size: 1.333333333em;
    font-weight: 500;
    letter-spacing: .01em;
    text-transform: none
}

@media (min-width:992px) {
    .hero {
        padding: 120px 0
    }
    .hero--wrapbattle {
        padding: 90px 0
    }
}

.hero--wrapbattle .hero__image {
    width: 150px;
    height: auto
}

.hero--wrapbattle .hero__heading {
    font-size: 1.7777777769em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05em
}

@media (min-width:768px) {
    .hero--wrapbattle .hero__heading {
        font-size: 3.160493824em
    }
}

.hero--wrapbattle .hero__subheading {
    margin: .2em 0 0;
    line-height: 1;
    text-transform: none;
    letter-spacing: .01em
}

.hero--wrapbattle .button--outline-white {
    padding: .6em 1.4em;
    border-width: 3px;
    font-size: 1.333333333em;
    font-weight: 500;
    letter-spacing: .1em
}

.icon--accent {
    position: relative
}

.icon--accent:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: .4em;
    height: .4em;
    border-radius: 50%;
    background-color: #f58e8b
}

.panel__header {
    position: relative;
    padding-bottom: 60%;
    overflow: hidden
}

.panel__header__background {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s
}

.panel__header__background:focus,
.panel__header__background:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.panel__header__ribbons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    pointer-events: none;
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

.panel__header__ribbons__list {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    list-style: none
}

.panel__header__ribbons__list li {
    margin-bottom: .5em;
    text-align: right;
    font-size: .7500000002em;
    font-weight: 600
}

.panel__header__ribbons__list span {
    position: relative;
    display: inline-block;
    height: 24px;
    padding: .5em;
    white-space: nowrap;
    text-transform: uppercase
}

.panel__header__ribbons__list span:before {
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-width: 0
}

.panel__header__ribbons__list__sale span {
    color: #fff;
    background-color: #f2b538
}

.panel__header__ribbons__list__sale span:before {
    border-top-color: #f2b538;
    border-bottom-color: #f2b538
}

.panel__header__ribbons__list__new span {
    color: #fff;
    background-color: #273375
}

.panel__header__ribbons__list__new span:before {
    border-top-color: #273375;
    border-bottom-color: #273375
}

.panel__header__ribbons__list__exclusive span {
    color: #fff;
    background-color: #000
}

.panel__header__ribbons__list__exclusive span:before {
    border-top-color: #000;
    border-bottom-color: #000
}

.panel__header__ribbons__list__sold-out span {
    color: #fff;
    background-color: #f58e8b
}

.panel__header__ribbons__list__sold-out span:before {
    border-top-color: #f58e8b;
    border-bottom-color: #f58e8b
}

.panel__body {
    padding-top: 30px
}

.panel--collection .panel__body,
.panel--product .panel__body {
    padding-top: 15px
}

.panel__body>* {
    margin-top: 0;
    margin-bottom: 1rem
}

.panel__body>:last-child {
    margin-bottom: 0
}

.panel__body__meta {
    color: #bbb;
    text-transform: uppercase
}

.panel__body__meta:focus,
.panel__body__meta:hover {
    color: #000
}

.panel__body__title {
    display: block;
    font-size: 1.7777777769em;
    line-height: 1.1;
    font-weight: 600
}

.panel__body__link {
    text-transform: uppercase;
    letter-spacing: .05em
}

.panel--collection .panel__header {
    padding-bottom: 80%
}

.panel--collection .panel__body__meta {
    display: inline-block;
    margin-bottom: 0
}

.panel--product-large:after,
.panel--product-large:before,
.product__gallery:after,
.product__gallery:before {
    content: "";
    display: table
}

.panel--collection .panel__body__title {
    font-size: 1em;
    letter-spacing: .05em
}

.panel--product .panel__header {
    padding-bottom: 100%
}

.panel--product .panel__body>* {
    margin-bottom: .2rem
}

.panel--product .panel__body>:last-child {
    margin-bottom: 0
}

.panel--product .panel__body__heading {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase
}

.panel--product .panel__body__title {
    font-size: 14px;
    font-weight: 300
}

.panel--product .panel__body__price {
    font-size: 14px
}

.panel--product .panel__body__price__current {
    font-weight: 600
}

.panel--product .panel__body__price__compare {
    text-decoration: line-through;
    font-weight: 400;
    color: rgba(0, 0, 0, .5)
}

.panel--product-large {
    padding: 30px;
    background-color: #f7f7f7
}

.panel--product-large:after {
    clear: both
}

@media (min-width:768px) {
    .panel--product-large .panel__header {
        float: left;
        width: 45%;
        padding-bottom: 45%
    }
    .panel--product-large .panel__body {
        float: right;
        width: 50%;
        padding-top: 0;
        padding-left: 15px
    }
}

.panel--instagram .panel__header,
.product__image {
    padding-bottom: 100%
}

.panel--product-large .panel__body__title {
    font-size: 1.333333333em;
    font-weight: 300
}

.panel--product-large .panel__body__price__current {
    font-weight: 600
}

.panel--product-large .panel__body__price__compare {
    text-decoration: line-through;
    font-weight: 400;
    color: rgba(0, 0, 0, .5)
}

.panel--article .panel__body__content {
    font-size: 14px
}

.product__image {
    background-color: #f7f7f7
}

.search,
input.search__field:focus {
    background-color: #fff
}

.product__gallery {
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px
}

.product__gallery:after {
    clear: both
}

.product__gallery__item {
    float: left;
    width: 25%;
    padding: 0 5px 10px;
    cursor: pointer
}

.product__details__share {
    padding-top: 15px
}

@media (min-width:992px) {
    .product__gallery__item {
        width: 20%
    }
    .product__details__share {
        padding-top: 0;
        text-align: right
    }
}

.product__details__title {
    margin: .2em 0;
    letter-spacing: .01em;
    font-weight: 300;
    text-transform: none;
    font-size: 1.7777777769em
}

@media (min-width:768px) {
    .product__details__title {
        font-size: 2.3703703686em
    }
}

.product__details__subtitle {
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .5)
}

.product__details__price {
    margin-top: .7em;
    font-size: 1.7777777769em
}

.product__details__price__current {
    font-weight: 600
}

.product__details__price__compare {
    font-weight: 500;
    text-decoration: line-through;
    color: rgba(0, 0, 0, .5)
}

.product__details__availability {
    display: inline-block;
    padding: .5em 1em;
    font-size: 14px;
    text-transform: uppercase;
    color: #f58e8b;
    border: 1px solid #f58e8b;
    border-radius: 2px
}

.product__details__quantity {
    display: inline-block;
    position: relative;
    margin-right: .5em
}

.product__details__quantity input {
    width: 7em;
    padding: .6em 1em;
    text-align: center;
    font-weight: 600
}

.product .spr-button-primary,
.product__details__message,
body div.snize-ac-results li.snize-category {
    font-weight: 300
}

.product__details__quantity__modifiers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none
}

.product__details__quantity__modifiers>* {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: .5em .75em;
    pointer-events: auto;
    cursor: pointer
}

.product__details__quantity__modifiers>*,
.product__details__quantity__modifiers>* i {
    line-height: 1.4
}

.product__details__quantity__modifiers .up {
    right: 0;
    border-left: 1px solid #bbb
}

.product__details__quantity__modifiers .down {
    left: 0;
    border-right: 1px solid #bbb
}

.product .spr-container,
input.search__field {
    border: none
}

.product__details__message {
    margin-top: 30px
}

.product__details__message img {
    float: left;
    width: 50px;
    margin-right: 15px
}

.product__details__message p {
    padding-top: .2em;
    padding-left: 65px;
    font-size: 14px
}

.search {
    display: none;
    opacity: 0;
    height: 50px;
    pointer-events: none;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.search form {
    position: relative;
    padding-left: 30px;
    padding-right: 30px
}

.search--active {
    opacity: 1;
    pointer-events: auto
}

.search__wrapper {
    padding: 8px 0
}

.search__close,
.search__search {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: .5em
}

body .ais-page .ais-current-refined-values--item:before,
body .ais-search-header,
body div.snize-ac-results div.snize-dropdown-arrow {
    display: none
}

.search__search {
    left: 0
}

.search__close {
    right: 0;
    cursor: pointer
}

body div.snize-ac-results li {
    margin-top: .2em;
    margin-bottom: .2em
}

body div.snize-ac-results li.snize-label {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    color: #fff;
    background-color: #273375
}

body div.snize-ac-results li,
body div.snize-ac-results li.snize-category,
body div.snize-ac-results span.snize-description,
body div.snize-ac-results span.snize-price,
body div.snize-ac-results span.snize-title {
    color: #000
}

body div.snize-ac-results span.snize-title {
    font-size: 14px;
    font-weight: 300
}

body div.snize-ac-results span.snize-price {
    margin-top: 0;
    font-size: 14px;
    font-weight: 600
}

body div.snize-ac-results span.snize-description,
body div.snize-ac-results strong {
    font-weight: 300
}

body div.snize-ac-results span.snize-description {
    margin-top: .4em;
    margin-bottom: .25em;
    font-size: .7500000002em
}

body div.snize-ac-results li.snize-view-all-link span {
    color: #000;
    font-size: 14px
}

body .ais-page div.ais-input {
    margin-bottom: 15px
}

body .ais-page div.ais-hits {
    margin: 0 -15px
}

body .ais-page div.ais-hits--item {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px
}

@media (min-width:768px) {
    body .ais-page div.ais-hits--item {
        float: left;
        width: 33.3333%
    }
    body .ais-page div.ais-hits--item:nth-child(3n+1) {
        clear: left
    }
}

body .ais-page .ais-facet--header,
body .ais-page .ais-input--label {
    color: #000;
    background-color: #f7f7f7
}

body .aa-dropdown-menu .aa-footer,
body .ais-page .ais-current-refined-values--link {
    background-color: #f7f7f7
}

body .aa-dropdown-menu-size-lg .aa-right-column,
body .ais-page .ais-input {
    border-color: #f7f7f7
}

body .ais-page .ais-facet--header {
    font-weight: 600;
    text-transform: uppercase
}

body .aa-dropdown-menu .aa-product-price {
    color: #000;
    font-size: 14px;
    font-weight: 600
}

body .aa-dropdown-menu {
    border-color: #273375 #bbb #bbb
}

body .aa-dropdown-menu .aa-highlight {
    font-weight: 400
}

body .ais-page .ais-facet--active {
    font-weight: 500
}

body .ais-page .ais-facet {
    color: #000;
    border: none
}

body .ais-page .ais-current-refined-values--label {
    color: #000;
    font-weight: 500
}

body .search__wrapper .algolia-autocomplete {
    width: 100%
}

.seller-content {
    position: relative
}

.seller-content__content {
    padding-top: 15px;
    padding-bottom: 60px
}

.seller-content__content h4 {
    text-align: center
}

@media (min-width:768px) {
    .seller-content__content {
        padding-top: 60px
    }
    .seller-content__content h4 {
        text-align: left
    }
}

.giftcard,
.giftcard__card__code,
.page-title {
    text-align: center
}

.seller-content__image {
    width: 100%;
    height: 120px
}

@media (min-width:768px) {
    .seller-content__image {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        height: 100%
    }
    .seller-content--left .seller-content__content {
        padding-right: 55%
    }
    .seller-content--left .seller-content__image {
        right: 0
    }
    .seller-content--right .seller-content__content {
        padding-left: 55%
    }
    .seller-content--right .seller-content__image {
        left: 0
    }
}

.page-title {
    position: relative;
    margin: 60px 0
}

.page-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 60px;
    margin: 27px auto 0;
    background-color: #000
}

.page-title small {
    display: block;
    margin-top: .3em
}

.page-title-secondary {
    font-size: 2.3703703686em;
    text-align: center;
    font-weight: 300
}

.giftcard #QrCode img {
    margin: 30px auto 60px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 4px
}

.giftcard__card {
    position: relative
}

.giftcard__card__amount {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    padding: 15px
}

.giftcard__card__amount small,
.giftcard__card__amount strong {
    color: #fff
}

.giftcard__card__amount strong {
    display: block;
    font-size: 2.3703703686em;
    font-weight: 600
}

.giftcard__card__amount small {
    font-weight: 400
}

.giftcard__card__code {
    position: absolute;
    width: 100%;
    z-index: 50;
    bottom: 30px
}

.giftcard__card__code__inner {
    display: inline-block;
    padding: .5em;
    max-width: 450px;
    border-radius: 4px;
    vertical-align: baseline;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    background-color: #fff
}

.giftcard__card__code__text {
    display: inline-block;
    padding: .5em 1em;
    line-height: 1;
    font-size: 1.333333333em;
    vertical-align: baseline;
    text-transform: uppercase;
    font-weight: 300;
    color: #273375
}

.giftcard--disabled .giftcard__card__code__text {
    text-decoration: line-through
}

/* New Footer Links Section */
.section--footer-links { background-color: #2e2e2e; }
.section--footer-links .footer-links-logo {
    text-align: center;
    padding-top: 30px;
    line-height: 0;
}
.section--footer-links .footer-links-logo img { display: inline-block; }
.section--footer-links .footer-links-logo .footer-logo-caption {
    opacity: 0.5;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #fff;
    margin: 15px auto;
    max-width: 275px;
}
.section--footer-links .footer-links {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 36px;
}
.section--footer-links .footer-links .footer-linkitem { margin: 0 10px 22px;}
.section--footer-links .footer-links .footer-link {
    color: #fff;
    text-decoration: underline;
}
@media screen and (min-width: 48em) {
    .section--footer-links .footer-links-logo .footer-logo-caption {
        font-size: 16px;
        max-width: 650px;
        padding: 0 50px;
    }
}

/* Filter accordions css*/
/*.collection--filters-active .collection__filters { box-shadow: 2px 2px 9px rgba(122,122,122,0.2);}*/
.applied-filters-container {
    background-color: #fff;
    padding: 10px;
}
.accordion.filter-accordion dl,
.accordion-list {

}
.accordion.filter-accordion dd,
.accordion__panel {
    background-color: #fff;
    font-size: 1em;
    line-height: 1.5em;
}
.accordion.filter-accordion p {
    padding: 1em 2em 1em 2em;
}
.accordion.filter-accordion {
    padding: 5px;
    position: relative;
    background-color: #fff;
}
.accordionTitle,
.accordion__Heading {
    border-top: 1px solid #000;
    padding: 10px 10px 10px 25px;
    display: block;
    text-decoration: none;
    color: #2c2c2c;
    transition: background-color 0.5s ease-in-out;
}
.accordionTitle,
.accordion__Heading, .filters-heading h6 {
    font-size: 1.4em;
    font-weight: 500;
}

.filters-heading h6 {
    font-family: "Work Sans", sans-serif;
    text-transform: none;
}

.accordionTitle:before,
.accordion__Heading:before {
    content: "";
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #000;
    border-right: 6px solid transparent;
    height: 6px;
    width: 6px;
    font-size: 1.5em;
    line-height: 0.5em;
    position: relative;
    left: -15px;
    top: 6px;
    float: left;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {

}

.accordionTitleActive,
.accordionTitle.is-expanded {

}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.accordionItem {
    height: auto;
    overflow: hidden;
    transition: max-height 1s;
}
.accordionItem .tag-filter__list li { padding: 8px 0; }
.accordion .tag-filter {
    border: none;
    padding: 0;
}
.accordion .tag-filter dt, .filters-heading, ul.applied-filters li { position: relative;}
.accordion .tag-filter dt .clear-filters, .filters-heading a,  ul.applied-filters li a {
    cursor: pointer;
    font-size: 12px;
    left: auto;
    position: absolute;
    right: 5px;
    top: 16px;
}
.accordion .tag-filter dt .clear-filters {
    display: none;
}
.accordion .tag-filter dt .clear-filters.is-enabled {
    display: block;
}
ul.applied-filters li { height: 24px; }
ul.applied-filters li a { top: 4px; }
.accordion .tag-filter dd { margin-left: 10px; }
.accordion .tag-filter .tag-filter__list { padding: 5px 0; }
.collection__products .collection__filters { background-color: #fff; }
.accordion label.form__styled input[type=checkbox]+span:before, label.form__styled input[type=radio]+span:before {
    height: 15px;
    top: 4px;
    width: 15px;
}
.accordion label.form__styled input[type=checkbox]+span:after, label.form__styled input[type=radio]+span:after {
    height: 11px;
    left: 2px;
    top: 6px;
    width: 11px;
}
ul.applied-filters {
    list-style: none;
    padding-left: 0;
}

@media screen and (min-width: 48em) {
    .accordionItem {
        /*max-height: 15em; */
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: available;
}

.animateIn {
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
