<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="blog-header blog-header--article">
                <h1 class="blog-header__heading">{{ article.title }}</h1>
                <h5 class="blog-header__subheading">{% include 'blog-subheading' %}</h5>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="blog-content">
                {{ article.content }}

                <div class="spacer"></div>

                {% include 'social-sharing' | social_share_message : 'Share this article' %}
            </div>

            <div class="blog-footer">
                {% if blog.previous_article %}
                    <a class="blog-footer__prev" href="{{ blog.previous_article }}">
                        <i class="icon icon-angle-left"></i> Previous
                    </a>
                {% endif %}

                <a class="blog-footer__all" href="{{ blog.url }}">All</a>

                {% if blog.next_article %}
                    <a class="blog-footer__next" href="{{ blog.next_article }}">
                        Next <i class="icon icon-angle-right"></i>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">I want more</h3>
        </div>
    </div>

    <div class="row">
        {% assign self = article %}
        {% assign count = 0 %}
        {% for article in blog.articles limit: 4 %}
            {% if self.id != article.id and count < 3 %}
                {% assign count = count | plus: 1 %}
                <div class="col-sm-4">
                    {% include 'article-item' %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="button button--black" href="{{ blog.url }}">View all</a>
        </div>
    </div>

</div>

<!-- TO UNINSTALL SEGMENT FOR SHOPIFY, DELETE THE FOLLOWING AUTOGENERATED CODE: -->
<script type="text/javascript"> if (typeof upsellSegmentArticleScript !== "undefined") { upsellSegmentArticleScript({{article | json}}, "{{ article.created_at | date: "%F" }}", "{{ article.published_at | date: "%F" }}", {{ article.comments_count | default: 0 | json }}, {{ article.url | default: '' | json}} ); } else { console.warn("Notice for the store admin, follow the guide here: https://segment.upsell-apps.com/help/uninstall"); } </script>
<!-- END AUTOGENERATED CODE -->

