{% paginate blog.articles by 6 %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="blog-header blog-header--blog">
                <h1 class="blog-header__heading">{{ settings.blog_title | default: 'The Wrap' }}</h1>
                <h5 class="blog-header__subheading">{% include 'blog-subheading' %}</h5>
            </div>

        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">

        <div class="col-sm-8">

            {% for article in blog.articles %}

                {% assign mod = forloop.index0 | modulo:2 %}

                {% if forloop.first or mod == 0 %}
                    <div class="row">
                {% endif %}

                <div class="col-sm-6">
                    {% include 'article-item' %}
                </div>

                {% if forloop.last or mod != 0 %}
                    </div>

                    {% if forloop.last == false %}
                        <div class="spacer"></div>
                    {% endif %}
                {% endif %}

            {% endfor %}

            {% if paginate.pages > 1 %}
                <div class="spacer"></div>
                {% include 'pagination' %}
            {% endif %}

        </div>

        {% capture trending %}
        {% if settings.blog_trending_1_title != blank and settings.blog_trending_1_link != blank %}
            {{ settings.blog_trending_1_title }} <a href="{{ settings.blog_trending_1_link }}">Read more</a>
        {% endif %}
        {% if settings.blog_trending_2_title != blank and settings.blog_trending_2_link != blank %}
            <br>{{ settings.blog_trending_2_title }} <a href="{{ settings.blog_trending_2_link }}">Read more</a>
        {% endif %}
        {% if settings.blog_trending_3_title != blank and settings.blog_trending_3_link != blank %}
            <br>{{ settings.blog_trending_3_title }} <a href="{{ settings.blog_trending_3_link }}">Read more</a>
        {% endif %}
        {% if settings.blog_trending_4_title != blank and settings.blog_trending_4_link != blank %}
            <br>{{ settings.blog_trending_4_title }} <a href="{{ settings.blog_trending_4_link }}">Read more</a>
        {% endif %}
        {% if settings.blog_trending_5_title != blank and settings.blog_trending_5_link != blank %}
            <br>{{ settings.blog_trending_5_title }} <a href="{{ settings.blog_trending_5_link }}">Read more</a>
        {% endif %}
        {% endcapture %}
        {% assign trending = trending | strip %}

        <div class="col-sm-4 blog-sidebar">
            {% if trending != blank %}
                <div class="blog-sidebar__trending">
                    <h4>Trending</h4>
                    <p>
                        {{ trending }}
                    </p>
                </div>

                <div class="spacer-sm"></div>
            {% endif %}

            {% include 'cross-promotion-saq' %}

            <div class="spacer-sm"></div>

            {% assign crossPromotionClass = 'cross-promotion--vertical' %}
            {% include 'cross-promotion' %}
        </div>

    </div>
</div>

{% endpaginate %}


<!-- TO UNINSTALL SEGMENT FOR SHOPIFY, DELETE THE FOLLOWING AUTOGENERATED CODE: -->
<script type="text/javascript"> if (typeof upsellSegmentBlogScript !== "undefined") { upsellSegmentBlogScript({{ blog.articles_count }}, "{{ blog.title }}", "{{ blog.url }}"); } else { console.warn("Notice for the store admin, follow the guide here: https://segment.upsell-apps.com/help/uninstall"); } </script>
<!-- END AUTOGENERATED CODE -->

