{% if cart.item_count > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">

                <h3 class="page-title">My Shopping Bag</h3>

                <div class="spacer-sm"></div>

                <form action="/cart" method="post" novalidate>
                    <div class="cart form">

                        <table>
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th><span class="show-mobile">Product</span></th>
                                {% if settings.product_quantity %}
                                    <th>Quantity</th>
                                    <th>Price</th>
                                {% else %}
                                    <th colspan="2"></th>
                                {% endif %}
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in cart.items %}
                                <tr class="cart__item"
                                    style="{% include 'product-customizer-helper' with 'hide-pricing-item-row' %}" {% include 'product-customizer-helper' with 'cart-row-data' %}">
                                <td class="cart__item__image">
                                    <a href="{{ item.url }}">
                                        <img src="{{ item | img_url: 'compact', format: 'pjpg' }}"
                                             alt="{{ item.product.title }}"/>
                                    </a>
                                </td>

                                <td>
                                    <a class="cart__item__title" href="{{ item.url }}">{{ item.product.title }}</a>

                                    {% if item.product.variants.size > 1 %}
                                        <span class="cart__item__variant">{{ item.variant.title }}</span>
                                    {% endif %}

                                    <div>
                                        {% include 'product-customizer-helper' %}
                                    </div>

                                    {% comment %}
                                    <!-- removed for Product Customizer pro, handled by the helper -->
                                    {% assign property_size = item.properties | size %}
                                    {% if property_size > 0 %}
                                        <div>
                                            {% for p in item.properties %}
                                                {% unless p.last == blank %}
                                                {{ p.first }}:

                                                {% comment %}
                                                Check if there was an uploaded file associated
                                                {% endcomment %}
                                                {% if p.last contains '/uploads/' %}
                                                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                {% else %}
                                                    {{ p.last }}
                                                {% endif %}

                                                <br>
                                                {% endunless %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% endcomment %}

                                    <a class="cart__item__remove {% include 'product-customizer-helper' with 'remove-from-cart-class' %}"
                                       href="{% include 'product-customizer-helper' with 'remove-from-cart-href' %}"
                                       data-id="{{ item.id }}">Remove</a>
                                    <!-- include 'wishlist-button-product' with '{{ item.product.id }}' -->
                                </td>

                                <td>
                                    <div class="product__details__quantity">
                                        <input type="text" name="updates[]" id="updates_{{ item.id }}"
                                               value="{{ item.quantity }}"
                                               data-id="{{ item.id }}"
                                               data-submit="true">

                                        <div class="product__details__quantity__modifiers">
                                            <span class="down"><i class="icon icon-minus"></i></span>
                                            <span class="up"><i class="icon icon-plus"></i></span>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <span class="cart__item__price">{% include 'product-customizer-helper' with 'item-line-price', items: cart.items %}</span>
                                </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        <div class="spacer-sm"></div>

                        <div class="cart__footer">
                            {% comment %}
                            <div class="form__group">
                                <label for="CartSpecialInstructions">{{ settings.cart_notes | default: 'Notes' }}</label>
                                <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                            </div>
                            {% endcomment %}

                            <p>
                                <strong><span>Subtotal</span>
                                <span>{{ cart.total_price | money }}</span></strong>
                            </p>

                            <p>Shipping & taxes calculated at checkout</p>

                            <input type="submit" name="update"
                                   class="button button--outline-black"
                                   value="Update bag">
                          
                            <input type="submit" name="checkout"
                                   class="button button--black"
                                   value="Checkout"
                                    {% if customer.email == 'stefanie.yaeger@redballoon.com.au' or customer.email contains '@bbe.io' %}
                                        style="background-image: url(//cdn.shopify.com/s/files/1/1443/3952/t/4/assets/homepage_collection_grid_1_image.jpg); background-position: center; background-size: cover;"
                                    {% endif %}
                            >

                            {% if additional_checkout_buttons %}
                                <div class="cart__footer__additional">
                                    {{ content_for_additional_checkout_buttons }}
                                </div>
                            {% endif %}

                        </div>

                        <div class="cart__continue">
                            <p>
                                {% if settings.cart_empty_message %}
                                    {{ settings.cart_empty_message }}
                                {% endif %}
                            </p>

                            <a class="button button--black" href="{{ settings.cart_empty_link }}">Continue shopping</a>
                        </div>

                        <div class="spacer"></div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script type="text/javascript">
      var CART = {{ cart | json }};
      var ITEMS = [];
                       console.log('cart is', CART); 
      if (CART.items.length) {
        CART.items.forEach(function(item) {
            ITEMS.push({
              category: item.product_type,
              name: item.product_title,
              price: (item.price / 100),
              product_id: item.product_id,
              sku: item.sku,
              url: item.url,
              image_url: item.image,
            });
        })
      }

      analytics.track('Cart Viewed', {
        items: ITEMS,
        cart_id: CART.token
      });
    </script>
{% else %}
    <div class="cart__empty container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h3 class="page-title">My Shopping Bag</h3>

                <div class="spacer-sm"></div>

                <p>
                    <strong>Your bag is empty</strong>
                </p>

                <p>
                    {% if settings.cart_empty_message %}
                        {{ settings.cart_empty_message }}
                    {% endif %}
                </p>

                <div class="spacer-sm"></div>

                <a class="button button--black" href="{{ settings.cart_empty_link }}">Continue shopping</a>
            </div>
        </div>
    </div>
{% endif %}

{% comment %}

<div class="spacer-xl"></div>

<div class="divider"></div>

{% if cart.item_count > 0 %}
    <div class="wrapper page-margin">
        <form action="/cart" method="post" novalidate class="cart">
            <h3>{{ 'cart.general.title' | t }}</h3>

            <div class="cart__body">
                <div class="cart__row medium-down--hide cart__header-labels">
                    <div class="grid--full">
                        <div class="grid__item large--one-half push--large--one-half">
                            <div class="grid--full">
                                {% if settings.product_quantity %}
                                    <div class="grid__item one-third medium-down--one-third">
                                        {{ 'cart.label.price' | t }}
                                    </div>
                                    <div class="grid__item one-third medium-down--one-third text-center">
                                        {{ 'cart.label.quantity' | t }}
                                    </div>
                                {% else %}
                                    <div class="grid__item two-thirds medium-down--two-thirds"></div>
                                {% endif %}
                                <div class="grid__item one-third medium-down--one-third text-right">
                                    {{ 'cart.label.total' | t }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %}
                Loop through products in the cart
                {% endcomment %}
                {% for item in cart.items %}
                    <div class="cart__row" data-id="{{ item.id }}"
                         style="{% include 'product-customizer-helper' with 'hide-pricing-item-row' %}" {% include 'product-customizer-helper' with 'cart-row-data' %}>
                        <div class="grid--full cart__row--table-large">

                            <div class="grid__item large--one-half">
                                <div class="grid--full cart__row--table-large">

                                    <div class="grid__item one-third">
                                        <a href="{{ item.url | within: collections.all }}" class="cart__image">
                                            <img src="{{ item | img_url: 'small', format: 'pjpg' }}"
                                                 alt="{{ item.title | escape }}">
                                        </a>
                                    </div>

                                    <div class="grid__item two-thirds cart__item__title">
                                        <a href="{{ item.url }}" class="h4--body">
                                            {{ item.product.title }}
                                        </a>
                                        {% include 'product-customizer-helper' %}
                                        {% unless item.variant.title contains 'Default' %}
                                        <p>
                                            <small>{{ item.variant.title }}</small>
                                        </p>
                                        {% endunless %}

                                        {% if settings.cart_vendor_enable %}
                                            <p>{{ item.vendor }}</p>
                                        {% endif %}

                                        {% comment %}
                                        <!-- removed for Product Customizer pro, handled by the helper -->
                                        {% assign property_size = item.properties | size %}
                                        {% if property_size > 0 %}
                                            {% for p in item.properties %}
                                                {% unless p.last == blank %}
                                                {{ p.first }}:

                                                {% comment %}
                                                Check if there was an uploaded file associated
                                                {% endcomment %}
                                                {% if p.last contains '/uploads/' %}
                                                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                {% else %}
                                                    {{ p.last }}
                                                {% endif %}

                                                <br>
                                                {% endunless %}
                                            {% endfor %}
                                        {% endif %}
                                        {% endcomment %}

                                        <a href="{% include 'product-customizer-helper' with 'remove-from-cart-href' %}"
                                           class="cart__remove uppercase lighten {% include 'product-customizer-helper' with 'remove-from-cart-class' %}"
                                           data-id="{{ item.id }}">
                                            <small>{{ 'cart.general.remove' | t }}</small>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="grid__item large--one-half">
                                <div class="grid--full cart__row--table-large">
                                    {% if settings.product_quantity %}
                                        <div class="grid__item one-third text-left">
                                            <span class="cart__mini-labels">{{ 'cart.label.price' | t }}</span>
                                            <span class="h5--body money">{% include 'product-customizer-helper' with 'item-price', items: cart.items %}</span>
                                        </div>

                                        <div class="grid__item one-third text-center">
                                            <span class="cart__mini-labels">{{ 'cart.label.quantity' | t }}</span>
                                            {% comment %}
                                            Added data-id for the ajax cart implementation only.
                                            {% endcomment %}
                                            <input type="number" name="updates[]" id="updates_{{ item.id }}"
                                                   value="{{ item.quantity }}" min="0" data-id="{{ item.id }}"
                                                   data-submit="true" class="ajaxcart--hide">
                                        </div>
                                    {% else %}
                                        <div class="grid__item two-thirds"></div>
                                    {% endif %}

                                    <div class="grid__item one-third text-right">
                                        <span class="cart__mini-labels">{{ 'cart.label.total' | t }}</span>
                                        <span class="h5--body money">{% include 'product-customizer-helper' with 'item-line-price', items: cart.items %}</span>
                                    </div>
                                </div>

                                <div class="ajaxcart__errors hidden errors text-center"
                                     id="ajaxcart__item__{{ item.id }}__errors">
                                    {{ 'cart.general.stockout' | t }}
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="cart__row cart__footer">
                <div class="grid">
                    {% comment %}
                    Optional, add a textarea for special notes
                    - Your theme settings can turn this on or off. Default is on.
                    - Make sure you have name="note" for the message to be submitted properly
                    {% endcomment %}
                    {% if settings.cart_notes_enable %}
                        <div class="grid__item large--one-half cart__instructions">
                            <label class="cart__instructions__label"
                                   for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                            <textarea name="note" class="input-full"
                                      id="CartSpecialInstructions">{{ cart.note }}</textarea>
                        </div>
                    {% endif %}
                    <div class="grid__item {% if settings.cart_notes_enable %} large--one-half text-right{% endif %}">
                        <p class="cart__footer__text">
                            <span class="cart__subtotal-title uppercase">{{ 'cart.general.subtotal' | t }}</span>
                            <span class="h3--body cart__subtotal money">{{ cart.total_price | money }}</span>
                        </p>
                        <p class="cart__footer__text"><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
                        <input type="submit" name="update" class="btn--secondary update-cart btn--large uppercase"
                               value="{{ 'cart.general.update' | t }}">
                        <span><input type="submit" name="checkout" class="btn uppercase btn--large checkout__button"
                                     value="{{ 'cart.general.checkout' | t }}"></span>
                    </div>
                    {% if additional_checkout_buttons and settings.cart_show_additional_buttons %}
                        <div class="grid__item additional-checkout-buttons">
                            {{ content_for_additional_checkout_buttons }}
                        </div>
                    {% endif %}
                </div>

            </div>

        </form>
    </div>
{% endif %}
{% endcomment %}

{% include 'product-customizer-helper' with 'product-customizer-script' %}
{% include "CK_snippet" %}

<!-- TO UNINSTALL SEGMENT FOR SHOPIFY, DELETE THE FOLLOWING AUTOGENERATED CODE: -->
<script type="text/javascript"> if (typeof upsellSegmentCartScript !== "undefined") { upsellSegmentCartScript({{ cart | json}}); } else { console.warn("Notice for the store admin, follow the guide here: https://segment.upsell-apps.com/help/uninstall"); } </script>
<!-- END AUTOGENERATED CODE -->

