{% paginate collection.products by 32 %}

{% assign hero_image = 'wrapped-collection-fallback.jpg' | asset_img_url: '1600x' %}
{% if collection.image %}
    {% assign hero_image = collection.image | img_url: '1600x', format: 'pjpg' %}
{% endif %}
{% assign descriptions = collection.description | split: "<!-- split -->" %}
{% assign short_desc = descriptions[0] %}
{% assign long_desc = descriptions[1] %}
<div class="hero hero--collection"
     style="background-image: url({{ hero_image }})"
>
    <div class="hero__overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                {% capture preheading %}{% include 'collection-super' | collection: collection %}{% endcapture %}
                <h3 class="hero__preheading">{{ preheading | strip }}</h3>

                <h1 class="hero__heading">{% include 'collection-title' | collection: collection %}</h1>

                {% if collection.description.size > 0 %}
                    <h3 class="hero__subheading">{{ short_desc }}</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {% include 'collection-sorting' %}
        </div>

        {% capture page_items %}
        {% if paginate.next %}
            {{ paginate.current_offset | plus: paginate.page_size }}
        {% else %}
            {{ paginate.items }}
        {% endif %}
        {% endcapture %}

        <div class="col-sm-6 text-right">
            Showing {{ paginate.current_offset | plus: 1 }} - {{ page_items }} of {{ paginate.items }}
        </div>
    </div>
</div>

<div class="container collection__products">

    <div class="collection__filters">
        {% include 'collection-filters' %}
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if paginate.pages > 1 %}
                {% include 'pagination' %}
            {% endif %}
        </div>
    </div>

    <div class="collection__products__wrapper">
        {% assign product_count = 0 %}
        {% if collection.products_count > 0 %}
            {% for product in collection.products %}
              {% if product.available %}
                {% if product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}
                {% assign mod = product_count | modulo:4 %}
                {% assign product_count = product_count | plus: 1 %}

                {% if forloop.first or mod == 0 %}
                    <div class="collection__products__row row eq">
                {% endif %}

                <div class="col-xs-6 col-sm-3">

                    {% include 'product-grid-item' %}
                </div>

                {% if forloop.last or mod == 3 %}
                    </div>

                    {% if forloop.last == false %}

                    {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
        {% else %}
            <div class="collection__products__row row">
                <div class="col-sm-12">
                    <div class="spacer"></div>
                    <div class="collection__empty">
                        <h3>The bad news? There's nothing here to wrap.</h3>
                        <p>The good news? We found you something better below.</p>
                    </div>
                    <div class="spacer-xl"></div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if paginate.pages > 1 %}
                <div class="spacer"></div>
                {% include 'pagination' %}
            {% endif %}

            <div class="divider"></div>
        </div>
    </div>

</div>
{% endpaginate %}

{% if settings.collection_collection != blank %}
    {% assign collection = collections[settings.collection_collection] %}
    {% assign count = collections[settings.collection_collection].products_count %}
    {% if collection.empty? %}
        {% assign count = 0 %}
    {% endif %}

    {% case count %}
    {% when 1 %}
    {% assign column = 'col-sm-4 col-sm-offset-4' %}
    {% when 2 %}
    {% assign column = 'col-xs-6 col-sm-6' %}
    {% when 3 %}
    {% assign column = 'col-xs-6 col-sm-4' %}
    {% when 4 %}
    {% assign column = 'col-xs-6 col-sm-3' %}
{% else %}
    {% assign column = 'col-xs-6 col-sm-2' %}
    {% endcase %}

    <div class="container">
        {% unless settings.collection_collection_title == '' %}
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">{{ settings.collection_collection_title }}</h3>
            </div>
        </div>
        {% endunless %}

        <div class="row eq">
            {% for product in collection.products limit: 6 %}
                {% if product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}
                <div class="{{ column }}">
                    {% include 'product-grid-item' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}



<div class="spacer"></div>
<div class="container">
  <span class="more">
  {{ long_desc }}
  </span>
  
</div>
<br>
<br>
<div class="container">
    <div class="row">
        {% assign collection = collections[settings.collection_collection_grid_1] %}
        {% assign cta = settings.collection_collection_grid_1_cta %}
        <div class="col-sm-6">
            {% include 'collection-grid-item' %}
        </div>

        {% assign collection = collections[settings.collection_collection_grid_2] %}
        {% assign cta = settings.collection_collection_grid_2_cta %}
        <div class="col-sm-6">
            {% include 'collection-grid-item' %}
        </div>
    </div>
</div>

<!-- TO UNINSTALL SEGMENT FOR SHOPIFY, DELETE THE FOLLOWING AUTOGENERATED CODE: -->
<script type="text/javascript"> if (typeof upsellSegmentCollectionScript !== "undefined") { upsellSegmentCollectionScript({ title: {{collection.title | json}}, url: {{collection.url | json}}, all_products_count: {{collection.all_products_count | json}}, default_sort_by: {{collection.default_sort_by | json}} }); } else { console.warn("Notice for the store admin, follow the guide here: https://segment.upsell-apps.com/help/uninstall"); } </script>
<!-- END AUTOGENERATED CODE -->

<script async>

  // Configure/customize these variables.
    var showChar = 250;  // How many characters are shown by default
    var ellipsestext = "";
    var moretext = "Read more";
    var lesstext = "Show less";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<strong><a href="" class="morelink">' + moretext + '</a></strong></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
</script >
