<!-- /templates/collection.list.liquid -->

{% paginate collection.products by 20 %}

{% if collection.image %}
<div class="collection-image"
     style="background-image: url('{{ collection.image | img_url: '2048x2048', format: 'pjpg' }}');"> {% endif %}
    <div class="collection-title text-center">
        <div class="grid">
            <h1 class="collection-text--headline title grid__item one-whole">{{ collection.title }}</h1>
            {% if collection.description.size > 0 %}
                <div class="collection-text--body text-center rte grid__item large--three-fifths push--large--one-fifth">
                    <p class="h4--body">{{ collection.description }}</p>
                </div>
            {% endif %}
        </div>
    </div>
    {% if collection.image %}
    <div class="collection-image-overlay"></div>
</div>
{% endif %}

<div class="wrapper">
    {% if settings.collection_sorting %}
        <div class="row text-right collection__sort">
            {% include 'collection-sorting' %}
        </div>
    {% endif %}
    <div class="page-margin grid--rev">
        {% if settings.collection_custom_nav_list != blank or settings.collection_standard_nav or settings.collection_type_nav or settings.collection_vendor_nav or settings.collection_tag_nav %}
        <div class="grid__item large--three-quarters">
            {% else %}
            <div class="grid__item large--one-whole">
                {% endif %}
                <div class="grid-uniform">
                    {% for product in collection.products %}
                        {% if product.type == 'SHOPSTORM_HIDDEN_PRODUCT' %}{% continue %}{% endif %}
                        {% include 'product-list-item' %}
                    {% else %}
                        <div class="grid__item">
                            <p>{{ 'collections.general.no_matches' | t }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% if paginate.pages > 1 %}
                    <hr>
                    <div class="text-center">
                        {% include 'pagination-custom' %}
                    </div>
                {% endif %}
            </div>
            {% if settings.collection_custom_nav_list != blank or settings.collection_standard_nav or settings.collection_type_nav or settings.collection_vendor_nav or settings.collection_tag_nav %}
                <div class="grid__item large--one-quarter">
                    {% include 'collections-sidebar' %}
                </div>
            {% endif %}
        </div>
        {% endpaginate %}
    </div>
