{{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}

{% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}
{% assign formatted_initial_value_stripped = formatted_initial_value | strip_html %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="spacer"></div>
            <div class="giftcard {% if gift_card.expired or gift_card.enabled != true %}giftcard--disabled{% endif %}">

                <h4>Here's your {{ shop.name }} gift card!</h4>

                {% unless gift_card.enabled %}
                <h6>Disabled</h6>
                {% endunless %}
                {% assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" %}
                {% if gift_card.expired and gift_card.enabled %}
                    <h6>Expired on {{ gift_card_expiry_date }}</h6>
                {% endif %}
                {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
                    <h6>Expires on {{ gift_card_expiry_date }}</h6>
                {% endif %}

                <div class="spacer-sm"></div>

                <div class="giftcard__card">
                    <img src="{{ 'wrapped-gift-card.png' | asset_url }}" alt="Gift card">

                    {% assign initial_value_size = formatted_initial_value | size %}
                    <div class="giftcard__card__amount">
                        <strong>{{ formatted_initial_value }}</strong>
                        {% if gift_card.balance != gift_card.initial_value %}
                            <small>{{ gift_card.balance | money }} left</small>
                        {% endif %}
                    </div>

                    <div class="giftcard__card__code" onclick="selectText('GiftCardDigits');">
                        <div class="giftcard__card__code__inner">
                            <strong class="giftcard__card__code__text" id="GiftCardDigits">
                                {{ gift_card.code | format_code }}
                            </strong>
                        </div>
                    </div>
                </div>

                <div class="spacer-xs"></div>

                <p>Use this code at checkout to redeem your gift card</p>

                <div id="QrCode"></div>
                <script>
                    new QRCode(document.getElementById('QrCode'), {
                        text: "{{ gift_card.qr_identifier }}",
                        width: 120,
                        height: 120
                    });
                </script>

                <a class="button button--black" href="{{ shop.url }}" target="_blank">Start Shopping</a>
                <div class="spacer-sm"></div>
                <a class="button button--text" href="#" onclick="window.print();">
                    <i class="icon icon-print"></i> Print
                </a>

            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    /*============================================================================
     Auto-select gift card code on click, based on ID passed to the function
     - Use a different method depending on IE or others
     ==============================================================================*/
    function selectText(element) {
        var doc = document, text = doc.getElementById(element), range = null;

        if (doc.body.createTextRange) { // ms
            range = doc.body.createTextRange();
            range.moveToElementText(text);
            range.select();
        } else if (window.getSelection) { // moz, opera, webkit
            var selection = window.getSelection();
            range = doc.createRange();
            range.selectNodeContents(text);
            selection.removeAllRanges();
            selection.addRange(range);
        }
    }
</script>

