{% paginate collections by 32 %}
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">All Collections</h2>
        </div>
    </div>

    {% for collection in collections %}

        {% assign mod = forloop.index0 | modulo:6 %}

        {% if forloop.first or mod == 0 %}
            <div class="row">
        {% endif %}

        <div class="col-sm-2">
            {% include 'collection-grid-item-small' %}
        </div>

        {% if forloop.last or mod == 5 %}
            </div>

            {% if forloop.last == false %}

            {% endif %}
        {% endif %}

    {% endfor %}

    <div class="row">
        <div class="col-sm-12">
            {% if paginate.pages > 1 %}
                <div class="spacer"></div>
                {% include 'pagination' %}
            {% endif %}
        </div>
    </div>

</div>
{% endpaginate %}