<div class="hero"
     style="background-image: url({{ 'homepage_hero_image.jpg' | asset_img_url: '1600x' }})"
>
    <div class="hero__overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="hero__heading">{{ page.title }}</h2>

                <h3 class="hero__subheading">Become a wrapped supplier</h3>

                <div class="spacer-sm"></div>
                <a class="button button--white" href="{{ settings.sellers_link }}">Apply now</a>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content text-center">
                {{ page.content }}
            </div>
        </div>
    </div>
    
    <div class="spacer-xs"></div>

    <div class="row">
        <div class="col-sm-12">
            <div class="seller-content seller-content--left">
                <div class="seller-content__image"
                     style="background-image: url({{ 'sellers_row_1_image.jpg' | asset_img_url: '1000x' }})"></div>
                <div class="seller-content__content">
                    <h4>{{ settings.sellers_row_1_heading }}</h4>
                    <p>{{ settings.sellers_row_1_body }}</p>
                </div>
            </div>

            <div class="seller-content seller-content--right">
                <div class="seller-content__image"
                     style="background-image: url({{ 'sellers_row_2_image.jpg' | asset_img_url: '1000x' }})"></div>
                <div class="seller-content__content">
                    <h4>{{ settings.sellers_row_2_heading }}</h4>
                    <p>{{ settings.sellers_row_2_body }}</p>
                </div>
            </div>

            <div class="seller-content seller-content--left">
                <div class="seller-content__image"
                     style="background-image: url({{ 'sellers_row_3_image.jpg' | asset_img_url: '1000x' }})"></div>
                <div class="seller-content__content">
                    <h4>{{ settings.sellers_row_3_heading }}</h4>
                    <p>{{ settings.sellers_row_3_body }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer-xs"></div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="button button--black button--large" href="{{ settings.sellers_link }}">Apply now</a>
        </div>
    </div>
</div>

{% include 'blog-recent' %}