<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <h3 class="page-title">{{ page.title }}</h3>

            <div class="content text-center">
                {{ page.content }}
            </div>

            <div class="spacer-sm"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">

                <div class="col-sm-4">
                    <div class="content">
                        {% if settings.contact_address != blank %}
                            <h5>Address:</h5>
                            <p>
                                {{ settings.contact_address | newline_to_br }}
                            </p>
                            <div class="spacer-xs"></div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="content">
                        {% if settings.contact_email != blank or settings.contact_phone != blank %}
                            <h5>Contact details</h5>
                            <div class="spacer-xs"></div>
                            <ul class="list list--icons">
                                {% if settings.corporate_contact_email != blank %}
                                    <li>
                                        <i class="icon icon-mail"></i> <a
                                                href="mailto:{{ settings.corporate_contact_email }}">{{ settings.corporate_contact_email }}</a>
                                    </li>
                                {% endif %}
                                {% if settings.contact_phone != blank %}
                                    <li>
                                        <i class="icon icon-speech-bubble"></i> <a
                                                href="tel:{{ settings.contact_phone }}">{{ settings.contact_phone }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="spacer-sm"></div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="content">
                        <h5>Connect on social media</h5>
                        <div class="spacer-xs"></div>
                        <ul class="list list--icons">
                            {% if settings.social_twitter_link != blank %}
                                <li>
                                    <i class="icon icon-twitter"></i> <a
                                            href="{{ settings.social_twitter_link }}">Twitter</a>
                                </li>
                            {% endif %}
                            {% if settings.social_facebook_link != blank %}
                                <li>
                                    <i class="icon icon-facebook"></i> <a
                                            href="{{ settings.social_facebook_link }}">Facebook</a>
                                </li>
                            {% endif %}
                            {% if settings.social_instagram_link != blank %}
                                <li>
                                    <i class="icon icon-instagram"></i> <a
                                            href="{{ settings.social_instagram_link }}">Instagram</a>
                                </li>
                            {% endif %}
                            {% if settings.social_pinterest_link != blank %}
                                <li>
                                    <i class="icon icon-pinterest"></i> <a
                                            href="{{ settings.social_pinterest_link }}">Pinterest</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
