<div class="hero"
     style="background-image: url({{ 'homepage_hero_image.jpg' | asset_img_url: '1600x' }})"
>
    <div class="hero__overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="hero__heading">{{ page.title }}</h2>

                <h3 class="hero__subheading">Wrapped presents<br>gifts worth unwrapping</h3>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="content">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

{% include 'cross-promotion-2' %}

{% include 'blog-recent' %}