<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <h3 class="page-title">{{ page.title }}</h3>

            <div class="content text-center">
                {{ page.content }}
            </div>

            <div class="spacer-sm"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-2">

            {% form 'contact' %}
            <div class="form">

                {% if form.posted_successfully? %}
                    <p>
                        Thanks! We'll be in touch.
                    </p>
                {% endif %}

                {{ form.errors | default_errors }}

                <div class="form__group">
                    <label for="ContactFormName">Name</label>
                    <input type="text" id="ContactFormName" name="contact[name]" autocapitalize="words"
                           value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
                </div>

                <div class="form__group">
                    <label for="ContactFormPhone">Phone</label>
                    <input type="tel" id="ContactFormPhone" name="contact[phone]" pattern="[0-9\-]*"
                           value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                </div>


                <div class="form__group">
                    <label for="ContactFormEmail">Email</label>
                    <input type="email" id="ContactFormEmail" name="contact[email]"
                           autocorrect="off" autocapitalize="off"
                           value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                </div>

                {% assign form_body = form.body | strip %}
                <div class="form__group">
                    <label for="ContactFormMessage">Comment</label>
                    <textarea rows="10" id="ContactFormMessage"
                              name="contact[body]">{% if form_body %}{{ form_body }}{% endif %}</textarea>
                </div>

                <button class="button button--black button--block" type="submit">Send</button>

            </div>
            {% endform %}
        </div>

        <div class="col-sm-6 col-md-3 col-md-offset-1">
            <div class="content">

                {% if settings.contact_address != blank %}
                    <h5>Address:</h5>
                    <p>
                        {{ settings.contact_address | newline_to_br }}
                    </p>
                    <div class="spacer-xs"></div>
                {% endif %}

                {% if settings.contact_email != blank or settings.contact_phone != blank %}
                    <h5>Contact details</h5>
                    <div class="spacer-xs"></div>
                    <ul class="list list--icons">
                        {% if settings.contact_email != blank %}
                            <li>
                                <i class="icon icon-mail"></i> <a
                                        href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a>
                            </li>
                        {% endif %}
                        {% if settings.contact_phone != blank %}
                            <li>
                                <i class="icon icon-speech-bubble"></i> <a
                                        href="tel:{{ settings.contact_phone }}">{{ settings.contact_phone }}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="spacer-sm"></div>
                {% endif %}

                <h5>Connect on social media</h5>
                <div class="spacer-xs"></div>
                <ul class="list list--icons">
                    {% if settings.social_twitter_link != blank %}
                        <li>
                            <i class="icon icon-twitter"></i> <a
                                    href="{{ settings.social_twitter_link }}">Twitter</a>
                        </li>
                    {% endif %}
                    {% if settings.social_facebook_link != blank %}
                        <li>
                            <i class="icon icon-facebook"></i> <a
                                    href="{{ settings.social_facebook_link }}">Facebook</a>
                        </li>
                    {% endif %}
                    {% if settings.social_instagram_link != blank %}
                        <li>
                            <i class="icon icon-instagram"></i> <a
                                    href="{{ settings.social_instagram_link }}">Instagram</a>
                        </li>
                    {% endif %}
                    {% if settings.social_pinterest_link != blank %}
                        <li>
                            <i class="icon icon-pinterest"></i> <a
                                    href="{{ settings.social_pinterest_link }}">Pinterest</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</div>
