<div class="hero hero--wrapbattle"
     style="background-image: url({{ 'wrapbattle_header_image.jpg' | asset_img_url: '1600x' }})"
>
    <div class="hero__overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img class="hero__image" src="{{ 'wrapped-wrapbattle-stamp.png' | asset_img_url: '300x300' }}"
                     alt="#WrapBattle">

                <div class="spacer"></div>

                <h1 class="hero__heading">{{ settings.wrapbattle_heading }}</h1>
                <h2 class="hero__subheading">{{ settings.wrapbattle_subheading }}</h2>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="content text-center">
                {{ page.content }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <h4 class="page-title">Wrap Battle 1<br><small>17/11/2016</small></h4>
        </div>
        <div class="col-xs-6 col-sm-5 col-sm-offset-1">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/flourish-organics-scented-gift-pack-lemongrass" style="background-image: url({{ 'wrapbattle-contest-01-winner.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/flourish-organics-scented-gift-pack-lemongrass">Flourish Organics Scented Gift Pack - Lemongrass</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$136.70</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/personalised-gumleaf-serving-board" style="background-image: url({{ 'wrapbattle-contest-01-loser.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/personalised-gumleaf-serving-board">Personalised Gumleaf Serving Board</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$88.00</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <h4 class="page-title">Wrap Battle 2<br><small>22/11/2016</small></h4>
        </div>
        <div class="col-xs-6 col-sm-5 col-sm-offset-1">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/personalised-message-chocolate-and-ferrero-rocher-gift-pack" style="background-image: url({{ 'wrapbattle-contest-02-winner.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/personalised-message-chocolate-and-ferrero-rocher-gift-pack">Personalised Message Chocolate and Ferrero Rocher Gift Pack</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$64.45</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/golden-prosecco" style="background-image: url({{ 'wrapbattle-contest-02-loser.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/golden-prosecco">18K Gold Prosecco Luxury Hamper</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$219.00</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <h4 class="page-title">Wrap Battle 3<br><small>24/11/2016</small></h4>
        </div>
        <div class="col-xs-6 col-sm-5 col-sm-offset-1">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/mulled-christmas-tube" style="background-image: url({{ 'wrapbattle-contest-03-winner.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/mulled-christmas-tube">Mulled Christmas Tube</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$120.00</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/max-brenners-chocolate-first-aid" style="background-image: url({{ 'wrapbattle-contest-03-loser.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/max-brenners-chocolate-first-aid">Max Brenner's Chocolate First Aid Kit</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$110.00</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <h4 class="page-title">Wrap Battle 4<br><small>29/11/2016</small></h4>
        </div>
        <div class="col-xs-6 col-sm-5 col-sm-offset-1">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/sterling-silver-and-gold-fill-three-tag-necklace" style="background-image: url({{ 'wrapbattle-contest-04-winner.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/sterling-silver-and-gold-fill-three-tag-necklace">Sterling Silver And Gold Fill Three Tag Necklace</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$65.00</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/oozoo-c7766-pearl-finish-watch-stone-grey" style="background-image: url({{ 'wrapbattle-contest-04-loser.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/oozoo-c7766-pearl-finish-watch-stone-grey">OOZOO C7766 - 40mm - Grey Pearl Finish Watch - Stone Grey and Rose Gold</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$149.00</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <h4 class="page-title">Wrap Battle 5<br><small>01/12/2016</small></h4>
        </div>
        <div class="col-xs-6 col-sm-5 col-sm-offset-1">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/hello-sailor-gift-hamper" style="background-image: url({{ 'wrapbattle-contest-05-winner.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/hello-sailor-gift-hamper">Hello Sailor Gift Hamper</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$160.00</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/freckleberry-belgium-chocolate-lollies-gift-pack" style="background-image: url({{ 'wrapbattle-contest-05-loser.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/freckleberry-belgium-chocolate-lollies-gift-pack">Freckleberry Belgium Chocolate & Lollies Gift Pack</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$45.00</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <h4 class="page-title">Wrap Battle 6<br><small>06/12/2016</small></h4>
        </div>
        <div class="col-xs-6 col-sm-5 col-sm-offset-1">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/mens-limited-edition-gift-box" style="background-image: url({{ 'wrapbattle-contest-06-winner.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/mens-limited-edition-gift-box">Men's Limited Edition Gift Box</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$169.00</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/guava-and-lychee-sorbet-luxury-gift-pack" style="background-image: url({{ 'wrapbattle-contest-06-loser.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/guava-and-lychee-sorbet-luxury-gift-pack">ECOYA Guava and Lychee Sorbet Luxury Gift Pack</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$84.95</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <h4 class="page-title">Wrap Battle 7<br><small>08/12/2016</small></h4>
        </div>
        <div class="col-xs-6 col-sm-5 col-sm-offset-1">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/the-favourites-tea-12-pack" style="background-image: url({{ 'wrapbattle-contest-07-winner.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/the-favourites-tea-12-pack">T2 The Favourites Tea - 12 Pack</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$99.50</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-5">
            <div class="panel panel--product">
                <div class="panel__header" style="padding-bottom: 60%;">
                    <a class="panel__header__background" href="/products/cristian-navy-mens-pyjama-set" style="background-image: url({{ 'wrapbattle-contest-07-loser.jpg' | asset_url }})"></a>
                    <div class="panel__header__ribbons">
                        <ul class="panel__header__ribbons__list">
                        </ul>
                    </div>
                </div>

                <div class="panel__body">

                    <a class="panel__body__title" href="/products/cristian-navy-mens-pyjama-set">Christian Mens Pyjama Set - Navy</a>
                    <div class="panel__body__price">
                        <span class="panel__body__price__current">$69.90</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="spacer-md"></div>
<div class="container">
    <div class="col-sm-12">
        <div class="divider"></div>
    </div>
</div>
<div class="spacer-sm"></div>

<div class="hide-mobile">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="content text-center">
                    <h3><a href="https://www.instagram.com/wrappedbyredballoon" target="_blank">#WrapBattle</a></h3>
                </div>
            </div>
        </div>

    </div>


    <div class="spacer"></div>
    {% include 'instagram-feed' %}
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        {% assign collection = collections[settings.collection_collection_grid_1] %}
        {% assign cta = settings.collection_collection_grid_1_cta %}
        <div class="col-sm-6">
            {% include 'collection-grid-item' %}
        </div>

        {% assign collection = collections[settings.collection_collection_grid_2] %}
        {% assign cta = settings.collection_collection_grid_2_cta %}
        <div class="col-sm-6">
            {% include 'collection-grid-item' %}
        </div>
    </div>
</div>