<div class="hero hero--collection"
     style="background-image: url({{ 'wishlist_background_image.jpg' | asset_img_url: '1600x' }})">
    <div class="hero__overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                {% if settings.wishlist_heading %}
                    <h3 class="hero__preheading">{{ settings.wishlist_heading }}</h3>
                {% endif %}
                
                 {% if settings.wishlist_subheading%}
                    <h2 class="hero__heading">{{ settings.wishlist_subheading}}</h2>
                {% endif %}
                
                {% if settings.wishlist_desc  %}
                <h3 class="hero__subheading">{{ settings.wishlist_desc }}</h3>
                   
                {% endif %}
               
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content">
                 <!-- include 'wishlist-collection' -->
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
  jQuery(document).ready(function() {
    setInterval(function() { 
        var total_wishlist_records = jQuery('.wk-row .wk-item-column').length;
        if(total_wishlist_records == 0 || total_wishlist_records == '') {
          jQuery('body').addClass('empty-wishlist');
        }
    }, 500);
  });
  
</script>
