<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1 class="page-title">{{ page.title }}</h1>

            <div class="content">
                {{ page.content }} <!-- include 'wishlist-shared' -->
            </div>
        </div>
    </div>
</div>