{% layout none %}
<!doctype html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//trade-orders.appira.com/css/thankyou-page-styles.css?3"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body class="ordira-thankyou">

<div id="container" class="slim">
    <div class="header-wrap">
        <div id="header">
            <div class="header-logo"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo" onError="style.display='none';"></div>
        </div>
    </div>

    <div id="main">
        <div id="overview" >
            <div class="info">
                <h2><img src="//trade-orders.appira.com/images/thanks.png">Thank you for your order!</h2>
                <div style="padding-left:35px;">
                    <p>
                        {% if page.content > "" %}
                            {{ page.content }}
                        {% else %}
                            An email receipt containing information about your order will soon follow. Please keep it for your records.
                        {% endif %}
                    </p>
                    <p>Order <span data-value="name"></span></p>
                    <br/>
                    <a href="/" class="btn" >Return to store</a>
                </div>
                {% if customer.default_address %}
                <hr>
                <h3>Shipping address</h3>
                <p>
                    {{ customer.default_address.name }}<br />

                    {{ customer.default_address.address1 }},

                    {% if customer.default_address.address2 > "" %}
                    {{ customer.default_address.address2 }},
                    {% endif %}

                    {% if customer.default_address.company > "" %}
                    <br />{{ customer.default_address.company }},
                    {% endif %}

                    <br />{{ customer.default_address.city }},

                    {% if customer.default_address.province > "" %}
                    <br />{{ customer.default_address.province }},
                    {% endif %}

                    {{ customer.default_address.zip | upcase }},

                    <br />{{ customer.default_address.country }},

                    {% if customer.default_address.phone > "" %}
                    <br />{{ customer.default_address.phone }}
                    {% endif %}
                </p>
                {% endif %}
            </div>
            <table id="thumbs" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th colspan="3">Order Summary</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">Discounts</td>
                    <td>-<span data-value="discount"></span></td>
                </tr>
                <tr id="trade-orders-shipping" style="display:none;">
                    <td colspan="2">Shipping (<span id="trade-orders-shipping-name"></span>)</td>
                    <td><span id="trade-orders-shipping-price">0.00</span></td>
                </tr>
                <tr>
                    <td colspan="2">Total</td>
                    <td><span data-value="total"></span></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="clear"></div>
    </div>

    <div id="footer" class="footer">
        <div id="shop-policies" style="text-align:center; font-size: 11px;"></div>
        <p> All rights reserved. © {{shop.name}}.</p>
    </div>
</div>

<script>
    var TradeOrders = {
        customer: "{{customer.id}}",
        shopAddress: "{{shop.permanent_domain}}",
        url: "//trade-orders.appira.com",
        handle: "trade-orders",
        currency: "{{ 0 | money | remove: '0' | remove: '.' | strip_html }}"
    };
    window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">\x3C/script>');
</script>
<script src="//trade-orders.appira.com/js/trade-orders-thankyou.js" type="text/javascript"></script>

</body>
</html>
