{% layout none %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>{{ shop.name }}</title>

    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png"/>

    {% include 'social-meta-tags' %}

    {{ content_for_header }}

    <!-- CSS ================================================== -->
    {{ 'holding.css' | asset_url | stylesheet_tag }}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    {% include 'google-fonts' %}

    <!-- JS ================================================== -->
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="holding">
                <img class="holding__logo" src="{{ 'wrapped.png' | asset_url }}" width="750" height="248"
                     alt="{{ shop.name }}">

                <h2 class="holding__heading">Ordinary gifts can be given. <br>But extraordinary gifts are Wrapped.</h2>

                <p class="holding__body">Christmas is coming and so are we. Sign up today and get $10 off your first purchase.</p>

                <div class="holding__form">
                    {% form 'customer' %}
                    {{ form.errors | default_errors }}
                    {% if form.posted_successfully? %}
                        <p>We'll let you know when we've launched. Thanks for signing up, we're wrapped to have you on board.</p>
                    {% else %}
                        <input type="hidden" name="contact[tags]" value="prospect, password page">
                        <div class="holding__form__input-group">
                            <input class="holding__form__input-group__input"
                                   type="email"
                                   name="contact[email]"
                                   placeholder="Enter your email here" autofocus>
                            <span class="holding__form__input-group__button">
                                <button type="submit" name="commit">Go <i class="fa fa-angle-right"></i></button>
                            </span>
                        </div>
                    {% endif %}
                    {% endform %}
                </div>

                <div class="holding__social">
                    {% capture link %}{{ shop.url | url_param_escape }}{% endcapture %}
                    {% capture title %}{{ shop.password_message | url_param_escape }}{% endcapture %}
                    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ link }}">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a target="_blank"
                       href="//twitter.com/share?url={{ link }}&amp;text=Sign+up+today+and+get+$10+credit+on+your+first+purchase.">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="//plus.google.com/share?url={{ link }}">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal"><i class="fa fa-lock"></i></a>

<div id="LoginModal" class="password-page__login-form text-center mfp-hide">
    {% form 'storefront_password' %}
    <h3 class="holding__heading">Login</h3>
    {{ form.errors | default_errors }}
    <div class="holding__form__input-group">
        <input type="password" name="password" id="password" class="holding__form__input-group__input"
               placeholder="Password" autofocus>
        <span class="holding__form__input-group__button">
          <button type="submit">Enter</button>
        </span>
    </div>
    {% endform %}
</div>

{{ 'magnific-popup.min.js' | asset_url | script_tag }}

<script>
    $(function () {
        $('.js-toggle-login-modal').magnificPopup({
            type: 'inline',
            mainClass: 'mfp-fade',
            closeOnBgClick: false,
            closeBtnInside: false,
            closeOnContentClick: false,
            tClose: {{ 'general.password_page.close' | t | json }},
            removalDelay: 500,
            callbacks: {
                open: function () {
                    window.setTimeout(function () {
                        document.getElementById('password').focus();
                    }, 50);
                }
            }
        });
        if ($('.storefront-password-form .errors').size()) {
            $('.js-toggle-login-modal').click();
        }
    });
</script>

</body>
</html>

