{% if product.type  == 'SHOPSTORM_HIDDEN_PRODUCT' %}
    Product is not available
    {% break %}
{% endif %}

{% assign form_action = '/cart/add' %}
{% assign form_method = 'post' %}
{% assign form_id = "AddToCartForm" %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}

{% assign content = product.description %}
{% if content contains '[tabs]' %}
    {% assign content = content | split: '[/tabs]' | last %}
{% endif %}

{% include 'product-callbacks' %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% include 'breadcrumbs' %}
        </div>
    </div>
</div>

{% assign current_variant = product.selected_variant %}

<div itemscope itemtype="http://schema.org/Product" class="product">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: '2048x2048' }}">
    <meta itemprop="name" content="{{ product.title }}">

    <div class="container">
        <div class="row">

            {% if product.images.size == 0 %}
                <div class="col-sm-3"></div>
            {% else %}
                <div class="col-sm-6">

                    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                    <div class="feature__image">
                        <img src="{{ featured_image | img_url: '1024x1024', format: 'pjpg' }}" alt="Gift card">
                    </div>

                    {% if product.images.size > 1 %}
                        <div class="product__gallery">
                            {% for image in product.images %}
                                <div class="product__gallery__item">
                                    <div class="product__image"
                                         style="background-image: url({{ image.src | img_url: '1024x1024', format: 'pjpg' }})"
                                         data-image="{{ image.src | img_url: '1024x1024', format: 'pjpg' }}"
                                         data-zoom="{{ image.src | img_url: '1024x1024', format: 'pjpg' }}"></div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            {% endif %}

            <div class="col-sm-6">
                {% include 'product-details-giftcard' %}
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="spacer-sm"></div>
            <div class="divider"></div>
            {% include 'cross-promotion' %}
        </div>
    </div>
</div>

<!-- Klaviyo Integration -->
<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>