{% if product.type  == 'SHOPSTORM_HIDDEN_PRODUCT' %}
    Product is not available
    {% break %}
{% endif %}

{% assign form_action = '/cart/add' %}
{% assign form_method = 'post' %}
{% assign form_id = "AddToCartForm" %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}

{% assign content = product.description %}
{% if content contains '[tabs]' %}
    {% assign content = content | split: '[/tabs]' | last %}
{% endif %}

{% include 'product-callbacks' %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% include 'breadcrumbs' %}
        </div>
    </div>
</div>

{% assign current_variant = product.selected_variant %}

<div itemscope itemtype="http://schema.org/Product" class="product">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: '2048x2048' }}">
    <meta itemprop="name" content="{{ product.title }}">

    <div class="container">
        <div class="row">

            {% if product.images.size == 0 %}
                <div class="col-sm-3"></div>
            {% else %}
                <div class="col-sm-6">

                    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                    <div class="feature__image">
                        <div class="product__image"
                             style="background-image: url({{ featured_image | img_url: '1024x1024', format: 'pjpg' }})"
                             data-zoom="{{ featured_image | img_url: '1024x1024', format: 'pjpg' }}"></div>
                    </div>

                    {% if product.images.size > 1 %}
                        <div class="product__gallery">
                            {% for image in product.images %}
                                <div class="product__gallery__item">
                                    <div class="product__image"
                                         style="background-image: url({{ image.src | img_url: '1024x1024', format: 'pjpg' }})"
                                         data-image="{{ image.src | img_url: '1024x1024', format: 'pjpg' }}"
                                         data-zoom="{{ image.src | img_url: '1024x1024', format: 'pjpg' }}"></div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            {% endif %}

            <div class="col-sm-6">
                {% include 'product-details' %}
            </div>
        </div>
    </div>

    <div class="spacer"></div>


    {% include 'product-tabs' %}
</div>

<div class="spacer"></div>

{% include 'product-related-items' %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="spacer-sm"></div>
            <div class="divider"></div>
            {% include 'cross-promotion' %}
        </div>
    </div>
</div>

<script type="text/javascript">
  var PRODUCT = {{ product | json }};
  var PRODUCT_ID = PRODUCT.id;
  var SKU        = PRODUCT.variants[0].sku;
  var CATEGORY   = PRODUCT.type;
  var NAME       = PRODUCT.title;
  var PRICE      = (PRODUCT.price / 100);
  var BRAND      = PRODUCT.vendor;
  var URL        = PRODUCT.url;
  var PRICE_MIN  = (PRODUCT.price_min / 100);
  var PRICE_MAX  = (PRODUCT.price_max / 100);
  var PRICE_VARIES = PRODUCT.price_varies;
  var COLLECTIONS  = [{% for collection in product.collections %}"{{ collection.title }}",{% endfor %}];
  var AVAILABLE    = PRODUCT.available;
  var OPTIONS      = ["{{ product.options | join: '", "' }}"];
  var OPTIONS_COUNT = {{ product.options.size }};
  var TAG = ["{{ product.tags | join: '", "' }}"];

  analytics.track('Product Viewed', {
    product_id: PRODUCT_ID,
    category: CATEGORY,
    name: NAME,
    url: URL,
    price: PRICE,
    priceMin: PRICE_MIN,
    priceMax: PRICE_MAX,
    priceVaries: PRICE_VARIES,
    brand: BRAND,
    collections: COLLECTIONS,
    available: AVAILABLE,
    options: OPTIONS,
    optionsCount: OPTIONS_COUNT,
    tag: TAG
  });
</script>

<!-- Klaviyo Integration -->
<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<!-- TO UNINSTALL SEGMENT FOR SHOPIFY, DELETE THE FOLLOWING AUTOGENERATED CODE: -->
<script type="text/javascript"> if (typeof upsellSegmentProductScript !== "undefined") { upsellSegmentProductScript({{product | json}}, {{product.selected_or_first_available_variant | json}}, [{% for collection in product.collections %}"{{ collection.title }}",{% endfor %}], {{ product.url | default: '' | json }}, {{ product.variants.size | default: 0 | json }} ); } else { console.warn("Notice for the store admin, follow the guide here: https://segment.upsell-apps.com/help/uninstall"); } </script>
<!-- END AUTOGENERATED CODE -->

